<wicket:extend>
    <h2>Applicant - <span wicket:id="registrant.fullname" class="form_field"/>
        <a id="button_return" href="#" name="add_return" wicket:id="registrationOptionPage"><font style="color: #069">View Dash Board</font></a>
    </h2>

    <div wicket:id="feedback" id="error"></div>
    <div class="recordsData">
        <h3>
            <span name="type_name">Application</span> Information</h3>

        <div id="list_display" class="recordsData">

            <div class="editRecord">
                <p>Edit This Information</p>
                <ul>
                    <li id="list_edit_link_node">
                        <a name="list_edit_link" href="#" wicket:id="applicationApprovalPage">Process Application</a>
                    </li> 
                    <li id="list_edit_link_node">
                        <a name="list_edit_link" href="#" wicket:id="conditionConfirmationPage">Add Practice Conditions</a>
                    </li>                     
                </ul>
            </div> <!-- editRecord -->
            <div class="dataTable">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <th colspan="2"><span name="type_name">Application</span></th>
                        </tr>

                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Application Purpose</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="applicationPurpose">sample</span>
                                </b>
                            </td>
                        </tr>

                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Application Date</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="applicationDate" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Application Status</label>
                                </span>:
                            </td>
                            <td>                               
                                <b style="color: red;">
                                    <span wicket:id="applicationStatus" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Institution</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="institution" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Proposed Discipline</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="course" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Approved Discipline</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="approvedCourse" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Processed By</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="processedBy"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Date Processed</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="dateProcessed"></span>
                                </b>
                            </td>
                        </tr>

                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Approved By</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="approvedBy"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Date Approved</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="dateApproved"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Practice Conditions</label>
                                </span>:
                            </td>
                            <td>
                                <b style="color: red;">
                                    <span class="form_field" wicket:id="registrant.conditions"></span>
                                </b>
                            </td>
                        </tr>                        
                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Comment</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="comment"></span>
                                </b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> <!-- dataTable -->

        </div>

        <br style="clear: both;">
    </div> <!-- recordsData -->

    <div class="recordsData">
        <h3><span name="type_name">Supporting Document</span></h3>
        <p id="contact_links" class="editRecordsData">
            <a onclick="return hideDiv('contact', this);" title="Hide" class="hide" href="">Hide</a>           
            <span>
                <a href="#" wicket:id="registrantDocumentPage">Add Supporting Document</a>
            </span>  
        </p> 
        <!-- Supporting Documents Panel -->
        <span wicket:id="supportingDocumentPanel">Supporting Document Panel List</span>
        <!-- End  -->
         <!-- Registrant Qualification Panel -->
        <span wicket:id="registrantQualificationPanelList">Qualification Panel List</span>
        <!-- End  -->

        <table border="0" cellpadding="0" cellspacing="0">
            <thead>
                <tr id="lists_header">
                    <th>
                        OutStanding <span name="type_name">Requirements</span> Upload
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="lists_body">
                <tr wicket:id="requirementsList">
                    <td>
                        <span wicket:id="name" name="lists_row_name">Birth Certificate</span>
                    </td>
                    <td>
                        <a href="#" name="lists_row_link" wicket:id="registrantDocumentPage">
                            Upload
                        </a>                            
                    </td>
                    <td>
                        <form wicket:id="form">
                            <input type="checkbox" wicket:id="submitted" name="submitted" value="Submitted"> Tick Submission
                            <input type="submit" name="Save" value="save">                                 
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <br/>
    </div> <!-- recordsData -->

</wicket:extend>
