<wicket:extend>
    <h1>Select Qualification Type  in System - Pending Applications</h1>
    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable">
            
            <tr>
                <td>Application Purpose</td>
                <td><div title="Limit this field to be equal to the given value.">
                        <select name="applicationPurpose" wicket:id="applicationPurpose" type="text" ></select>
                    </div></td>
            </tr>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field"></td>
                                </tr>
                                <tr class="submitCell">
                                    <td>
                                        <input id="button_return" type="submit" class="button" value="Search" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>  
    <span wicket:id="applicationPendingAlertPage">Unapproved Applications List</span>
</wicket:extend>