<wicket:extend>
    <div class="recordsData">
        <h2> <span wicket:id="registrant.fullname"></span></h2>
    </div>
    <h1>Date Posted  - Verification/Certificate of Good Standing Application</h1>
    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2"><span name="type_name">Current Application Status - <label for="currentStatus"><span wicket:id="currentStatus"></span></label></span></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="datePosted"><span wicket:id="datePostedLabel">this</span></label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="datePosted" wicket:id="datePosted" type="text" />
                            </span>
                        </p>
                    </td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field">* - Required Field</td>
                                </tr>
                                <tr class="submitCell">
                                    <td>
                                        <a id="button_return" wicket:id="registrantViewPage" href="#" name="add_return" class="button">return (do not save changes)</a>
                                        <input type="submit" class="button" value="Process" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

</wicket:extend>
