<wicket:panel xmlns:wicket="http://www.w3.org/1999/xhtml">
   	
    <div class="recordsData" id="select_list">
        <div id="select_list_results">
            <table border="0" cellpadding="0" cellspacing="0">
                <thead>
                    <tr id="lists_header">
                        <th>Full Name</th>
                        <th>Application Purpose</th>
                        <th>Date</th>
                        <th>Institution</th>
                        <th>Course</th>
                        <th>Status</th>                     
                    </tr>
                </thead>
                <tbody id="lists_body">
                    <tr wicket:id="eachItem">
                        <td>
                            <span wicket:id="registrant.fullname" name="lists_row_name"></span>                          
                        </td>
                        <td>
                            <a href="#" name="lists_row_link" wicket:id="applicationViewPage">
                                <span wicket:id="applicationPurpose" name="lists_row_name"></span>
                            </a>                            
                        </td>
                        <td>
                            <span wicket:id="applicationDate" name="lists_row_name"></span>
                        </td>
                        <td>
                            <span wicket:id="institution" name="lists_row_name"></span>
                        </td>
                        <td>
                            <span wicket:id="course" name="lists_row_name"></span>
                        </td>                       
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br />
</wicket:panel>
