<wicket:extend>
    <h1>Application Page</h1>
    <div>
        <h2><a href="#" wicket:id="applicationSimpleSearchPage">Search Applications</a></h2>
        <p>Search Applications saved in the database</p>
        <hr />
        <h2><a href="#" wicket:id="approvedApplicationSearchPage">Search Approved Applications</a></h2>
        <p>Search Approved Applications saved in the database</p>
        <hr />
    </div>
    <div>
        <h2><a href="#" wicket:id="applicationPendingPage" > Search Pending Applications</a></h2>
        <p>Search Applications saved in the database</p>
        <hr />
    </div>   
    <div>
        <h2><a href="#" wicket:id="expiredApplicationPage" > Search Expired Applications</a></h2>
        <p>Search Applications saved in the database</p>
        <hr />
    </div>  
    <br style="clear: both;"> 
    <div id="list_display" class="recordsData">
        <div class="dataTable">
            <table border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <th><span name="type_name">Application Status</span></th>
                        <th><span name="type_name">Total Number</span></th>
                    </tr>
                    <tr class="even" wicket:id="applicationsTotal">
                        <td>
                            <span class="field_head">
                                <span class="form_field" wicket:id="name"></span>
                            </span>:
                        </td>
                        <td>
                            <b>
                                <span class="form_field" wicket:id="total"></span>
                            </b>
                        </td>                         
                    </tr>
                </tbody>
            </table>
        </div> <!-- dataTable -->
    </div>
</wicket:extend>
