<wicket:extend>
    <h1>Add Applicant Information</h1>
    <h2><span name="type_name">Applicant</span>:<span wicket:id="registrant.fullname" class="form_field"></span></h2>

    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2"><span name="type_name">Current Application Status - <label for="currentStatus"><span wicket:id="currentStatus"></span></label></span></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="applicationDate">Application Date</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <label for="applicationDate"><span wicket:id="applicationDate"></span></label>*
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="startDate">Commencement Date</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="startDate" wicket:id="startDate" type="text" />                                
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="endDate">Completion Date</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="endDate" wicket:id="endDate" id="endDate" type="text" />
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="course">Proposed Discipline</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="course" wicket:id="course"></select>                                    
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="institution"><span wicket:id="institutionLabel"></span></label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="institution" wicket:id="institution"></select>                                    
                            </span>
                        </p>
                    </td>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="applicationPurpose">Application Purpose</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="applicationPurpose" wicket:id="applicationPurpose"></select>                                    
                            </span>
                        </p>  
                        <p>
                            <span class="field_head required_field">
                                <label for="qualificationType" wicket:id="qualificationTypeLabel">Application Type</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="qualificationType" wicket:id="qualificationType"> </select>                                   
                            </span>
                        </p> 
                        <p>
                            <span class="field_head required_field">
                                <label for="approvedCourse"><span wicket:id="approvedCourseLabel"></span></label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="approvedCourse" wicket:id="approvedCourse"></select>                                    
                            </span>
                        </p>
                    </td>                 
                </tr>
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="dateApproved"><span wicket:id="dateApprovedLabel">this</span></label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="dateApproved" wicket:id="dateApproved" type="text" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="dateProcessed"><span wicket:id="dateProcessedLabel">this</span></label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="dateProcessed" wicket:id="dateProcessed" type="text" />
                            </span>
                        </p>


                        <p>
                            <span class="field_head required_field">
                                <label for="dateApprovedByBoard"><span wicket:id="dateApprovedByBoardLabel">this</span></label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="dateApprovedByBoard" id="dateApprovedByBoard" wicket:id="dateApprovedByBoard" type="text" />
                            </span>
                        </p>
                    </td>
                    <td>
                        <p>

                            <span class="field_head required_field">
                                <label for="processedBy"><span wicket:id="processedByLabel">this</span></label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="processedBy" wicket:id="processedBy"> </select>
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="approvedBy"><span wicket:id="approvedByLabel">this</span></label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select wicket:id="approvedBy"> </select>
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="approvedByboard"><span wicket:id="approvedByboardLabel">this</span></label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select wicket:id="approvedByboard"> </select>
                            </span>
                        </p>

                    </td>         
                </tr>
                <tr>
                    <td>
                        <span class="field_head required_field">
                            <label for="comment"><span wicket:id="commentLabel">Comment</span></label>
                        </span>
                        <br />
                        <span class="form_field">
                            <textarea wicket:id="comment" rows="8" cols=""></textarea>
                        </span>
                    </td>
                    <td >
                        <p>
                            <span class="field_head required_field">
                                <label for="applicationStatus"><span wicket:id="applicationStatusLabel"> </span></label>
                            </span>
                            <br />                       
                            <span class="form_field">
                                <select name="applicationStatus" wicket:id="applicationStatus"></select>
                            </span>
                        </p> 
                    </td>

                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field">* - Required Field</td>
                                </tr>
                                <tr class="submitCell">
                                    <td>
                                        <a id="button_return" wicket:id="registrantViewPage" href="#" name="add_return" class="button">return (do not save changes)</a>
                                        <input type="submit" class="button" value="Process" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</wicket:extend>