<wicket:extend>
    <div class="recordsData">
        <span wicket:id="registrantPanel"></span>
    </div>
    <h1>Verification/Certificate of Good Standing Application</h1>    
    <div wicket:id="feedback" id="error"></div>
    <a id="button_return" wicket:id="addInstitutionPage" href="#" name="add_return" class="button" style="float: right;">Add New Institution</a>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2"><span name="type_name">Current Application Status - <label for="currentStatus"><span wicket:id="currentStatus"></span></label></span></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="applicationDate">Application Date</label>*
                            </span>
                            <br />
                            <span class="form_field">                   
                                <label for="applicationDate"><span wicket:id="applicationDate"></span></label>*
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="institution"><span wicket:id="institutionLabel"></span></label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="institution" wicket:id="institution"/>                                    
                            </span>
                        </p>
                    </td>                     
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="applicationPurpose">Application Purpose</label>*
                            </span>
                            <br />
                            <span class="form_field">                               
                                <label for="applicationPurpose"><span wicket:id="applicationPurpose"></span></label>*
                            </span>
                        </p>  
                        <p>
                            <span class="field_head required_field">
                                <label for="employmentType">Employment Type</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="employmentType" wicket:id="employmentType"> </select>                                   
                            </span>
                        </p> 
                    </td>                 
                </tr>
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="dateProcessed"><span wicket:id="dateProcessedLabel">this</span></label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="dateProcessed" wicket:id="dateProcessed" type="text" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="dateApproved"><span wicket:id="dateApprovedLabel">this</span></label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="dateApproved" wicket:id="dateApproved" type="text" />
                            </span>
                        </p>
                    </td>
                    <td>
                        <p>

                            <span class="field_head required_field">
                                <label for="processedBy"><span wicket:id="processedByLabel">this</span></label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="processedBy" wicket:id="processedBy"></select>
                            </span>
                        </p>

                        <p>

                            <span class="field_head required_field">
                                <label for="approvedBy"><span wicket:id="approvedByLabel">this</span></label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select wicket:id="approvedBy"> </select>
                            </span>
                        </p>

                    </td>         
                </tr>

                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="registerTypes">Qualifications</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <Label wicket:id="registerTypes"></Label>
                            </span>
                        </p>
                    </td>

                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="currentDurationLabel"><span wicket:id="currentDurationLabel"></span></label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select wicket:id="councilDuration"> </select>
                            </span>
                        </p>
                    </td>
                </tr>
                
                <tr>
                    <td>  
                        <p>
                            <span class="field_head required_field">
                                <label for="anyPendingCases"><span wicket:id="displineryCasesLabel">this</span></label>
                            </span>
                            <br />
                            <span class="form_field">
                                <Label wicket:id="anyPendingCases"></Label>
                            </span>
                        </p>
                    </td>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="anyPendingCasesMisconductTypes"><span wicket:id="misconductTypeLabel">this</span></label>
                            </span>
                            <br />
                            <span class="form_field">
                                <Label wicket:id="anyPendingCasesMisconductTypes"></Label>
                            </span>
                        </p>
                    </td>
                </tr>

                <tr>
                    <td >
                        <p>
                            <span class="field_head required_field">
                                <label for="comment"><span wicket:id="commentLabel"></span></label>
                            </span>
                            <br />
                            <span class="form_field">
                                <textarea wicket:id="comment" rows="6" cols=""/>
                            </span>
                        </p>
                    </td>
                    <td >

                        <p>
                            <span class="field_head required_field">
                                <label for="applicationStatus"><span wicket:id="applicationStatusLabel"> </span></label>
                            </span>
                            <br />                       
                            <span class="form_field">
                                <select name="applicationStatus" wicket:id="applicationStatus"></select>
                            </span>
                        </p> 
                        <p>
                            <span class="field_head required_field">
                                <label for="datePosted"><span wicket:id="datePostedLabel">this</span></label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="datePosted" wicket:id="datePosted" type="text" />
                            </span>
                        </p>
                    </td>

                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field">* - Required Field</td>
                                </tr>
                                <tr class="submitCell">
                                    <td>
                                        <a id="button_return" wicket:id="registrantViewPage" href="#" name="add_return" class="button">return (do not save changes)</a>
                                        <input type="submit" class="button" value="Process" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

</wicket:extend>
