<wicket:extend>
    <h1>Pending Applications </h1>
    <div wicket:id="feedback" id="error"></div>
    <span wicket:id="applicationPendingAlertPage">Unapproved Applications List</span>
</wicket:extend>