<wicket:extend>
    <h1>Add Applicant Information</h1>
    <h2><span name="type_name">Applicant</span>:<span wicket:id="registrant.fullname" class="form_field"></span></h2>

    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2"><span name="type_name">Current Application Status - <label for="currentStatus"><span
                        wicket:id="currentStatus"></span></label></span></th>
            </tr>
            <tbody id="list_fields">
            <tr>
                <td>
                    <p>
                            <span class="field_head required_field">
                                <label for="applicationDate">Application Date</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <input for="applicationDate" type="text" wicket:id="applicationDate"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="qualification">Qualification</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <select name="qualification" wicket:id="qualification"></select>                                    
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="trainingInstitution">Tarining Institution</label>*             
                            </span>
                        <br/>
                        <span class="form_field">
                                <select name="trainingInstitution" wicket:id="trainingInstitution"></select>                                    
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="institution">Awarding Institution</label>*             
                            </span>
                        <br/>
                        <span class="form_field">
                                <select name="institution" wicket:id="institution"></select>                                    
                            </span>
                    </p>
                </td>
                <td>
                    <p>
                            <span class="field_head required_field">
                                <label for="applicationPurpose">Application Purpose</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <select name="applicationPurpose" wicket:id="applicationPurpose"></select>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="dateAwarded">Date Awarded</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <input for="dateAwarded" type="text" wicket:id="dateAwarded"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="applicationDate">Commencement Date</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <input for="qualificationStartDate" type="text" wicket:id="qualificationStartDate"/>
                            </span>
                    </p>
                    <p>
                            <span class="field_head required_field">
                                <label for="applicationDate">Completion Date</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <input for="qualificationEndDate" type="text" wicket:id="qualificationEndDate"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="course">Course</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <select name="course" wicket:id="course"></select>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="applicationStatus"><span wicket:id="applicationStatusLabel"> </span></label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <select name="applicationStatus" wicket:id="applicationStatus"></select>
                            </span>
                    </p>

                </td>
            </tr>
            <tr>
                <td>
                    <p>
                            <span class="field_head required_field">
                                <label for="dateProcessed"><span wicket:id="dateProcessedLabel">this</span></label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="dateProcessed" wicket:id="dateProcessed" type="text"/>
                            </span>
                    </p>
                    <p>
                            <span class="field_head required_field">
                                <label for="dateApproved"><span wicket:id="dateApprovedLabel">this</span></label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="dateApproved" wicket:id="dateApproved" type="text"/>
                            </span>
                    </p>
                </td>
                <td>
                    <p>

                            <span class="field_head required_field">
                                <label for="processedBy"><span wicket:id="processedByLabel">this</span></label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <select name="processedBy" wicket:id="processedBy"> </select>
                            </span>
                    </p>

                    <p>

                            <span class="field_head required_field">
                                <label for="approvedBy"><span wicket:id="approvedByLabel">this</span></label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <select wicket:id="approvedBy"> </select>
                            </span>
                    </p>

                </td>
            </tr>
            <tr>
                <td colspan="2">

                        <span class="field_head required_field">
                            <label for="comment"><span wicket:id="commentLabel">Comment</span></label>
                        </span>
                    <br/>
                    <span class="form_field">
                            <textarea wicket:id="comment" rows="6" cols="20"/>
                        </span>
                </td>

            </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody>
                            <tr class="messageCell">
                                <td class="required_field">* - Required Field</td>
                            </tr>
                            <tr class="submitCell">
                                <td>
                                    <a id="button_return" wicket:id="registrantViewPage" href="#" name="add_return"
                                       class="button">return (do not save changes)</a>
                                    <input type="submit" class="button" value="Process"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</wicket:extend>
