<wicket:extend>
    <h1>Search for Approved Applications in System</h1>
    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable">
            <tr>
                <td>Search</td>
                <td><div title="Limit this field to be equal to the given value.">
                        <input name="searchtxt" wicket:id="searchtxt" id="searchtxt" type="text" title="Search by the firstname, lastname, id number, registration number or institution name."/>
                    </div></td>
            </tr>
            <tr>
                <td>Choose Application Purpose</td>
                <td><div title="Limit this field to be equal to the given value.">
                        <select name="applicationPurpose" wicket:id="applicationPurpose" type="text" ></select>
                    </div></td>
            </tr>
            <tr>
                <td>Application Start Date</td>
                <td><div title="Application Start Period.">
                        <input name="startDate" wicket:id="startDate" type="text" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>Application End Date</td>
                <td><div title="Application End Period.">
                        <input name="endDate" wicket:id="endDate" type="text" />
                    </div></td>
            </tr>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field"></td>
                                </tr>
                                <tr class="submitCell">
                                    <td>
                                        <input id="button_return" type="submit" class="button" value="Search" />
                                        <input id="button_return" type="submit" class="button" value="Print" wicket:id="report" />                                                                              
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>  

    <!-- Registrant Data List Panel -->
    <span wicket:id="unApprovedApplicationsDataListPanel">Applications List</span>
    <!-- End  -->

</wicket:extend>
