<wicket:extend>
    <h2>Applicant - <span wicket:id="registrant.fullname" class="form_field"/>
        <a id="button_return" href="#" name="add_return" wicket:id="registrationOptionPage"><font style="color: #069">View Dash Board</font></a>
    </h2>

    <div wicket:id="feedback" id="error"></div>
    <div class="recordsData">
        <h3>
            <span name="type_name">Application</span> Information</h3>

        <div id="list_display" class="recordsData">

            <div class="editRecord">
                <p>Edit This Information</p>
                <ul>
                    <li id="list_edit_link_node">
                        <a name="list_edit_link" href="#" wicket:id="applicationApprovalPage">Process Application</a>
                    </li>                
                </ul>
            </div> <!-- editRecord -->
            <div class="dataTable">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <th colspan="2"><span name="type_name">Application - Current Application Status <label for="currentStatus"><span wicket:id="currentStatus"></span></label></span></th>
                        </tr>

                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>ApplicationPurpose</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="applicationPurpose">sample</span>
                                </b>
                            </td>
                        </tr>

                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Application Date</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="applicationDate" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Application Status</label>
                                </span>:
                            </td>
                            <td>                               
                                <b style="color: red;">
                                    <span wicket:id="applicationStatus" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>New First Name</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="course" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Approved By</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="approvedBy"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Date Approved</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="dateApproved"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Comment</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="comment"></span>
                                </b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> <!-- dataTable -->

        </div>

        <br style="clear: both;">
    </div> <!-- recordsData -->

    <div class="recordsData">
        <h3><span name="type_name">Supporting Document</span></h3>
        <p id="contact_links" class="editRecordsData">
            <a onclick="return hideDiv('contact', this);" title="Hide" class="hide" href="">Hide</a>           
            <span>
                <a href="#" wicket:id="registrantDocumentPage">Add Supporting Document</a>
            </span>  
        </p> 
        <!-- Supporting Documents Panel -->
        <span wicket:id="supportingDocumentPanel">Supporting Document Panel List</span>
        <!-- End  -->

    </div> <!-- recordsData -->

</wicket:extend>
