<wicket:extend>
    <h1>Add Applicant Information</h1>
    <h2><span name="type_name">Applicant</span>:<span wicket:id="registrant.fullname" class="form_field"></span></h2>

    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2"><span name="type_name">Application</span></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="applicationDate">Application Date</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="applicationDate" wicket:id="applicationDate" type="text" />
                            </span>
                        </p>
                    </td>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="applicationPurpose">Application Purpose</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <label  name="applicationPurposeLabel" wicket:id="applicationPurposeLabel"></label>                                   
                            </span>
                        </p>  
                        <p>
                            <span class="field_head required_field">
                                <label for="transferRule">Transfer</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="transferRule" wicket:id="transferRule"> </select>                                   
                            </span>
                        </p> 
                        </td>                 
                </tr>
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="dateProcessed"><span wicket:id="dateProcessedLabel">this</span></label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="dateProcessed" wicket:id="dateProcessed" type="text" />
                            </span>
                        </p>
                        
                        <p>
                            <span class="field_head required_field">
                                <label for="dateApproved"><span wicket:id="dateApprovedLabel">this</span></label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="dateApproved" wicket:id="dateApproved" type="text" />
                            </span>
                        </p>
                    </td>
                    <td>
                        <p>

                            <span class="field_head required_field">
                                <label for="processedBy"><span wicket:id="processedByLabel">this</span></label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="processedBy" wicket:id="processedBy"> </select>
                            </span>
                        </p>

                        <p>

                            <span class="field_head required_field">
                                <label for="approvedBy"><span wicket:id="approvedByLabel">this</span></label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select wicket:id="approvedBy"> </select>
                            </span>
                        </p>

                    </td>         
                </tr>
                <tr>
                    <td >
                        
                        <span class="field_head required_field">
                            <label for="comment"><span wicket:id="commentLabel"></span></label>
                        </span>
                        <br />
                        <span class="form_field">
                            <textarea wicket:id="comment" rows="6" cols=""></textarea>
                        </span>
                    </td>
                    <td >
                        <p>
                            <span class="field_head required_field">
                                <label for="applicationStatus"><span wicket:id="applicationStatusLabel"> </span></label>
                            </span>
                            <br />                       
                            <span class="form_field">
                                <select name="applicationStatus" wicket:id="applicationStatus"></select>
                            </span>
                        </p> 
                    </td>

                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field">* - Required Field</td>
                                </tr>
                                <tr class="submitCell">
                                    <td>
                                        <a id="button_return" wicket:id="registrantViewPage" href="#" name="add_return" class="button">return (do not save changes)</a>
                                        <input type="submit" class="button" value="Process" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</wicket:extend>
