<wicket:extend>
    <h1>View <span name="type_name">Institution</span>: <span wicket:id="name" name="list_name"></span></h1>
      
    <div wicket:id="feedback" id="error"></div>    
    <form wicket:id="form">
        <table class="multiFormTable">
            <tr>
                <td>
                    <p>
                        <span class="field_head required_field">
                            <label for="searchtxt">Search for Practitioner In Charge</label>*
                        </span>
                        <br />
                        <span class="form_field">
                            <input name="searchtxt" wicket:id="searchtxt" id="searchtxt" type="text" title="Search by the firstname, lastname, id number and registration number"/>
                        </span>
                        <input type="submit" value="Search" class="button">
                        <a id="button_return" wicket:id="institutionViewPage" href="#" name="add_return" class="button">return (do not save changes)</a>
                    </p>                   
                </td>                
            </tr>
        </table>
    </form>  

    <div style="float:right" class="pager_display" id="select_list_pager_display">
        <h2><div wicket:id="navigator"></div></h2>
    </div>	
    <div class="recordsData" id="select_list">
        <div id="select_list_results">
            <table border="0" cellpadding="0" cellspacing="0">
                <thead>
                    <tr id="lists_header">
                        <th>Last Name</th>
                        <th>First Name </th>                        
                        <th>Middle Name</th>
                        <th>ID Number</th>
                        <th>Registration Number</th>
                        <th>Gender</th>
                        <th></th>                        
                    </tr>
                </thead>
                <tbody id="lists_body">
                    <tr wicket:id="eachItem">
                        <td>
                            <span wicket:id="lastname" name="lists_row_name"></span>
                        </td>
                        <td>
                            <span wicket:id="firstname" name="lists_row_name"></span>                          
                        </td>                        
                        <td>
                            <span wicket:id="middlename" name="lists_row_name"></span>
                        </td>
                        <td>
                            <span wicket:id="idNumber" name="lists_row_name"></span>
                        </td>
                        <td>
                            <span wicket:id="registrationNumber" name="lists_row_name"></span>
                        </td>
                        <td>
                            <span wicket:id="gender" name="lists_row_name"></span>
                        </td>
                        <td>
                            <a href="#" name="lists_row_link" wicket:id="saveSupervisor">
                                Save Practitioner In Charge
                            </a>
                        </td> 
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br />
    
  
</wicket:extend>
