<wicket:extend>
    <h1>Institution Practice Control Inspection</h1>
    <h2><span name="type_name">Institution</span>:<span wicket:id="application.institution.name" class="form_field"></span></h2>

    <div id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2"><span name="type_name">Institution Practice Control Inspection</span></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="decisionStatus">Decision Status </label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="decisionStatus" wicket:id="decisionStatus"></select>
                            </span>
                        </p>                
                        <p>
                            <span class="field_head required_field">
                                <label for="mark">The institution meets the prescribed standards.</label>*
                            </span>
                            <br />                       
                            <span class="form_field">
                                <input type="checkbox" wicket:id="institutionMeetsStandards" name="institutionMeetsStandards"/>
                            </span>
                        </p> 
                        <p>
                            <span class="field_head required_field">
                                <label for="mark">The construction and location are suitable</label>*
                            </span>
                            <br />                       
                            <span class="form_field">
                                <input type="checkbox" wicket:id="constructionLocation" name="constructionLocation"/>
                            </span>
                        </p> 
                        <p>
                            <span class="field_head required_field">
                                <label for="mark">Equipment or facilities are adequate for intended use</label>*
                            </span>
                            <br />                       
                            <span class="form_field">
                                <input type="checkbox" wicket:id="equipmentFacility" name="equipmentFacility"/>
                            </span>
                        </p> 
                        <p>
                            <span class="field_head required_field">
                                <label for="mark">Persons who will practice  or be employed  are suitable qualified</label>*
                            </span>
                            <br />                       
                            <span class="form_field">
                                <input type="checkbox" wicket:id="employedAndQualified" name="employedAndQualified"/>
                            </span>
                        </p> 
                        <p>
                            <span class="field_head required_field">
                                <label for="mark">It is for the public interest that the institution is to be registered.</label>*
                            </span>
                            <br />                       
                            <span class="form_field">
                                <input type="checkbox" wicket:id="registerdInstitution" name="registerdInstitution"/>
                            </span>
                        </p> 
                        <p>
                            <span class="field_head required_field">
                                <label for="mark">Recommendations for registering will be forwarded to the Health Professions Authority.</label>*
                            </span>
                            <br />                       
                            <span class="form_field">
                                <input type="checkbox" wicket:id="recommendationSentTOHPA" name="recommendationSentTOHPA"/>
                            </span>
                        </p> 
                       
                        <p>
                            <span class="field_head required_field">
                                <label for="comments">Findings </label>*
                            </span>
                            <br />
                            <span class="form_field">
                                 <textarea wicket:id="comment" rows="10" cols="20"></textarea>
                            </span>
                        </p>
                    </td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field">* - Required Field</td>
                                </tr>
                                <tr class="submitCell">
                                    <td>
                                        <a id="button_return" wicket:id="institutionViewPage" href="#" name="add_return" class="button">return (do not save changes)</a>
                                        <input type="submit" class="button" value="Save" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

</wicket:extend>
