<wicket:extend>    
    <h2>Institution Contact Information- <span wicket:id="registrant.fullname" class="form_field"/>(IN CHARGE) </h2>

    <span wicket:id="registrantContactPanelList">Institution Contact Panel List</span>
    <!-- End  -->
    <span wicket:id="registrantAddressPanelList">Institution Address Panel List</span>
    <!-- End  -->
    <div id="button">
        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
            <tbody>
                <tr class="submitCell">
                    <td>
                       <a wicket:id="applicationLink" href="#" name="add_return" class="button" >Next</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <a wicket:id="contactsPage" href="#" name="add_return" class="button" >View</a>
    


</wicket:extend>
