
<wicket:extend>
    <h1 class="header">
        <span name="type_name">Institution</span>
    </h1>

    <span name="list_is_writable">
        <a href="#" wicket:id="addNewLink" name="add_type" class="add_new_link">
            Add new 
            <span name="type_name">Institution</span>
        </a>
    </span>
    <div class="recordsData">               
        <p id="contact_links" class="editRecordsData">               
            <span>
                <a name="list_edit_link" href="#" wicket:id="all">All Institutions</a>

                <a href="#" name="lists_row_link" wicket:id="health">
                    <span wicket:id="institutionType" name="lists_row_name"></span>
                </a>

                <a href="#" wicket:id="training">Training Institutions</a>

                <a name="list_edit_link" href="#" wicket:id="council">Councils</a>

            </span>               
            <br style="clear: both;">
        </p>
    </div>

    <div class="recordsData" id="select_list">
        <div id="select_list_results">
            <table id="tableList" cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr id="lists_header">
                        <th>
                            Institution
                        </th>
                        <th>
                            Institution Type
                        </th>
                        <th>
                            Institution Category
                        </th>
                        <th>
                            Retired
                        </th>
                    </tr>
                </thead>
                <tbody id="lists_body">
                    <tr wicket:id="eachItem">
                        <td>
                            <a href="#" name="lists_row_link" wicket:id="viewLink">
                                <span wicket:id="name" name="lists_row_name"></span>
                            </a>
                        </td>
                        <td>
                            <span wicket:id="institutionType" name="lists_row_name"></span>
                        </td>
                        <td>
                            <span wicket:id="institutionCategory" name="lists_row_name"></span>
                        </td>
                        <td>
                            <span wicket:id="retired" name="lists_row_name"></span>
                        </td>
                    </tr>

                </tbody>
            </table>
            <div style="float:right" class="pager_display" id="select_list_pager_display">
            </div>	

        </div>
    </div>
    <br />

</wicket:extend>
