<wicket:extend>

    <h1>Application - <span name="type_name">Registration for Health Institution</span>:</h1> 
    <div wicket:id="feedback" id="error"></div>
    <div class="recordsData">
        <h3>
            <span name="type_name">Application Status <span class="form_field" wicket:id="currentStatus">sample</span></span>
        </h3>
        <div id="list_display" class="recordsData">

            <div class="editRecord">
                <p>Edit This Information</p>
                <ul>
                    <li id="list_edit_link_node">
                        <a name="list_edit_link" href="#" wicket:id="editLink">Update Information</a>
                    </li>
                    <li>
                        <a name="list_edit_link" href="#" wicket:id="changeApplicationStatus">Change Application Status</a>
                    </li>                                  
                </ul>
            </div> <!-- editRecord -->

            <div class="dataTable">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <th colspan="2"><span name="type_name">Institution</span></th>
                        </tr>

                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Name</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="institution.name">sample</span>
                                </b>
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Institution Type</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="institution.institutionType" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Institution Category</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="institution.institutionCategory" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Institution Services</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="institution.services" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Customer Account Number</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="institution.customerAccount"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Balance</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="institution.customerAccount.account.balance"></span>
                                </b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> <!-- dataTable -->

        </div>

        <br style="clear: both;">
    </div> <!-- recordsData -->

    <div class="recordsData">
        <!-- Supporting Documents Panel -->
        <span wicket:id="supportingDocumentPanel">Supporting Document Panel List</span>
        <!-- End  -->
    </div> <!-- recordsData -->

    <span name="type_name" wicket:id="institutionAssemmentPanelList"></span>  
    
    <span name="type_name" wicket:id="institutionPracticeControlPanelList"></span>    

    <span name="type_name" wicket:id="institutionInspectionPanelList"></span>

    <div class="recordsData">
        <h3>
            <span name="type_name">Institution Approval</span></h3>
        <p id="contact_links" class="editRecordsData">
            <a onclick="return hideDiv('contact', this);" title="Hide" class="hide" href="">Hide</a>           
            <span>
                <a name="list_edit_link" href="#" wicket:id="applicationApprovalPage">Approve</a>
            </span>
            <br style="clear: both;">    
        </p>

        <div class="dataTable">
            <table border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <th colspan="2"><span name="type_name">Application</span></th>
                    </tr>

                    <tr class="">
                        <td>
                            <span class="field_head">
                                <label>Application Date</label>
                            </span>:
                        </td>
                        <td>
                            <b>
                                <span class="form_field" wicket:id="applicationDate">sample</span>
                            </b>
                        </td>
                    </tr>

                    <tr class="even">
                        <td>
                            <span class="field_head">
                                <label>Application Status</label>
                            </span>:
                        </td>
                        <td>
                            <b>
                                <span wicket:id="applicationTextStatus" class="form_field"></span>
                            </b>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> <!-- dataTable -->
        <br style="clear: both;">
    </div>
</wicket:extend>
