<wicket:extend>
    <h1>Application - <span name="type_name">Registration for Health Institution</span>:</h1>
    <h2><span name="type_name">Applicant</span>:<span wicket:id="institution.registrant.fullname" class="form_field"></span></h2>

    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2"><span name="type_name">Current Application Status - <label for="currentStatus"><span wicket:id="currentStatus"></span></label></span></th>
            </tr>
            <tbody id="list_fields">
                <tr>  
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="applicationStatus">Application Status</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="applicationStatus" wicket:id="applicationStatus"> </select>
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="findings">Comments </label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <textarea wicket:id="comment" rows="10" cols="20"></textarea>
                            </span>
                        </p>
                    </td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field">* - Required Field</td>
                                </tr>
                                <tr class="submitCell">
                                    <td>
                                        <a id="button_return" wicket:id="institutionApplicationViewPage" href="#" name="add_return" class="button">return (do not save changes)</a>
                                        <input type="submit" class="button" value="Save" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

</wicket:extend>
