<wicket:extend>
    <h1>Institution Assessment</h1>
    <h2><span name="type_name">Institution</span>:<span wicket:id="application.institution.name" class="form_field"></span></h2>

    <div id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2"><span name="type_name">Institution Assessment</span></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="decisionStatus">Decision Status </label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="decisionStatus" wicket:id="decisionStatus"></select>
                            </span>
                        </p>                
                                         <p>
                            <span class="field_head required_field">
                                <label for="date"> Date </label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="date" wicket:id="date" type="text" />
                            </span>
                        </p>            
                        <p>
                            <span class="field_head required_field">
                                <label for="dateAwarded">Assessor </label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="assessor" wicket:id="assessor" type="text" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="comments">Findings </label>*
                            </span>
                            <br />
                            <span class="form_field">
                                 <textarea wicket:id="comments" rows="10" cols="20"></textarea>
                            </span>
                        </p>
                    </td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field">* - Required Field</td>
                                </tr>
                                <tr class="submitCell">
                                    <td>
                                        <a id="button_return" wicket:id="institutionViewPage" href="#" name="add_return" class="button">return (do not save changes)</a>
                                        <input type="submit" class="button" value="Save" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

</wicket:extend>
