<wicket:extend>
    <h1 class="header">
        <a href="#" wicket:id="administerDatabaseLink">Administer Database</a>: <span name="type_name">Course</span>
    </h1>
    <div id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th><span name="type_name" wicket:id="labelTitle">
                         
                        Remove Duplicate Institutions in Registrant Qualifications Tables </span></th>
                <th></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="duplicate">Institution</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="duplicate" wicket:id="duplicate"></select>                                    
                            </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="name">Select Institutions</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input type="checkbox" wicket:id="advanced2" name="name"/>
                            </span>
                        </p>
                        <div wicket:id="wmc2">
                            Institution:<br />
                            <span wicket:id="institutions"></span>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td>
                    <div id="button">
                        <table style="width: 100%; border: none; padding: 0px; margin: 0px;">
                            <tr class="messageCell">
                                <td class="required_field">* - Required Field</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" class="button" value="Save" />
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a id="button_return" wicket:id="returnLink" href="#" name="add_return" class="button">return (do not save changes)</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</wicket:extend>
