<wicket:extend>
    <h1 class="header">
        <span name="type_name">Institution</span>
    </h1>
    <div id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th><span name="type_name">Institution</span></th>
                <th></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="name" wicket:id="registrantNameLabel"></label>
                            </span>
                            <br />
                            <span class="form_field">
                                <label for="name" wicket:id="registrant.fullname" ></label>
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="name">Institution Name</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="name" wicket:id="name" id="name" type="text" />
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="">Institution Category</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select wicket:id="institutionCategory"></select>                        
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="district">District</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select id="district" wicket:id="district"></select>                        
                            </span>
                        </p>

                    </td> 
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="">Institution Type</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select wicket:id="institutionType"></select>                        
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="name" wicket:id="schoolNameLabel">School Name</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="name" wicket:id="schoolName" id="name" type="text" />
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="city">City</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select id="district" wicket:id="city"></select>                        
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="name" wicket:id="codeLabel">Institution Code</label>

                            </span>
                            <br />                       
                            <span class="form_field">
                                <input name="code" wicket:id="code" id="code" type="text" />
                            </span>
                        </p>

                    </td>
                </tr>                
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="mark">Registered</label>*
                            </span>
                            <br />                       
                            <span class="form_field">
                                <input type="checkbox" wicket:id="registered" name="registered"/>
                            </span>
                        </p> 


                        <p>
                            <span class="field_head required_field">
                                <label for="mark">Academic</label>
                            </span>
                            <br />                       
                            <span class="form_field">
                                <input type="checkbox" wicket:id="academic" name="academic"/>
                            </span>
                        </p> 

                        <p>
                            <span class="field_head required_field">
                                <label for="mark">Training Institution</label>
                            </span>
                            <br />                       
                            <span class="form_field">
                                <input type="checkbox" wicket:id="trainingInstitution" name="trainingInstitution"/>
                            </span>
                        </p> 
                        <p>
                            <a id="button_return" wicket:id="cityLink" href="#" name="add_return" class="button">Add City</a>
                            <a id="button_return" wicket:id="districtLink" href="#" name="add_return" class="button">Add District</a>
                            <a id="button_return" wicket:id="countryLink" href="#" name="add_return" class="button">Add Country</a>
                            <a id="button_return" wicket:id="provinceLink" href="#" name="add_return" class="button">Add Province</a>
                        </p>
                    </td>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="mark">Examination Center</label>
                            </span>
                            <br />                       
                            <span class="form_field">
                                <input type="checkbox" wicket:id="examiniationCenter" name="examinationCenter"/>
                            </span>
                        </p> 

                        <p>
                            <span class="field_head required_field">
                                <label for="council">Is a Council</label>
                            </span>
                            <br />                       
                            <span class="form_field">
                                <input type="checkbox" wicket:id="council" name="council"/>
                            </span>
                        </p> 
                        <p>
                            <span class="field_head required_field">
                                <label for="council">Is a Foreign Institution</label>
                            </span>
                            <br />                       
                            <span class="form_field">
                                <input type="checkbox" wicket:id="foreignInstitution" name="foreignInstitution"/>
                            </span>
                        </p> 
                        <p>
                            <span class="field_head required_field">
                                <label for="council">Retired</label>
                            </span>
                            <br />                       
                            <span class="form_field">
                                <input type="checkbox" wicket:id="retired" name="retired"/>
                            </span>
                        </p>                        
                    </td>
                </tr>       
            </tbody>
            <tr class="submitCell">
                <td>
                    <div id="button">
                        <table style="width: 100%; border: none; padding: 0px; margin: 0px;">
                            <tr class="messageCell">
                                <td class="required_field">* - Required Field</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" class="button" value="Save" />
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a id="button_return" wicket:id="returnLink" href="#" name="add_return" class="button">return (do not save changes)</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>          
        </table>
    </form>
</wicket:extend>
