<wicket:extend>
    <h1>Add/Update Institution Inspection</h1>
    <h2><span name="type_name">Institution</span>:<span wicket:id="application.institution.name" class="form_field"></span></h2>

    <div id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2"><span name="type_name">Institution Inspection</span></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="decisionStatus">Decision Status </label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="decisionStatus" wicket:id="decisionStatus"></select>
                            </span>
                        </p>
                
                        <p>
                            <span class="field_head required_field">
                                <label for="expectedInspectionDate">Expected Inspection Date </label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="expectedInspectionDate" wicket:id="expectedInspectionDate"/>
                            </span>
                        </p>
                 
                        <p>
                            <span class="field_head required_field">
                                <label for="inspectionDate">Inspection Date </label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="inspectionDate" wicket:id="inspectionDate" type="text" />
                            </span>
                        </p>
                
                        <p>
                            <span class="field_head required_field">
                                <label for="findings">Findings </label>*
                            </span>
                            <br />
                            <span class="form_field">
                                 <textarea wicket:id="findings" rows="10" cols="20"></textarea>
                            </span>
                        </p>
                  
                        <p>
                            <span class="field_head required_field">
                                <label for="mark">Inspection Done</label>*
                            </span>
                            <br />                       
                            <span class="form_field">
                                <input type="checkbox" wicket:id="inspectionDone" name="inspectionDone"/>
                            </span>
                        </p> 
                    </td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field">* - Required Field</td>
                                </tr>
                                <tr class="submitCell">
                                    <td>
                                        <a id="button_return" wicket:id="institutionViewPage" href="#" name="add_return" class="button">return (do not save changes)</a>
                                        <input type="submit" class="button" value="Save" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

</wicket:extend>
