<wicket:extend>
    <h1>Institution Page</h1>
    <div>
        <h2><a href="#" wicket:id="institutionEditPage">Add Institution</a></h2>
        <p>Add new Institution to system</p>
        <hr />
    </div>
    <div>
        <h2><a href="#" wicket:id="institutionView">View Institutions</a></h2>
        <p>View a list of Institutions not yet approved saved in the system</p>
        <hr />
    </div> 

    <div>
        <h2><a href="#" wicket:id="institutionMapEditPage">Remove Duplicate Institutions</a></h2>
        <p>Select one institution to replace those in qualification table</p>
        <hr />
    </div> 

    <div>
        <h2><a href="#" wicket:id="institutionRetireEditPage">Retire Multiply Institutions</a></h2>
        <p>Select institutions to retire</p>
        <hr />
    </div>
</wicket:extend>
