<wicket:extend>

    <h2><span name="type_name">Institution</span>:<span wicket:id="institution" class="form_field"></span></h2>

    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2"><span name="type_name">Institution Registration Information</span></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>

                        <p>
                            <span class="field_head required_field">
                                <label for="registrationDate">Registration Date</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="registrationDate" wicket:id="registrationDate" id="registrationDate" type="text" />
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <span wicket:id="deRegistrationLabelDate">De-Registration Date</span>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="deRegistrationDate" wicket:id="deRegistrationDate" id="deRegistrationDate" type="text" />
                            </span>
                        </p>

                    </td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field">* - Required Field</td>
                                </tr>
                                <tr class="submitCell">
                                    <td>
                                        <a id="button_return" wicket:id="institutionViewPage" href="#" name="add_return" class="button">return (do not save changes)</a>
                                        <input type="submit" class="button" value="Save" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

</wicket:extend>


