<wicket:extend>

    <h1>View <span name="type_name">Institution</span>: <span wicket:id="institution" name="list_name"></span></h1>
    <div wicket:id="feedback" id="error"></div>
    <div class="recordsData">
        <h3>
            <span name="type_name">Institution</span> Information</h3>

        <div id="list_display" class="recordsData">

            <div class="editRecord">
                <p>Edit This Information</p>
                <ul>
                    <li id="list_edit_link_node">
                        <a name="list_edit_link" href="#" wicket:id="editLink">Update this Information</a>
                    </li>
                    <li id="list_edit_link_node">
                        <a name="list_edit_link" href="#" wicket:id="registerInstitution">Register Institution</a>
                    </li>
                    <li id="list_edit_link_node">
                        <a name="list_edit_link" href="#" wicket:id="deRegisterInstitution">De-Register Institution</a>
                    </li>
                    <li id="list_edit_link_node">
                        <a name="list_edit_link" href="#" wicket:id="addInstitutionOwnerPage">Add Practitioner In
                            Charge</a>
                    </li>
                    <li id="list_edit_link_node">
                        <a name="list_edit_link" href="#" wicket:id="addSupervisorInstitutionPage">Add Supervisor</a>
                    </li>
                    <li id="list_view_link_node">
                        <a name="list_view_link" href="#" wicket:id="returnLink">
                            Select another <span name="type_name">Institution</span>
                        </a>
                    </li>
                </ul>
            </div> <!-- editRecord -->


            <div class="dataTable">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <th colspan="2"><span name="type_name">Institution</span></th>
                    </tr>

                    <tr class="">
                        <td>
                                <span class="field_head">
                                    <label>Name</label>
                                </span>:
                        </td>
                        <td>
                            <b>
                                <span class="form_field" wicket:id="name">sample</span>
                            </b>
                        </td>
                    </tr>

                    <tr class="">
                        <td>
                                <span class="field_head">
                                    <label>School Name</label>
                                </span>:
                        </td>
                        <td>
                            <b>
                                <span class="form_field" wicket:id="schoolName">sample</span>
                            </b>
                        </td>
                    </tr>

                    <tr class="">
                        <td>
                                <span class="field_head">
                                    <label>Institution Type</label>
                                </span>:
                        </td>
                        <td>
                            <b>
                                <span wicket:id="institutionType" class="form_field"></span>
                            </b>
                        </td>
                    </tr>
                    <tr class="">
                        <td>
                                <span class="field_head">
                                    <label>Examination Center</label>
                                </span>:
                        </td>
                        <td>
                            <b>
                                <span wicket:id="examiniationCenter" class="form_field"></span>
                            </b>
                        </td>
                    </tr>
                    <tr class="">
                        <td>
                                <span class="field_head">
                                    <label>Is a Council</label>
                                </span>:
                        </td>
                        <td>
                            <b>
                                <span wicket:id="council" class="form_field"></span>
                            </b>
                        </td>
                    </tr>

                    <tr class="">
                        <td>
                                <span class="field_head">
                                    <label>Institution Category</label>
                                </span>:
                        </td>
                        <td>
                            <b>
                                <span wicket:id="institutionCategory" class="form_field"></span>
                            </b>
                        </td>
                    </tr>
                    <tr class="even">
                        <td>
                                <span class="field_head">
                                    <label>Institution Services</label>
                                </span>:
                        </td>
                        <td>
                            <b>
                                <span wicket:id="services" class="form_field"></span>
                            </b>
                        </td>
                    </tr>
                    <tr class="even">
                        <td>
                                <span class="field_head">
                                    <label>Balance</label>
                                </span>:
                        </td>
                        <td>
                            <b>
                                <span class="form_field" wicket:id="customerAccount.account.balance"></span>
                            </b>
                        </td>
                    </tr>
                    <tr class="even">
                        <td>
                                <span class="field_head">
                                    <label>Practitioners In Charge</label>
                                </span>:
                        </td>
                        <td>
                            <b>
                                <span class="form_field" wicket:id="practitionersInCharge"></span>
                            </b>
                        </td>
                    </tr>
                    <tr class="even">
                        <td>
                                <span class="field_head">
                                    <label>Supervisors</label>
                                </span>:
                        </td>
                        <td>
                            <b>
                                <span class="form_field" wicket:id="supervisors"></span>
                            </b>
                        </td>
                    </tr>
                    <tr class="">
                        <td>
                                <span class="field_head">
                                    <label>Registration Date</label>
                                </span>:
                        </td>
                        <td>
                            <b>
                                <span class="form_field" wicket:id="registrationDate"></span>
                            </b>
                        </td>
                    </tr>
                    <tr class="even">
                        <td>
                                <span class="field_head">
                                    <label>De-Registration Date</label>
                                </span>:
                        </td>
                        <td>
                            <b>
                                <span class="form_field" wicket:id="deRegistrationDate"></span>
                            </b>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div> <!-- dataTable -->

        </div>

        <br style="clear: both;">
    </div> <!-- recordsData -->

    <div class="recordsData" id="select_list">
        <h3><span name="type_name">Institution Management</span></h3>
        <div id="select_list_results">
            <table border="0" cellpadding="0" cellspacing="0">
                <thead>
                <tr id="lists_header">
                    <th>
                        Practitioner
                    </th>
                    <th>
                        Supervisor
                    </th>
                    <th>
                        Practitioner In Charge
                    </th>
                    <th></th>

                </tr>
                </thead>
                <tbody id="lists_body">
                <tr wicket:id="institutionManagerList">
                    <td>
                        <span wicket:id="registrant.fullname" name="lists_row_name">Date of Payment</span>
                    </td>
                    <td>
                        <span wicket:id="institutionSupervisorStartDate" name="lists_row_name">Start Date</span>
                        - <span wicket:id="institutionSupervisorEndDate" name="lists_row_name">End Date</span>
                    </td>
                    <td>
                        <span wicket:id="practitionerInChargeStartDate" name="lists_row_name">Start Date</span>
                        - <span wicket:id="practitionerInChargeEndDate" name="lists_row_name">End Date</span>
                    </td>
                    <td>
                        <a href="#" name="lists_row_link" wicket:id="viewLink">
                            View
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <span wicket:id="registrantContactPanelList">Registrant Contact Panel List (Institution)</span>
    <!-- End  -->


    <span wicket:id="registrantAddressPanelList">Registrant Address Panel List (Institution)</span>

    <div class="recordsData" id="select_list">
        <h3><span name="type_name">Institution Prepayments</span></h3>
        <p id="contact_links" class="editRecordsData">
            <a onclick="return hideDiv('contact', this);" title="Hide" class="hide" href="">Hide</a>           
            <span>
                <a name="list_edit_link" href="#" wicket:id="invoiceAmountLink">Create Invoice</a>
            </span>
            &nbsp;
            <span>
                <a name="list_edit_link" href="#" wicket:id="addPrepayment">Add prepayment</a>
            </span>
        </p>
        <h3><span name="type_name">Institution Prepayments</span></h3>
        <div id="select_list_results">
            <table border="0" cellpadding="0" cellspacing="0">
                <thead>
                <tr id="lists_header">
                    <th>
                        Prepayment Date
                    </th>
                    <th>
                        Date Of Deposit
                    </th>
                    <th>
                        Institution
                    </th>
                    <th>
                        Amount
                    </th>
                    <th>
                        Balance
                    </th>
                    <th>

                    </th>
                </tr>
                </thead>
                <tbody id="lists_body">
                <tr wicket:id="eachItem">
                    <td>
                        <span wicket:id="dateOfPayment" name="lists_row_name">Date of Payment</span>
                    </td>
                    <td>
                        <span wicket:id="dateOfDeposit" name="lists_row_name">Deposit Date</span>
                    </td>
                    <td>
                        <span wicket:id="institution" name="lists_row_name">Institution</span>
                    </td>
                    <td>
                        <span wicket:id="amount" name="lists_row_name">Amount</span>
                    </td>
                    <td>
                        <span wicket:id="balance" name="lists_row_name">Balance</span>
                    </td>
                    <td>
                        <a href="#" name="lists_row_link" wicket:id="viewLink">
                            View
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <br>
    <div title="Transaction History">
        <div class="recordsData" id="select_list">
            <h3><span name="type_name">Institution Payments</span></h3>
            <div id="select_list_results">
                <table id="tableList" border="0" cellpadding="0" cellspacing="0">
                    <thead>
                    <tr id="lists_header">
                        <th>Receipt Number</th>
                        <th>Date of Payment</th>
                        <th>Date of Deposit</th>
                        <th>Payment Method</th>
                        <th>Total</th>
                        <th>Carry Forward</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="lists_body">
                    <tr wicket:id="eachPaymentItem">
                        <td>
                            <span wicket:id="receiptHeader.id"/>
                        </td>
                        <td>
                            <span wicket:id="dateOfPayment" name="lists_row_name"></span>
                        </td>
                        <td>
                            <span wicket:id="dateOfDeposit" name="lists_row_name"></span>
                        </td>
                        <td>
                            <span wicket:id="paymentMethod" name="lists_row_name"></span>
                        </td>
                        <td>
                            $ <span wicket:id="receiptHeader.totalAmount" name="lists_row_name"></span>
                        </td>
                        <td>
                            $<span wicket:id="receiptHeader.carryForward" name="lists_row_name"></span>
                        </td>
                        <td>
                            <span wicket:id="receiptHeader.canceled" name="lists_row_name"></span>
                        </td>
                        <td>
                            <a name="list_edit_link" href="#" wicket:id="transactionDetailHistory">View</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br/>

            </div>
        </div>
    </div>

</wicket:extend>
