<wicket:extend>
    <h1 class="header">
        <span name="type_name">Institution Management</span>
    </h1>
    <div wicket:id="feedback" id="error"></div>

    <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <th><span name="type_name">Supervisor</span></th>
            <th><span name="type_name"></span></th>
            <th><span name="type_name">Institution</span></th>
            <th><span name="type_name"></span></th>
        </tr>
        <wicket:enclosure child="institutionsSupervised">
            <tr class="even">
                <td>
                        <span class="field_head">
                            <label>Currently Supervises</label>
                        </span>:
                </td>
                <td>
                    <b>
                        <span class="form_field" wicket:id="institutionsSupervised"></span>
                    </b>
                </td>
                <td>
                        <span class="field_head">
                            <label>Currently Supervised By</label>
                        </span>:
                </td>
                <td>
                    <b>
                        <span class="form_field" wicket:id="currentlySupervisedBy"></span>
                    </b>
                </td>
            </tr>
        </wicket:enclosure>
    </table>

    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th><span name="type_name">Supervisor</span></th>
                <th><span name="type_name">Practitioner In Charge</span></th>
            </tr>
            <tbody id="list_fields">
            <tr>
                <td>
                    <p>
                            <span class="field_head required_field">
                                <label>Institution </label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <label wicket:id="institution"></label>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="institutionSupervisor">Is Supervisor ?</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="institutionSupervisor" wicket:id="institutionSupervisor" type="checkbox"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label> Supervisor Start Date</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="institutionSupervisorStartDate" wicket:id="institutionSupervisorStartDate"
                                       type="text"/>
                            </span>

                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label> Supevisor End Date </label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="institutionSupervisorStartDate" wicket:id="institutionSupervisorEndDate"
                                       type="text"/>
                            </span>
                    </p>
                </td>
                <td>
                    <p>
                            <span class="field_head required_field">
                                <label>Practitioner Full Name</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <label wicket:id="registrant.fullname"></label>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="practitionerInCharge">Is Practitioner in Charge ?</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="practitionerInCharge" wicket:id="practitionerInCharge" type="checkbox"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label>Practitioner Start Date</label>
                            </span>
                        <br/>

                        <span class="form_field">
                                <input name="practitionerInChargeStartDate" wicket:id="practitionerInChargeStartDate"
                                       type="text"/>
                            </span>

                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label>Practitioner End Date</label>
                            </span>
                        <br/>

                        <span class="form_field">
                                <input name="practitionerInChargeEndDate" wicket:id="practitionerInChargeEndDate"
                                       type="text"/>
                            </span>

                    </p>

                </td>
            </tr>
            </tbody>
            <tr class="submitCell">
                <td>
                    <div id="button">
                        <table style="width: 100%; border: none; padding: 0px; margin: 0px;">
                            <tr class="messageCell">
                                <td class="required_field">* - Required Field</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" class="button" value="Save"/>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a id="button_return" href="#" name="add_return"
                                       class="button">return (do not save changes)</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</wicket:extend>
