<wicket:panel>
    <div class="recordsData">
        <h3>
            <span name="type_name">Practice Control Inspection</span> </h3>
        <p id="contact_links" class="editRecordsData">
            <a onclick="return hideDiv('contact', this);" title="Hide" class="hide" href="">Hide</a>           
            <span>
                <a name="list_edit_link" href="#" wicket:id="institutionPracticeControlPage">Add Institution Practice Control Inspection</a>
            </span>
        </p>
        <div class="recordsData" id="select_list">
            <div id="select_list_results">
                <table border="0" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr id="lists_header">
                            <th>Date Done</th>
                            <th>Institution Meets Requirements</th>
                            <th>Decision Status</th>
                            <th></th>
                        </tr>
                    </thead> 
                    <tbody id="lists_body">
                        <tr wicket:id="institutionPracticeControlList">
                            <td>
                                <span wicket:id="dateCreated" name="dateCreated" class="form_field"></span>
                            </td>
                            <td>
                                <span wicket:id="meetsAllRequirementsStatus" name="meetsAllRequirementsStatus" class="form_field"></span>                            
                            </td>
                            <td>
                                <span wicket:id="decisionStatus" name="decisionStatus" class="form_field"></span>
                            </td>
                            <td>
                                <a name="list_edit_link" href="#" wicket:id="institutionPracticeControlPage">Update this Information</a>
                            </td>                                       
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br style="clear: both;">       
        <!-- dataTable -->
    </div>   
</wicket:panel>