<wicket:panel>
    <div style="float:right" class="pager_display" id="select_list_pager_display">
        <h2><div wicket:id="navigator"></div></h2>
    </div>	
    <div class="recordsData" id="select_list">
        <div id="select_list_results">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr id="lists_header">
                        <th>
                            Name
                        </th>
                        <th>
                            Code
                        </th>
                        <th>
                            Institution Type
                        </th>
                        <th>
                            Institution Category
                        </th>
                        <th>
                            Retired
                        </th>
                    </tr>
                </thead>
                <tbody id="lists_body">
                    <tr wicket:id="eachItem">
                        <td>
                            <a href="#" name="lists_row_link" wicket:id="viewLink">
                                <span wicket:id="name" name="lists_row_name"></span>
                            </a>
                        </td>
                        <td>
                            <span wicket:id="code" name="lists_row_name"></span>
                        </td>
                        <td>
                            <span wicket:id="institutionType" name="lists_row_name"></span>
                        </td>
                        <td>
                            <span wicket:id="institutionCategory" name="lists_row_name"></span>
                        </td>
                        <td>
                            <span wicket:id="retired" name="lists_row_name"></span>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <br />
</wicket:panel>
