<wicket:extend>
    <h1>Application - <span name="type_name">Registration for Health Institution</span>:</h1>
    <h2><span name="type_name">Applicant</span>:<span wicket:id="institution.registrant.fullname" class="form_field"></span></h2>

    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2"><span name="type_name">Current Application Status - <label for="currentStatus"><span wicket:id="currentStatus"></span></label></span></th>
            </tr>
            <tbody id="list_fields">

                <tr>                    
                    <td> <p>
                            <span class="field_head required_field">
                                <label for="applicationDate">Application Date</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <label for="applicationDate"><span wicket:id="applicationDate"></span></label>*
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="name">Name</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <span name="name" wicket:id="institution.name" id="name" type="text" ></span>
                            </span>
                        </p> 
                        <p>
                            <span class="field_head required_field">
                                <label for="">Institution Category</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <span wicket:id="institution.institutionCategory"></span>                        
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="">Institution Type</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <span wicket:id="institution.institutionType"></span>                        
                            </span>
                        </p>                             
                        <p>
                            <span class="field_head required_field">
                                <label for="proposedCommencementDate">Proposed Commencement Date</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="proposedCommencementDate" wicket:id="proposedCommencementDate" type="text" />
                            </span>
                        </p> 
                        <p>
                            <span class="field_head required_field">                                
                                <label wicket:id="serviceOffered"  for="serviceOffered"></label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input type="checkbox" wicket:id="advanced" name="name"/>
                            </span>
                        </p>
                        <div wicket:id="wmc">
                            Institution Services<br />
                            <span wicket:id="services"></span>
                        </div> 
                    </td> 
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="">Registration Number</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <span wicket:id="registrant.registrationNumber"></span>                        
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="ownerName">Name of Owner of Premises</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="ownerName" wicket:id="ownerName"/>
                            </span>
                        </p>  
                        <p>
                            <span class="field_head required_field">
                                <label for="ownerProfession">Designation</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="ownerProfession" wicket:id="ownerProfession"/>
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="ownerTelephone">Owner's Telephone </label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="ownerTelephone" wicket:id="ownerTelephone"/>
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="ownerEmail">Owner's Email </label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="ownerEmail" wicket:id="ownerEmail"/>
                            </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="dateProcessed"><span wicket:id="dateProcessedLabel">this</span></label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="dateProcessed" wicket:id="dateProcessed" type="text" />
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="dateApproved"><span wicket:id="dateApprovedLabel">this</span></label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="dateApproved" wicket:id="dateApproved" type="text" />
                            </span>
                        </p>
                    </td>
                    <td>
                        <p>

                            <span class="field_head required_field">
                                <label for="processedBy"><span wicket:id="processedByLabel">this</span></label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="processedBy" wicket:id="processedBy"> </select>
                            </span>
                        </p>

                        <p>

                            <span class="field_head required_field">
                                <label for="approvedBy"><span wicket:id="approvedByLabel">this</span></label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select wicket:id="approvedBy"> </select>
                            </span>
                        </p>
                        
                         <p>
                            <span class="field_head required_field">
                                <label for="currentDurationLabel"><span wicket:id="currentDurationLabel"></span>Duration</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select wicket:id="councilDuration"> </select>
                            </span>
                        </p>

                        <p>

                            <span class="field_head required_field">
                                <label for="applicationStatus">Application Status</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="applicationStatus" wicket:id="applicationStatus"> </select>
                            </span>
                        </p>

                    </td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field">* - Required Field</td>
                                </tr>
                                <tr class="submitCell">
                                    <td>
                                        <a id="button_return" wicket:id="registrantViewPage" href="#" name="add_return" class="button">return (do not save changes)</a>
                                        <input type="submit" class="button" value="Save" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

</wicket:extend>
