<wicket:panel xmlns:wicket="http://www.w3.org/1999/xhtml">
    <div style="float:right" class="pager_display" id="select_list_pager_display">
        <h2><div wicket:id="navigator"></div></h2>
    </div>	
    <div class="recordsData" id="select_list">
        <div id="select_list_results">          
            <table border="0" cellpadding="0" cellspacing="0">
                <thead>
                    <tr id="lists_header">
                        <th>Full Name</th>
                        <th>Certificate Number</th>
                        <th>Type</th>
                        <th>Issue Date</th>
                        <th>Created By</th>
                        <th>Created On</th>
                        <th>Last Modified By</th>
                        <th>Last Modified On</th>
                        <th></th>  
                    </tr>
                </thead>
                <tbody id="lists_body">
                    <tr wicket:id="eachItem">
                        <td>
                            <span wicket:id="registrant.fullname" name="lists_row_name"></span>                          
                        </td>
                        <td>
                            <span wicket:id="productNumber" name="lists_row_name"></span>                          
                        </td>                       
                        <td>
                            <span wicket:id="productIssuanceType" name="lists_row_name"></span>
                        </td>
                        <td>
                            <span wicket:id="issueDate" name="lists_row_name"></span>
                        </td>
                        <td>
                            <span wicket:id="createdBy" class="form_field"></span>
                        </td>
                        <td>
                            <span wicket:id="dateCreated" class="form_field"></span>
                        </td>
                        <td>
                            <span wicket:id="modifiedBy" class="form_field"></span>
                        </td>
                        <td>
                            <span wicket:id="dateModified" class="form_field"></span>
                        </td>
                        <td>
                            <a href="#" name="lists_row_link" wicket:id="edit">
                               Edit
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br />
</wicket:panel>
