<wicket:extend>    
    <h2>View Registrant - <span wicket:id="fullname" class="form_field"/></h2>
    <h1 class="header">
        <span name="type_name">Certificates</span>

    </h1>
    <!-- Certificate Data List Panel -->
    <span wicket:id="certificateDataListPanel">Certificate Data List Panel</span>
    <!-- End  -->
</wicket:extend>
