<wicket:extend xmlns:wicket="http://www.w3.org/1999/xhtml">

    <div class="recordsData">
        <span wicket:id="registrantPanel"></span>
    </div>


    <!-- Payment Data List Panel -->
    <span wicket:id="certificateDuplicateListPanel">Certificate Data List Panel</span>
    <!-- End  -->


</wicket:extend>

