<wicket:extend>
    <h1 class="header">
        Administrator Certificate Edit Page
    </h1>

    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th><span name="type_name">Certificate</span></th>
                <th></th>
            </tr> 
            <tbody id="list_fields">
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="createDate">Created Date</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="createDate" wicket:id="createDate" id="createDate" type="text" />
                            </span>
                        </p>           
                        <p>
                            <span class="field_head required_field">
                                <label for="expiryDate">Expiry Date</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="expiryDate" wicket:id="expiryDate" id="expiryDate" type="text" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="issueDate">Issue Date/Clearance Dt</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="issueDate" wicket:id="issueDate" id="issueDate" type="text" />
                            </span>
                        </p>   
                        <p>
                            <span class="field_head required_field">
                                <label for="course">Course</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="course" wicket:id="course"></select>                                    
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="duration">Duration</label>
                            </span>
                            <br/>
                            <span class="form_field">
                                <select name="duration" wicket:id="duration"></select>
                            </span>
                        </p>
                    </td>
                    <td> 
                        <p>
                            <span class="field_head required_field">
                                <label for="register">Register</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="register" wicket:id="register"></select>                                    
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="course">Certificate Type</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="productIssuanceType" wicket:id="productIssuanceType"></select>                                  
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="examDate">Exam Date</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="examDate" wicket:id="examDate" id="examDate" type="text" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="comment">comment</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="comment" wicket:id="comment" id="comment" type="text" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="issued">Issued</label>*
                            </span>
                            <br />                       
                            <span class="form_field">
                                <input type="checkbox" wicket:id="issued" name="issued"/>
                            </span>
                        </p>  
                        <p>
                            <span class="field_head required_field">
                                <label for="issueDate">Practice Certificate Number</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="practiceCertificateNumber" wicket:id="practiceCertificateNumber" id="practiceCertificateNumber" type="text" />
                            </span>
                        </p>  
                        <p>
                            <span class="field_head required_field">
                                <label for="issueDate">Diploma Certificate Number</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="diplomaCertificateNumber" wicket:id="diplomaCertificateNumber" id="diplomaCertificateNumber" type="text" />
                            </span>
                        </p> 
                        <p>
                            <span class="field_head required_field">
                                <label for="issueDate">CGS Certificate Number</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="cgsCertificateNumber" wicket:id="cgsCertificateNumber" id="cgsCertificateNumber" type="text" />
                            </span>
                        </p> 
                        <p>
                            <span class="field_head required_field">
                                <label for="registrationCertificateNumber">Registration Certificate Number</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="registrationCertificateNumber" wicket:id="registrationCertificateNumber" id="registrationCertificateNumber" type="text" />
                            </span>
                        </p> 
                    </td>
                </tr>                
            </tbody>
            <tr class="submitCell">
                <td>
                    <div id="button">
                        <table style="width: 100%; border: none; padding: 0px; margin: 0px;">
                            <tr class="messageCell">
                                <td class="required_field">* - Required Field</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" class="button" value="Save" />
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a id="button_return" wicket:id="returnLink" href="#" name="add_return" class="button">return (do not save changes)</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>           
        </table>
    </form>
</wicket:extend>
