<wicket:extend>
    <h1>Search Certificates</h1>
    <form wicket:id="form">

        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable customReportsTable">
            <tbody>
                <tr>
                    <th colspan="2">
                        Choose search options                        
                    </th>
                </tr>
            </tbody>
        </table>
        <table cellspacing="0" cellpadding="0" border="0" id="report_limits" class="multiFormTable toggable">
            <tbody>
                <tr>
                    <td>ID Number or Registration Number</td>
                    <td><div title="ID Number or Registration Number.">
                            <input name="searchText" wicket:id="searchText" id="searchText" type="text" />
                        </div>
                    </td>
                </tr>        
                <tr>
                    <td>Certificate Number</td>
                    <td><div title="productNumber">
                            <input name="productNumber" wicket:id="productNumber" type="text" />
                        </div>
                    </td>
                </tr>        
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field"></td>
                                </tr>
                                <tr class="submitCell">
                                    <td>                                     
                                        <input id="button_return" type="submit" class="button" value="Search" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

    <!-- Payment Data List Panel -->
    <span wicket:id="certificateDataListPanel">Certificate Data List Panel</span>
    <!-- End  -->


</wicket:extend>

