<wicket:extend xmlns:wicket="http://www.w3.org/1999/xhtml">
    <h2>View Registrant - <span wicket:id="fullname" class="form_field"/></h2>
    <h1 class="header">
        <span name="type_name">Debt Items</span>
    </h1>
    <form wicket:id="form">
        <div class="recordsData" id="select_list">
            <div id="select_list_results" wicket:id="selectedDebtComponents">
                <table border="0" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr id="lists_header">
                            <th>Select</th>
                            <th>Debt Item</th>
                            <th>Date Created</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody id="lists_body">
                        <tr wicket:id="eachItem">

                            <td><input type="checkbox" wicket:id="selected" /></td>

                            <td wicket:id="transactionComponent.account.name">  
                                GN Registration Fees
                            </td>
                            
                            <td wicket:id="dateCreated">  
                                Date Created
                            </td>

                            <td wicket:id="remainingBalance">  
                                20
                            </td>
                            
                        </tr>
                    </tbody>
                </table>
                <div style="float:right" class="pager_display" id="select_list_pager_display">
                </div>	

            </div>
        </div>
        <br />
        <p>
            <input type="submit" class="button" value="Pay" name="pay" />            
            <a href="#" class="button" wicket:id="invoiceLink">Add Items</a>
            <a href="#" class="button" wicket:id="paythroughCarryForward">Pay With Carry Forward</a>   
            <a href="#" class="button" wicket:id="creditNoteLink">Remove Items</a>   
            <a href="#" class="button" wicket:id="invoiceAmountLink">Add Product Items</a>            
            <a href="#" class="button" wicket:id="registrantViewPage">return</a> 
            <a href="#" class="button" wicket:id="payThroughInstitution">Pay Through Institution</a>
        </p>
    </form>
</wicket:extend>
