<wicket:extend>    
    <h2>View Institution - <span wicket:id="name" class="form_field"/></h2>
    <h1 class="header">
        <span name="type_name">Debt Items</span>
    </h1>
    <form wicket:id="form">
        <div class="recordsData" id="select_list">
            <div id="select_list_results" wicket:id="selectedDebtComponents">
                <table border="0" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr id="lists_header">
                            <th>Item</th>
                            <th>Cost</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="lists_body">
                        <tr wicket:id="eachItem">

                            <td><input type="checkbox" wicket:id="selected" /></td>

                            <td wicket:id="product.name">  
                                GN Registration Fees
                            </td>
                            <td wicket:id="remainingBalance">  
                                20
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        <p>
            <span class="field_head required_field">
                <label for="comment">Reason</label>*
            </span>
            <br />                       
            <span class="form_field">
                <textarea name="comment" wicket:id="comment" rows="5" cols="50"/>
            </span>
        </p> 
        <p>
            <input type="submit" class="button" value="process" name="pay" />
            <a href="#" wicket:id="institutionPaymentPage" class="button">return</a>
        </p>
    </form>
</wicket:extend>
