<wicket:extend>
    <h1>Customer Invoice</h1>
    <h2><span name="type_name">Customer Name</span>:<span wicket:id="customer.customerName">Tobias Mudimu</span></h2>

    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2"><span name="type_name">-----------Invoice-----------</span></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td></td>               
                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field"></td>
                                </tr>
                                <tr class="submitCell">
                                    <td>
                                        <a id="button_return" wicket:id="registrantPaymentPage" href="#" name="add_return" class="button">return (do not save changes)</a>
                                        <input type="submit" class="button" value="Save" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>

        <div id="tabs">
            <ul>
                <li><a href="#otherItems">Other Fees</a></li>
                <li><a href="#registrationsItems">Registration Fees</a></li>
                <li><a href="#applicationItems">Application Fees</a></li>
                <li><a href="#annualItems">Annual Fees</a></li>    
                <li><a href="#penaltyItems">Penalty Fees</a></li>  
                <li><a href="#disciplinaryItems">Disciplinary Fees</a></li>    
            </ul>
            <div id="otherItems">
                <!--- Document Items -->
                <div class="recordsData" id="select_list">
                    <div id="select_list_results">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr id="lists_header">
                                    <th>Account</th>
                                    <th>Register</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                </tr>
                            </thead>
                            <tbody id="lists_body">
                                <tr wicket:id="otherItems">

                                    <td wicket:id="product.name">
                                        GN Registration Fees
                                    </td>
                                    <td wicket:id="product.register">
                                        GN Registration Fees
                                    </td>
                                    <td>  
                                        <input type="text"  wicket:id="price" />
                                    </td>
                                    <td wicket:id="quantity"> 
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="float:right" class="pager_display" id="select_list_pager_display">
                        </div>	

                    </div>
                </div>
                <!-- recordsData -->
                <br style="clear: both;">
            </div>
            <div id="registrationsItems">
                <!--- Document Items -->
                <div class="recordsData" id="select_list">
                    <div id="select_list_results">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr id="lists_header">
                                    <th>Account</th>
                                    <th>Register</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                </tr>
                            </thead>
                            <tbody id="lists_body">
                                <tr wicket:id="registrationsItems">

                                    <td wicket:id="product.name">  
                                        GN Registration Fees
                                    </td>
                                    <td wicket:id="product.register">
                                        Register
                                    </td>
                                    <td>  
                                        <input type="text"  wicket:id="price" />
                                    </td>
                                    <td wicket:id="quantity"> 
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                        <div style="float:right" class="pager_display" id="select_list_pager_display">
                        </div>	

                    </div>
                </div>
                <br style="clear: both;">
            </div>
            <div id="applicationItems">
                <!--- Document Items -->
                <div class="recordsData" id="select_list">
                    <div id="select_list_results">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr id="lists_header">
                                    <th>Account</th>
                                    <th>Register</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                </tr>
                            </thead>
                            <tbody id="lists_body">
                                <tr wicket:id="applicationItems">

                                    <td wicket:id="product.name">  
                                        GN Registration Fees
                                    </td>
                                    <td wicket:id="product.register">
                                        Register
                                    </td>
                                    <td>  
                                        <input type="text" wicket:id="price" />
                                    </td>
                                    <td wicket:id="quantity"> 
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                        <div style="float:right" class="pager_display" id="select_list_pager_display">
                        </div>	

                    </div>
                </div>
                <br style="clear: both;">
            </div>
            <div id="annualItems">
                <!--- Document Items -->
                <div class="recordsData" id="select_list">
                    <div id="select_list_results">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr id="lists_header">
                                    <th>Account</th>
                                    <th>Register</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                </tr>
                            </thead>
                            <tbody id="lists_body">
                                <tr wicket:id="annualItems">

                                    <td wicket:id="product.name">  
                                        GN Registration Fees
                                    </td>
                                    <td wicket:id="product.register">
                                        Register
                                    </td>
                                    <td>  
                                        <input type="text"  wicket:id="price" />
                                    </td>
                                    <td wicket:id="quantity"> 
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="float:right" class="pager_display" id="select_list_pager_display">
                        </div>	

                    </div>
                </div>
                <br style="clear: both;">
            </div> <!-- recordsData -->
            <div id="penaltyItems">
                <!--- Document Items -->
                <div class="recordsData" id="select_list">
                    <div id="select_list_results">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr id="lists_header">
                                    <th>Account</th>
                                    <th>Register</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                </tr>
                            </thead>
                            <tbody id="lists_body">
                                <tr wicket:id="penaltyItems">

                                    <td wicket:id="product.name">  
                                        GN Registration Fees
                                    </td>
                                    <td wicket:id="product.register">
                                        Register
                                    </td>
                                    <td>  
                                        <input type="text"  wicket:id="price" />
                                    </td>
                                    <td wicket:id="quantity"> 
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="float:right" class="pager_display" id="select_list_pager_display">
                        </div>	

                    </div>
                </div>
                <br style="clear: both;">
            </div> <!-- recordsData -->
            <div id="disciplinaryItems">
                <!--- Document Items -->
                <div class="recordsData" id="select_list">
                    <div id="select_list_results">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr id="lists_header">
                                    <th>Account</th>
                                    <th>Register</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                </tr>
                            </thead>
                            <tbody id="lists_body">
                                <tr wicket:id="disciplinaryItems">

                                    <td wicket:id="product.name">  
                                        GN Registration Fees
                                    </td>
                                    <td wicket:id="product.register">
                                        Register
                                    </td>
                                    <td>  
                                        <input type="text"  wicket:id="price" />
                                    </td>
                                    <td wicket:id="quantity"> 
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="float:right" class="pager_display" id="select_list_pager_display">
                        </div>	

                    </div>
                </div>                

                <br style="clear: both;">
            </div> <!-- recordsData -->
        </div>                  
        <!-- recordsData -->
        <br style="clear: both;">
    </form>

</wicket:extend>
