
    <wicket:extend>
        <h1 class="header">
             <span name="type_name">Prepayment</span>
        </h1>
               
        <div class="recordsData" id="select_list">
            <div id="select_list_results">
                <table border="0" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr id="lists_header">
                            <th>
                               Receipt Number
                            </th>
                            <th>
                               Date Of Payment
                            </th>
                            <th>
                                Registration Number
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Code
                            </th>
                            <th>
                                Amount
                            </th>
                            <th>
                                Total Amount
                            </th>
                        </tr>
                    </thead>
                    <tbody id="lists_body">
                        <tr wicket:id="eachItem">
                            <td>
                                <a href="#" name="lists_row_link" wicket:id="viewLink">
                                    <span wicket:id="receiptNumber" name="lists_row_name">Birth Certificate</span>
                                </a>
                            </td>
                            <td>
                                    <span wicket:id="dateOfPayment" name="lists_row_name">Birth Certificate</span>
                            </td>
                            <td>
                                    <span wicket:id="regNumber" name="lists_row_name">Birth Certificate</span>
                            </td>
                            <td>
                                    <span wicket:id="name" name="lists_row_name">Birth Certificate</span>
                            </td>
                            <td>
                                    <span wicket:id="description" name="lists_row_name">Birth Certificate</span>
                            </td>
                             <td>
                                    <span wicket:id="code" name="lists_row_name">Birth Certificate</span>
                            </td>
                            <td>
                                    <span wicket:id="amount" name="lists_row_name">Birth Certificate</span>
                            </td>
                            <td>
                                    <span wicket:id="totalAmount" name="lists_row_name">Birth Certificate</span>
                            </td>
                        </tr>
                     
                    </tbody>
                </table>
                <a href="#" class="button" wicket:id="post" value="Post Payments">Post Payments</a>
            </div>
        </div>
        <br />
    </wicket:extend>
