<wicket:extend>    
    <h2>View Registrant - <span wicket:id="fullname" class="form_field"/></h2>
    <h1 class="header">
        <span name="type_name">Debt Items</span>
    </h1>
    <form wicket:id="form">
        <div class="recordsData" id="select_list">
            <div id="select_list_results" wicket:id="selectedDebtComponents">
                <table border="0" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr id="lists_header">
                            <th>Select</th>
                            <th>Debt Item</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody id="lists_body">
                        <tr wicket:id="eachItem">

                            <td><input type="checkbox" wicket:id="selected" /></td>

                            <td wicket:id="transactionComponent.account.name">  
                                GN Registration Fees
                            </td>
                            <td wicket:id="remainingBalance">
                                20
                            </td>

                        </tr>
                    </tbody>
                </table>
                <div style="float:right" class="pager_display" id="select_list_pager_display">
                </div>	

            </div>
        </div>
        <br />
        <p>
            <input type="submit" class="button" value="Pay" name="pay" />            
           
            <a href="#" class="button" wicket:id="registrantViewPage">return</a> 
           
        </p>
    </form>
</wicket:extend>
