
    <wicket:extend>
        <h1 class="header">
           <span name="type_name">Prepayment</span>
        </h1>
        <div wicket:id="feedback" id="error"></div>
        
    <h2>
        <span wicket:id="institution.name" class="form_field"></span>
    </h2>
        <form wicket:id="form">
           <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <th><span name="type_name">Prepayment</span></th>
                </tr>
                <tbody id="list_fields">
                 <tr>
                        <td>
                            <p>
                                <span class="field_head required_field">
                                    <label for="amount">Amount Prepaid</label>*
                                </span>
                                <br />
                                <span class="form_field">
                                    <input name="amount" wicket:id="amount" id="amount" type="text" />
                                </span>
                            </p>
                            
                            <p>
                                <span class="field_head required_field">
                                    <label for="name">Date of Payment</label>
                                </span>
                                <br/><br/>
                                <span class="form_field">
                                    <span name="dateOfPayment" wicket:id="dateOfPayment" id="dateOfPayment"/>
                                </span>
                            </p>
                            <p>
                                <span class="field_head required_field">
                                    <label for="dateOfDeposit">Date of Deposit</label>
                                </span>
                                <br />
                                <span class="form_field">
                                    <input name="dateOfDeposit" wicket:id="dateOfDeposit" id="name" type="text" />
                                </span>
                            </p>
                            <p>
                                <span class="field_head required_field">
                                    <label for="dateOfDeposit">Bank</label>
                                </span>
                                <br />
                                <span class="form_field">
                                    <select name="dateOfDeposit" wicket:id="transactionType" >Options</select>
                                </span>
                            </p>
                        </td>
                    </tr>
                </tbody>
                <tr class="submitCell">
                    <td>
                        <div id="button">
                            <table style="width: 100%; border: none; padding: 0px; margin: 0px;">
                                <tr class="messageCell">
                                    <td class="required_field">* - Required Field</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="submit" class="button" value="Save" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr class="submitCell">
                    <td>
                        <div id="admin_extra"></div>
                    </td>
                </tr>
            </table>
        </form>
    </wicket:extend>

