
<wicket:extend>
    <h1 class="header">
        <span name="type_name">Prepayment</span>
    </h1>

    <div class="recordsData" id="select_list">
        <div id="select_list_results">
            <table id="tableList" border="0" cellpadding="0" cellspacing="0">
                <thead>
                    <tr id="lists_header">
                        <th>
                            Date Of Payment
                        </th>
                        <th>
                            Date Of Deposit
                        </th>
                        <th>
                            Institution
                        </th>
                        <th>
                            Amount
                        </th>
                        <th>
                            Balance
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody id="lists_body">
                    <tr wicket:id="eachItem">
                        <td>
                                <span wicket:id="dateOfPayment" name="lists_row_name">DateOfPayment</span>
                        </td>
                        <td>
                            <span wicket:id="dateOfDeposit" name="lists_row_name">dateOfDeposit</span>
                        </td>
                        <td>
                            <span wicket:id="institution" name="lists_row_name">institution</span>
                        </td>
                        <td>
                            <span wicket:id="amount" name="lists_row_name">amount</span>
                        </td>
                        <td>
                            <span wicket:id="balance" name="lists_row_name">balance</span>
                        </td>
                        <td>
                            <a href="#" name="lists_row_link" wicket:id="viewLink">
                              View
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>
            <div style="float:right" class="pager_display" id="select_list_pager_display">
            </div>
        </div>
    </div>
    <br />
</wicket:extend>
