
<wicket:extend>

    <h1>View <span name="type_name">Prepayment</span></h1>

    <div class="recordsData">
        <h3>
            <span name="type_name">Prepayment</span> Information</h3>
        <div wicket:id="feedback" id="error"></div>
        <h2><span name="type_name"></span><span wicket:id="comment">Tobias Mudimu</span></h2>
        <div id="list_display" class="recordsData">

            <div class="dataTable">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <th colspan="2"><span name="type_name">Prepayment</span></th>
                        </tr>

                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Date Of Payment</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="dateOfPayment">sample</span>
                                </b>
                            </td>
                        </tr>

                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Date Of Deposit</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="dateOfDeposit" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Institution</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="institution" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Amount</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="amount" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Balance</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="balance" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Created By</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="createdBy" class="form_field"></span>
                                </b>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div> <!-- dataTable -->

        </div>

        <br style="clear: both;">
    </div> <!-- recordsData -->
    <a href="#" class="button" wicket:id="returnLink">(Return)</a>  
    <a href="#" wicket:id="cancel" class="button"> Cancel Prepayment</a>
    <a href="#" wicket:id="print" class="button"> Print</a>
    <a href="#" wicket:id="printList" class="button"> Print List</a>
    <p>        
    
    <h1 id="transhistory">Show All Payments Done</h1>
</p>
<span wicket:id="transactionHistoryPanel"/>   

</wicket:extend>
