<wicket:extend>
    <h1>Prepayment Details</h1>
    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2"><span name="type_name">Pareyment Details</span></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="registrant.fullname">Customer Name</label>*
                            </span>
                            <br />                         
                            <span class="form_field">
                                <span class="fieldLimitValue" wicket:id="registrant.fullname"></span>
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="institution">Institution</label>*
                            </span>
                            <br />                         
                            <span class="form_field">
                                <select class="fieldLimitValue" wicket:id="institution"></select>
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="prepayment">Prepayment</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select wicket:id="prepayment"></select>
                            </span>
                        </p>
                    </td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field">* - Required Field</td>
                                </tr>
                                <tr class="submitCell">
                                    <td>
                                        <a id="button_return" href="#" name="add_return" class="button">return (do not save changes)</a>
                                        <input type="submit" class="button" value="Process" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>

    </form>

</wicket:extend>
