<wicket:extend>
    <div class="recordsData">
        <span wicket:id="registrantPanel"></span>
        <!-- Registrant Panel List -->
    </div>

    <div class="recordsData" id="select_list">
        <div id="select_list_results">
            <table border="0" cellpadding="0" cellspacing="0">
                <thead>
                    <tr id="lists_header">
                        <th>
                            Prepayment Date
                        </th>
                        <th>
                            Institution
                        </th>
                        <th>
                            Prepayment
                        </th>
                        <th>
                            Total Amount
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody id="lists_body">
                    <tr wicket:id="eachItem">
                        <td>
                            <a href="#" name="lists_row_link" wicket:id="viewLink">
                                <span wicket:id="paymentDetails.dateOfPayment" name="lists_row_name">Birth Certificate</span>
                            </a>
                        </td>
                        <td>
                            <span wicket:id="prepayment.institution" name="lists_row_name">Birth Certificate</span>
                        </td>
                        <td>
                            <span wicket:id="prepayment" name="lists_row_name">Birth Certificate</span>
                        </td>
                        <td>
                            $<span wicket:id="paymentDetails.receiptHeader.totalAmountPaid" name="lists_row_name">Birth Certificate</span>
                        </td>
                        <td>
                            <a href="#" name="lists_row_link" wicket:id="correct">
                                Correct Prepayment Allocation
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
    <br />
</wicket:extend>
