<wicket:extend>    
    <h2>View Registrant - <span wicket:id="fullname" class="form_field"/></h2>
    <h1 class="header">
        <span name="type_name">Removed Debt Items</span>
    </h1>
    <div class="recordsData" id="select_list">
        <div id="select_list_results">
            <table border="0" cellpadding="0" cellspacing="0">
                <thead>
                    <tr id="lists_header">
                        <th>Item</th>
                        <th>Comments</th>
                        <th>Done By</th>
                    </tr>
                </thead>
                <tbody id="lists_body">
                    <tr wicket:id="eachItem">
                        <td wicket:id="product.name">  
                            GN Registration Fees
                        </td>
                        <td wicket:id="comment">  
                            GN Registration Fees
                        </td>  
                        <td wicket:id="modifiedBy">  
                            user
                        </td>  
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <p>
        <a href="#" wicket:id="registrantPaymentPage" class="button">return</a>
    </p>

</wicket:extend>
