<wicket:extend>

    <h1>Accounting Configuration</h1>
    
    <div>
        <h2><a href="#" wicket:id="bankBookLink">Bank Book</a></h2>
        <p>Bank Book</p>
        <hr />
    </div>

    <div>
        <h2><a href="#" wicket:id="generalLedgerLink">General Ledger</a></h2>
        <p>General Ledger</p>
        <hr />
    </div>
    
    <div>
        <h2><a href="#" wicket:id="accountsReceivableLink">Accounts Receivable</a></h2>
        <p>Accounts Receivable</p>
        <hr />
    </div>
    <div>
        <h2><a href="#" wicket:id="inventoryModuleLink">Inventory Module</a></h2>
        <p>Inventory Module</p>
        <hr />
    </div>
    <div>
        <h2><a wicket:id="invoiceTransactionType" href="#">Accounts Parameters</a></h2>
        <p>Accounts Parameters</p>
        <hr />
    </div>
     
            

</wicket:extend>
