<wicket:extend>
    <h1 class="header">
        <span name="type_name">Account Parameters</span>
    </h1>
    <div id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th><span name="type_name">Accounts Parameters</span></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="invoiceTransactionType">Invoice Transaction Type</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select wicket:id="invoiceTransactionType"></select>                        
                            </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="creditNoteTransactionType">Credit Note Transaction Type</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select wicket:id="creditNoteTransactionType"></select>                        
                            </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="refundTransactionType">Refund Transaction Type</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select wicket:id="refundTransactionType"></select>                        
                            </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="manualTransactionType">Manual Transaction Type</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select wicket:id="manualTransactionType"></select>                        
                            </span>
                        </p>
                    </td>
                </tr>                
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="manualPaymentMethod">Manual Payment Method</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select wicket:id="manualPaymentMethod"></select>                        
                            </span>
                        </p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="defaultPaymentMethod">Payment Method</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select wicket:id="defaultPaymentMethod"></select>                        
                            </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="carryForwardTransactionType">Carry Forward Transaction Type</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select wicket:id="carryForwardTransactionType"></select>                        
                            </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="name">Registrants pay Qualification Fees for every qualification</label>
                            </span>
                            <br/>
                            <span class="form_field">
                                <input type="checkbox" name="name" wicket:id="qualificationFee"/>
                            </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="registrationApplicationPayment">Registration has application fee</label>
                            </span>
                            <br/>
                            <span class="form_field">
                                <input name="registrationApplicationPayment" wicket:id="registrationApplicationPayment"
                                       id="CPDModule" type="checkbox"/>
                            </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="practisingCertificatePayment">Registration has Practising Certificate Fee other than subscription</label>
                            </span>
                            <br/>
                            <span class="form_field">
                                <input name="practisingCertificatePayment" wicket:id="practisingCertificatePayment"
                                       id="CPDModule" type="checkbox"/>
                            </span>
                        </p>

                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="CPDModule">Student Registration Payment</label>
                            </span>
                            <br/>
                            <span class="form_field">
                                <input name="name" wicket:id="studentRegistrationPayment" type="checkbox"/>
                            </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        
                        <p> 
                            <span class="field_head required_field">
                                <label for="payingMaximumAge">Council Has Paying Practitioners Maximum Age</label>
                            </span>
                            <br/>
                            <span class="form_field">
                                <input type="checkbox" name="payingMaximumAge" wicket:id="payingMaximumAge"/>
                            </span>
                        </p>

                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="payingPractitionersMaximumAge">Paying Practitioners Maximum Age</label>
                            </span>
                            <br/>
                            <span class="form_field">
                                <input type="text" name="payingPractitionersMaximumAge"
                                       wicket:id="payingPractitionersMaximumAge"/>
                            </span>
                        </p>

                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="printPDFReceipt">Print PDF Receipt</label>
                            </span>
                            <br/>
                            <span class="form_field">
                                <input type="checkbox" name="printPDFReceipt" wicket:id="printPDFReceipt"/>
                            </span>
                        </p>

                    </td>
                </tr>
                <tr>
                    <td>
                        
                        <p>
                            <span class="field_head required_field">
                                <label for="printJavaScriptReceipt">Print Java Script Receipt</label>
                            </span>
                            <br/>
                            <span class="form_field">
                                <input type="checkbox" name="printJavaScriptReceipt" wicket:id="printJavaScriptReceipt"/>
                            </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        
                        <p>
                            <span class="field_head required_field">
                                <label for="allowCashOverpayment">Allow cash over-payment</label>
                            </span>
                            <br/>
                            <span class="form_field">
                                <input name="allowCashOverpayment" wicket:id="allowCashOverpayment"
                                       id="allowCashOverpayment" type="checkbox"/>
                            </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="allowAccruals">Allow Accruals</label>
                            </span>
                            <br/>
                            <span class="form_field">
                                <input name="allowAccruals" wicket:id="allowAccruals" id="allowAccruals"
                                       type="checkbox"/>
                            </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="billEachPostBasicQualification">Bill Each Post Basic Qualification Late Re-Regisration</label>
                            </span>
                            <br/>
                            <span class="form_field">
                                <input name="billEachPostBasicQualification" wicket:id="billEachPostBasicQualification" id="allowAccruals"
                                       type="checkbox"/>
                            </span>
                        </p>

                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="printReceiptNumberOnCertificate">Print Receipt Number On Practice Certificate</label>
                            </span>
                            <br/>
                            <span class="form_field">
                                <input name="billEachPostBasicQualification" wicket:id="printReceiptNumberOnCertificate" id="allowAccruals"
                                       type="checkbox"/>
                            </span>
                        </p>

                    </td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td>
                    <div id="button">
                        <table style="width: 100%; border: none; padding: 0px; margin: 0px;">
                            <tr class="messageCell">
                                <td class="required_field">* - Required Field</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" class="button" value="Save" />
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a id="button_return" wicket:id="returnLink" href="#" name="add_return" class="button">return (do not save changes)</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr class="submitCell">
                <td>
                    <div id="admin_extra"></div>
                </td>
            </tr>
        </table>
    </form>
</wicket:extend>
