<wicket:extend>

    <h1>View <span name="type_name">Accounts Parameters</span>
    </h1>

    <div class="recordsData">
        <h3>
            <span name="type_name">Accounts Parameters</span> Information</h3>

        <div id="list_display" class="recordsData">

            <div class="editRecord">
                <p>Edit This Information</p>
                <ul>
                    <li id="list_edit_link_node">
                        <a name="list_edit_link" href="#" wicket:id="editLink">Update this Information</a>
                    </li>
                    <li id="list_view_link_node">
                        <a name="list_view_link" href="#" wicket:id="returnLink">
                            Select another <span name="type_name">Accounts Parameters</span>
                        </a>
                    </li>
                </ul>
            </div> <!-- editRecord -->

            <div class="dataTable">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <th colspan="2"><span name="type_name">Accounts Parameters</span></th>
                        </tr>

                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Invoice Transaction Type</label>*
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="invoiceTransactionType">sample</span>
                                </b>
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Credit Note Transaction Type</label>*
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="creditNoteTransactionType">sample</span>
                                </b>
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Refund Transaction Type</label>*
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="refundTransactionType">sample</span>
                                </b>
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Manual Transaction Type</label>*
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="manualTransactionType">sample</span>
                                </b>
                            </td>
                        </tr>                        
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Manual Payment Method</label>*
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="manualPaymentMethod">sample</span>
                                </b>
                            </td>
                        </tr>                        
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Default Payment Method</label>*
                                </span>:
                            </td>

                            <td>
                                <b>
                                    <span class="form_field" wicket:id="defaultPaymentMethod">sample</span>
                                </b>
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Carry Forward Transaction Type</label>*
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="carryForwardTransactionType">sample</span>
                                </b>
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Student Registration payment</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="studentRegistrationPayment">sample</span>
                                </b>
                            </td>
                        </tr> 
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Registrant pay qualification Fee</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="qualificationFee">sample</span>
                                </b>
                            </td>
                        </tr> 
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Registration has application fee</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="registrationApplicationPayment">sample</span>
                                </b>
                            </td>
                        </tr> 
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Registrants pay Practicing Certificate fee</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="practisingCertificatePayment">sample</span>
                                </b>
                            </td>
                        </tr> 
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Council Has Paying Practitioners Maximum Age</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="payingMaximumAge">sample</span>
                                </b>
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Paying Practitioners Maximum Age</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="payingPractitionersMaximumAge">sample</span>
                                </b>
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Print PDF Receipts</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="printPDFReceipt">sample</span>
                                </b>
                            </td>
                        </tr>

                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Bill On Accrual Basis</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="allowAccruals">sample</span>
                                </b>
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Allow cash over payment</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="allowCashOverpayment">sample</span>
                                </b>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div> <!-- dataTable -->

        </div>

        <br style="clear: both;">
    </div> <!-- recordsData -->

</wicket:extend>

