<wicket:extend>

    <h1>Accounts Receivable</h1>

    <div>
        <h2><a href="#" wicket:id="transactionTypeLink">Transaction Type</a></h2>
        <p>Accounts Receivable</p>
        <hr />
    </div>

    
</wicket:extend>
