<wicket:extend>
    <h1>Bank Book</h1>
    
     <div>
        <h2><a href="#" wicket:id="bankAccountLink">Bank Account</a></h2>
        <p>Bank Account</p>
        <hr />
        <h2><a href="#" wicket:id="paymentTypeLink">Payment Type</a></h2>
        <p>Payment Type</p>
        <hr />
        <hr />
        <h2><a href="#" wicket:id="paymentMethodLink">Payment Method</a></h2>
        <p>Payment Method</p>
        <hr />
    </div>

  
</wicket:extend>
