<wicket:extend>
    <h1 class="header">
        <span name="type_name">Bank Account</span>
    </h1>
    <div id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th><span name="type_name">Bank Account</span></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="">Account Name</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                 <input name="name" wicket:id="name" id="name" type="text" />                       
                            </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="name">Bank</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="name" wicket:id="bank" id="name" type="text" />
                            </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="name">Account Number</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="code" wicket:id="accNumber" id="code" type="text" />
                            </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="name">Branch</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="balance" wicket:id="branch" id="balance" type="text" />
                            </span>
                        </p>
                    </td>
                </tr>
                
            </tbody>
            <tr class="submitCell">
                <td>
                    <div id="button">
                        <table style="width: 100%; border: none; padding: 0px; margin: 0px;">
                            <tr class="messageCell">
                                <td class="required_field">* - Required Field</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" class="button" value="Save" />
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a id="button_return" wicket:id="returnLink" href="#" name="add_return" class="button">return (do not save changes)</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr class="submitCell">
                <td>
                    <div id="admin_extra"></div>
                </td>
            </tr>
        </table>
    </form>
</wicket:extend>
