<wicket:extend>
    <h1>General Ledger</h1>
     <div>
        <h2><a href="#" wicket:id="accountLink">Accounts</a></h2>
        <p>General Ledger</p>
        <hr />
    </div>
    
    
    
   
    
</wicket:extend>
