<wicket:extend>

    <h1>Inventory Module</h1>
    
    <div>
        <h2><a href="#" wicket:id="productGroupListLink">Product Group</a></h2>
        <p>Product Groups</p>
        <hr />
    </div> 
    
    <div>
        <h2><a href="#" wicket:id="productSaleLink">Product</a></h2>
        <p>Product Setup</p>
        <hr />
    </div>
      
     <div>
        <h2><a href="#" wicket:id="productPriceLink">Product Prices</a></h2>
        <p>Product Prices</p>
        <hr />
    </div>  
    
    
</wicket:extend>
