<wicket:extend>

    <h1>View <span name="type_name">Product</span>:</h1>

    <div class="recordsData">
        <h3>
            <span name="type_name">Product</span> Information</h3>

        <div id="list_display" class="recordsData">

            <div class="editRecord">
                <p>Edit This Information</p>
                <ul>
                    <li id="list_edit_link_node">
                        <a name="list_edit_link" href="#" wicket:id="editLink">Update this Information</a>
                    </li>
                    <li id="list_view_link_node">
                        <a name="list_view_link" href="#" wicket:id="returnLink">
                            View <span name="type_name">Products</span>
                        </a>
                    </li>
                </ul>
            </div> <!-- editRecord -->

            <div class="dataTable">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <th colspan="2"><span name="type_name">Product Sale</span></th>
                        </tr>
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Name</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="name">sample</span>
                                </b>
                            </td>
                        </tr>

                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Description</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="description" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Discipline</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="course">sample</span>
                                </b>
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Register</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="register">sample</span>
                                </b>
                            </td>
                        </tr>


                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Sales Account</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="salesAccount">sample</span>
                                </b>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Type of Service</label>
                                </span>: 
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="typeOfService.name" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Employement Type</label>
                                </span>: 
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="employmentType.name" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Course Type</label>
                                </span>: 
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="courseType" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Tier</label>
                                </span>: 
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="tier" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Course Type</label>
                                </span>: 
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="qualificationType" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Product Group</label>
                                </span>: 
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="productGroup" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>IS Exam Product</label>
                                </span>: 
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="examProduct" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> <!-- dataTable -->

        </div>

        <br style="clear: both;">
    </div> <!-- recordsData -->

</wicket:extend>
