<wicket:extend>
    <h1 class="header">
        <span name="type_name">Product</span>
    </h1>
    <div id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th><span name="type_name">Product</span></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="name">Name</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="name" wicket:id="name" id="name" type="text" />
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="name">Description</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="name" wicket:id="description" id="name" type="text" />
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="code">Code</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="code" wicket:id="code" id="code" type="text" />
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="course">Discipline</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="name" wicket:id="course"></select>                                  
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="register">Register</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="name" wicket:id="register"></select>                                    
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="account">Sales Account</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="name" wicket:id="salesAccount"></select>                                  
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="typeOfService">Type of Service</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="typeOfService" wicket:id="typeOfService"></select>                                    
                            </span>
                        </p>
                        <br />
                        <p>
                            <span class="field_head required_field">
                                <label for="employmentType">Employment Type</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="employmentType" wicket:id="employmentType"></select>                                   
                            </span>
                        </p>   

                        <p>
                            <span class="field_head required_field">
                                <label for="name">Course Type</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="name" wicket:id="courseType" id="name"></select>
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="name">Product Group</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="productGroup" wicket:id="productGroup" id="name"></select>
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="qualificationType">Qualification Type</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="qualificationType" wicket:id="qualificationType"></select>                                   
                            </span>
                        </p>   

                        <p>
                            <span class="field_head required_field">
                                <label for="name">Tier</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="name" wicket:id="tier" id="name" ></select>
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="name">Directly Invoiced</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="name" wicket:id="directlyInvoicable" id="name" type="checkbox" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="name">IS Exam Product</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="name" wicket:id="examProduct" id="name" type="checkbox" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="Retired">Retired</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="retired" wicket:id="retired" id="name" type="checkbox" />
                            </span>
                        </p>
                    </td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td>
                    <div id="button">
                        <table style="width: 100%; border: none; padding: 0px; margin: 0px;">
                            <tr class="messageCell">
                                <td class="required_field">* - Required Field</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" class="button" value="Save" />
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a id="button_return" wicket:id="returnLink" href="#" name="add_return" class="button">return (do not save changes)</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr class="submitCell">
                <td>
                    <div id="admin_extra"></div>
                </td>
            </tr>
        </table>
    </form>
</wicket:extend>
