<wicket:extend>
    <h1 class="header">
        <span name="type_name">Product</span>
    </h1>

    <span name="list_is_writable">
        <a href="#" wicket:id="addNewLink" name="add_type" class="add_new_link">
            Add
            <span name="type_name">Product</span>
        </a>
        <a href="#" wicket:id="report" name="add_type" class="add_new_link">
            &nbsp; Print List
        </a> 
        <a href="#" wicket:id="retired" name="add_type" class="add_new_link">
            &nbsp; Retired List
        </a> 
    </span>

    <div class="recordsData" id="select_list">
        <div id="select_list_results">
            <table id="tableList" cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr id="lists_header">
                        <th>Name</th>
                        <th>Register</th>
                        <th>Code</th>
                        <th>Retired</th>
                    </tr>
                </thead>
                <tbody id="lists_body">
                    <tr wicket:id="eachItem">
                        <td>
                            <a href="#" name="lists_row_link" wicket:id="viewLink">
                                <span wicket:id="name" name="lists_row_name"></span>
                            </a>
                        </td>
                        <td>
                            <span wicket:id="register" name="lists_row_name"></span>
                        </td>
                        <td>
                            <span wicket:id="code" name="lists_row_name"></span>
                        </td>
                        <td>
                            <span wicket:id="retired" name="lists_row_name"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br />
</wicket:extend>
