<wicket:extend>
    <h1 class="header">
        <span name="type_name">Product Price</span>
    </h1>

    <span name="list_is_writable">
        <a href="#" wicket:id="addNewLink" name="add_type" class="add_new_link">
            Add
            <span name="type_name">Product Price</span>
        </a>
    </span>

    <div class="recordsData" id="select_list">
        <div id="select_list_results">
            <table id="tableList" cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr id="lists_header">
                        <th>
                            Select <span name="type_name">Product</span>
                        </th>
                        <th>
                            Register
                        </th>
                        <th>
                            Price
                        </th>
                    </tr>
                </thead>
                <tbody id="lists_body">
                    <tr wicket:id="eachItem">
                        <td>
                            <a href="#" name="lists_row_link" wicket:id="viewLink">
                                <span wicket:id="product.name" name="lists_row_name">Birth Certificate</span>
                            </a>
                        </td>
                        <td>
                            <span wicket:id="product.register" name="lists_row_name"></span>
                        </td>
                        <td>
                            <span wicket:id="price" name="lists_row_name"></span>
                        </td>
                    </tr>

                </tbody>
            </table>
            <div style="float:right" class="pager_display" id="select_list_pager_display">
            </div>	

        </div>
    </div>
    <br />
 </wicket:extend>
