<wicket:extend xmlns:wicket="http://www.w3.org/1999/xhtml">
    <h1>Detailed Registrant Contact Detail by Contact Type</h1>
    <form wicket:id="form">

        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable customReportsTable">
            <tbody>
            <tr>
                <th colspan="2">
                    Choose option
                </th>
            </tr>
            </tbody>
        </table>
        <table cellspacing="0" cellpadding="0" border="0" id="report_limits" class="multiFormTable toggable">
            <tbody>
            <tr>
                <td>Contact Type</td>
                <td><div title="Limit this field to be equal to the given value.">
                    <select name="contactType" wicket:id="contactType"/>
                </div></td>
            </tr>

            <tr>
                <td>Report Format</td>
                <td><div title="Limit this field to be equal to the given value.">
                    <select name="contentType" wicket:id="contentType"/>
                </div>
                </td>
            </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                <td class="required_field"></td>
                            </tr>
                            <tr class="submitCell">
                                <td>
                                    <input type="submit" class="button" value="Process" />
                                    <input id="button_return" type="submit" class="button" value="Incorrect ID Numbers" wicket:id="incorrectIdNumbers" />
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

</wicket:extend>

