<wicket:extend xmlns:wicket="http://www.w3.org/1999/xhtml">
    <h1>Annual Fee Reminder</h1>

    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">

        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable customReportsTable">
            <tbody>
                <tr>
                    <th colspan="2">
                        Choose search options
                    </th>
                </tr>
            </tbody>
        </table>
        <table cellspacing="0" cellpadding="0" border="0" id="report_limits" class="multiFormTable toggable">
            <tbody>
                <tr>
                    <td>Course</td>
                    <td>
                        <div title="Limit this field to be equal to the given value.">
                            <select name="course" wicket:id="course"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Current Duration</td>
                    <td>
                        <div title="Limit this field to be equal to the given value.">
                            <select name="currentCouncilDuration" wicket:id="currentCouncilDuration"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Previous Duration</td>
                    <td>
                        <div title="Limit this field to be equal to the given value.">
                            <select name="previousCouncilDuration" wicket:id="previousCouncilDuration"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Address Type</td>
                    <td>
                        <div title="Limit this field to be equal to the given value.">
                            <select name="addressType" wicket:id="addressType"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Report Format</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="contentType" wicket:id="contentType"/>                                    
                        </div>
                    </td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody>
                                <tr class="messageCell">
                                    <td class="required_field"></td>
                                    <td class="required_field"></td>
                                </tr>
                                <tr class="submitCell">
                                    <td style="text-align: left;">
                                        <a id="button_return" wicket:id="returnLink" href="#" name="add_return"
                                           class="button">return</a>
                                    </td>

                                    <td>
                                        <input id="registrantDataDBExport" type="submit" class="button"
                                               value="Process Register"
                                               wicket:id="registrantDataDBExport"/>
                                    </td>


                                    <td>
                                        <input id="registrantDataDBExportGroupByEmployer" type="submit" class="button"
                                               value="Process Register (Group By Employer)"
                                               wicket:id="registrantDataDBExportGroupByEmployer"/>
                                    </td>


                                    <td>
                                        <input id="noEmploymentDataDBExport" type="submit" class="button"
                                               value="Process Register (No Employment Status)"
                                               wicket:id="noEmploymentDataDBExport"/>
                                    </td>


                                </tr>
                            </tbody>

                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

</wicket:extend>

