<wicket:extend>
    <h1>Application Reports</h1>
    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable">
            <tr>
                <td>Search</td>
                <td><div title="Limit this field to be equal to the given value.">
                        <input name="searchtxt" wicket:id="searchtxt" id="searchtxt" type="text" title="Search by the firstname, lastname, id number, registration number or institution name."/>
                    </div></td>
            </tr>
            <!-- <p>
                                    <span class="field_head required_field">
                                        <label for="searchtxt">Choose Application Purpose</label>*
                                    </span>
                                    <br />
                                    <span class="form_field">
                                        <select name="applicationPurpose" wicket:id="applicationPurpose" type="text" ></select>
                                    </span>
                                    <input type="submit" value="Search" class="button">
                                </p> -->
            <tr>
                <td>Application Status</td>
                <td><div title="Limit this field to be equal to the given value.">
                        <select name="applicationStatus" wicket:id="applicationStatus"/>                                    
                    </div></td>
            </tr>
            <tr>
                <td>Application Start Date</td>
                <td><div title="Application Start Period.">
                        <input name="startDate" wicket:id="startDate" type="text" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>Application End Date</td>
                <td><div title="Application End Period.">
                        <input name="endDate" wicket:id="endDate" type="text" />
                    </div></td>
            </tr>
             <tr>
                    <td>Report Format</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="contentType" wicket:id="contentType"/>                                    
                        </div>
                    </td>
                </tr>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field"></td>
                                </tr>
                                <tr class="submitCell">
                                    <td>
                                        <input id="button_return" type="submit" class="button" value="Print List" wicket:id="report" />                                        
                                        <input id="button_return" type="submit" class="button" value="Search" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>  

    <!-- Registrant Data List Panel -->
    <span wicket:id="unApprovedApplicationsDataListPanel">Applications List</span>
    <!-- End  -->

</wicket:extend>
