<wicket:extend xmlns:wicket="http://www.w3.org/1999/xhtml">
    <h1>Certificates By Type And Date</h1>
    <form wicket:id="form">

        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable customReportsTable">
            <tbody>
                <tr>
                    <th colspan="2">
                        Choose                
                    </th>
                </tr>
            </tbody>
        </table>
        <table cellspacing="0" cellpadding="0" border="0" id="report_limits" class="multiFormTable toggable">
            <tbody>

            <tr>
                <td>Certificate Type</td>
                <td><div title="Limit this field to be equal to the given value.">
                    <select name="productIssuanceType" wicket:id="productIssuanceType"/>
                </div>
                </td>
            </tr>

            <tr>
                    <td>Start Date</td>
                    <td><div title="Period obtained.">
                            <input name="startDate" wicket:id="startDate" type="text" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>End Date</td>
                    <td><div title="End Period.">
                            <input name="endDate" wicket:id="endDate" type="text" />
                        </div></td>
                </tr>
                 <tr>
                    <td>Report Format</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="contentType" wicket:id="contentType"/>                                    
                        </div>
                    </td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field"></td>
                                </tr>
                                <tr class="submitCell">
                                    <td>
                                        <input id="button_return" wicket:id="report" type="submit" class="button"
                                               value="Print"/>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

</wicket:extend>

