<wicket:extend>
    <h1>Disciplines who have Upgraded</h1>
    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">

        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable customReportsTable">
            <tbody>
                <tr>
                    <th colspan="2">
                        Choose search options                        
                    </th>
                </tr>
            </tbody>
        </table>
        <table cellspacing="0" cellpadding="0" border="0" id="report_limits" class="multiFormTable toggable">
            <tbody>
                <tr>
                    <td>Primary Descipline</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="course" wicket:id="course"/>
                        </div></td>
                </tr>
                <tr>
                    <td>Secondary Descipline</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="course2" wicket:id="course2"/>
                        </div></td>
                </tr>
                <tr>
                    <td>Period</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="councilDuration" wicket:id="councilDuration"/>
                        </div></td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="registrantStatus" wicket:id="registrantStatus"/>
                        </div></td>
                </tr>
                 <tr>
                    <td>Report Format</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="contentType" wicket:id="contentType"/>                                    
                        </div>
                    </td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field"></td>
                                </tr>
                                <tr class="submitCell">
                                    <td>
                                        <input id="button_return" type="submit" class="button" value="Process" wicket:id="process" />                                        
                                    </td> 
                                </tr>                            
                            </tbody>

                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

</wicket:extend>

