
<wicket:extend>

    <h1> Cpd Points and Payment Detailed Reports </h1>
    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">
        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable customReportsTable">
            <tbody>
                <tr>
                    <th colspan="2">
                        CPD And Payments Reports                        
                    </th>
                </tr>
            </tbody>
        </table>
        <table cellspacing="0" cellpadding="0" border="0" id="report_limits" class="multiFormTable toggable">
            <tbody>
                <tr>
                    <td>Duration</td>
                    <td><div title="councilDuration">
                            <select name="councilDuration" wicket:id="councilDuration"/>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field"></td>
                                </tr>
                                <tr class="submitCell">
                                    <td>                                     
                                        <input type="submit" class="button" value="Payment Done & No CPD Points" wicket:id="NoAdequateCpdPointsButPaid" />

                                        <input type="submit" class="button" value="Payment Done" wicket:id="process"/>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

</wicket:extend>

