
<wicket:extend>

    <h1> Summarized Detailed Reports </h1>
    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">
        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable customReportsTable">
            <tbody>
                <tr>
                    <th colspan="2">
                        Summarized Detailed Reports                        
                    </th>
                </tr>
            </tbody>
        </table>
        <table cellspacing="0" cellpadding="0" border="0" id="report_limits" class="multiFormTable toggable">
            <tbody>
                <tr>
                    <td>Duration</td>
                    <td><div title="councilDuration">
                            <select name="councilDuration" wicket:id="councilDuration"/>
                        </div>
                    </td>
                </tr>


            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field"></td>
                                </tr>
                                <tr class="submitCell">
                                    <td>                                     
                                        <input type="submit" class="button" value="No CPD Points & No Payment Done" wicket:id="summarisedReportNoCPDPointsNoPaymentMade" />
                                        <input type="submit" class="button" value="Adequate CPD Points & No Payment" wicket:id="summarisedReportCpdPointsButNotPaid" /> 
                                        <input type="submit" class="button" value="Payment Done & No CPD Points" wicket:id="summarisedReportNoCpdPointsButPaid" />  

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

</wicket:extend>


