<wicket:extend>
    <h1>Disciplinary Cases Report By Criteria</h1>
    <form wicket:id="form">
        <table class="multiFormTable">            
            <tr>
                <td>Case Start Date</td>
                <td><div title="Application Start Period.">
                        <input name="startDate" wicket:id="startDate" type="text" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>Case End Date</td>
                <td><div title="Application End Period.">
                        <input name="endDate" wicket:id="endDate" type="text" />
                    </div></td>
            </tr>
            <tr>
                <td>Misconduct Type</td>
                <td><div title="Limit this field to be equal to the given value.">
                        <select name="misconductType" wicket:id="misconductType"/>                                    
                    </div></td>
            </tr>
            <tr>
                <td>Case Out Come</td>
                <td><div title="Limit this field to be equal to the given value.">
                        <select name="caseOutcome" wicket:id="caseOutcome"/>                                    
                    </div></td>
            </tr>
             <tr>
                    <td>Report Format</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="contentType" wicket:id="contentType"/>                                    
                        </div>
                    </td>
                </tr>




            <tr>
                <td>Case Status</td>
                <td><div title="Limit this field to be equal to the given value.">
                    <select name="caseStatus" wicket:id="caseStatus"/>
                </div>
                </td>
            </tr>




            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field"></td>
                                </tr>
                                <tr class="submitCell">
                                    <td>
                                        <input id="button_return" type="submit" class="button" value="Print List" wicket:id="report" />                                        
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>  
</wicket:extend>
