<wicket:extend xmlns:wicket="http://www.w3.org/1999/xhtml">
    <h1>Disciplinary Cases Summary By Misconduct Type</h1>

    <form wicket:id="form">
        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable customReportsTable">
            <tbody>
            <tr>
                <th colspan="2">
                    Choose search options
                </th>
            </tr>
            </tbody>
        </table>
        <table class="multiFormTable">
            <tr>
                <td>Case Reported Start Year</td>
                <td>
                    <div title="Limit this field to be equal to the given value.">
                        <select name="startYear" wicket:id="startYear"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Case Reported End Year</td>
                <td>
                    <div title="Limit this field to be equal to the given value.">
                        <select name="endYear" wicket:id="endYear"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Misconduct Type</td>
                <td>
                    <div title="Limit this field to be equal to the given value.">
                        <select name="misconductType" wicket:id="misconductType"/>
                    </div>
                </td>
            </tr>
             <tr>
                    <td>Report Format</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="contentType" wicket:id="contentType"/>                                    
                        </div>
                    </td>
                </tr>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody>
                            <tr class="messageCell">
                                <td class="required_field"></td>
                            </tr>
                            <tr class="submitCell">
                                <td style="text-align: left;">
                                    <a id="button_return" wicket:id="returnLink" href="#" name="add_return"
                                       class="button">return</a>
                                </td>
                                <td>
                                    <input id="showApplicationsByYearApproved" type="submit" class="button"
                                           value="Process" wicket:id="showSummaryList"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</wicket:extend>
