<wicket:extend xmlns:wicket="http://www.w3.org/1999/xhtml">
    <h1>Summarised Employment Register by Discipline</h1>

    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">

        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable customReportsTable">
            <tbody>
            <tr>
                <th colspan="2">
                    Choose search options
                </th>
            </tr>
            </tbody>
        </table>
        <table cellspacing="0" cellpadding="0" border="0" id="report_limits" class="multiFormTable toggable">
            <tbody>
            <tr>
                <td>Register</td>
                <td>
                    <div title="Limit this field to be equal to the given value.">
                        <select name="register" wicket:id="register"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Duration</td>
                <td>
                    <div title="Limit this field to be equal to the given value.">
                        <select name="councilDuration" wicket:id="councilDuration"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Status(Active)</td>
                <td>
                    <div title="Limit this field to be equal to the given value.">
                        <select name="status" wicket:id="status"/>
                    </div>
                </td>
            </tr>
             <tr>
                    <td>Report Format</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="contentType" wicket:id="contentType"/>                                    
                        </div>
                    </td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody>
                            <tr class="messageCell">
                                <td class="required_field"></td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a id="button_return" wicket:id="returnLink" href="#" name="add_return"
                                       class="button">return (do not process)</a>
                                </td>
                                <td>
                                    <input id="button_process" type="submit" class="button" value="Process"
                                           wicket:id="processList"/>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

</wicket:extend>

