<wicket:extend>
    <h1>Employment Detail Search</h1>
    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">
        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable customReportsTable">
            <tbody>
                <tr>
                    <th colspan="2">
                        Choose search options                        
                    </th>
                </tr>
            </tbody>
        </table>
        <table cellspacing="0" cellpadding="0" border="0" id="report_limits" class="multiFormTable toggable">
            <tbody>
                <tr>
                    <td>Employer</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <input name="searchTerm" wicket:id="searchTerm" id="searchtxt" type="text" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Province</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="province" wicket:id="province"/>                                    
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>District</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="district" wicket:id="district"/>                                    
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>City</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="city" wicket:id="city"/>                                    
                        </div></td>
                </tr>
                <tr>
                    <td><label  wicket:id="postLabel">Position Held</label></td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="post" wicket:id="post"/>                                    
                        </div>
                    </td>
                </tr>         
                <tr>
                    <td><label  wicket:id="institutionLabel">Institution</label></td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="institution" wicket:id="institution"/>                                    
                        </div></td>
                </tr>
                <tr>
                    <td>Employment Type</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="employmentType" wicket:id="employmentType"/>                                    
                        </div></td>
                </tr>
                <tr>
                    <td><label  wicket:id="employmentStatusLabel">Employment Status</label></td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="employmentStatus" wicket:id="employmentStatus"/>                                    
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label  wicket:id="employmentAreaLabel">Area of Employment</label></td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="employmentArea" wicket:id="employmentArea"/>                                    
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Report Format</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="contentType" wicket:id="contentType"/>                                    
                        </div>
                    </td>
                </tr>               
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field"></td>
                                </tr>
                                <tr class="submitCell">
                                    <td>
                                        <input id="button_return" type="submit" class="button" value="Print List" wicket:id="process" />
                                    </td>
                                </tr>

                            </tbody>

                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

</wicket:extend>

