<wicket:extend>

    <h1>Gender & Age Distribution Report</h1>
    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">
        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable customReportsTable">
            <tbody>
                <tr>
                    <th colspan="2">
                        Gender & Age Distribution Report                        
                    </th>
                </tr>
            </tbody>
        </table>
        <table cellspacing="0" cellpadding="0" border="0" id="report_limits" class="multiFormTable toggable">
            <tbody>
<!--                <tr>
                    <td>Discipline</td>
                    <td><div title="course">
                            <select name="course" wicket:id="course"/>
                        </div>
                    </td>
                </tr>-->
                </tbody>
                  <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field"></td>
                                </tr>
                                <tr class="submitCell">
                                    <td>                                     
                                        <!--<input type="submit" class="button" value="No CPD Points & No Payment Done" wicket:id="NoCPDPointsNoPaymentMade" />-->
                                        

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>
    
</wicket:extend>