<wicket:extend>
    <h1 class="header">
        Custom Summary Report - <span wicket:id="healthInstitutionType" name="lists_row_name"></span>
    </h1>
    <br />
    Private <span wicket:id="privateTotal" name="lists_row_name"></span>
    Public <span wicket:id="publicTotal" name="lists_row_name"></span>
    <br />
    

</wicket:extend>
