<wicket:extend>
    <h1>Qualification - Report </h1>
    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">

        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable customReportsTable">
            <tbody>
                <tr>
                    <th colspan="2">
                        Choose search options                        
                    </th>
                </tr>
            </tbody>
        </table>
        <table cellspacing="0" cellpadding="0" border="0" id="report_limits" class="multiFormTable toggable">
            <tbody>
                <tr>
                    <td>Qualification</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="qualification" wicket:id="qualification"/>
                        </div></td>
                </tr>
                <tr>
                    <td>Qualification 2</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="qualification2" wicket:id="qualification2"/>
                        </div></td>
                </tr>    
                 <tr>
                    <td>Report Format</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="contentType" wicket:id="contentType"/>                                    
                        </div>
                    </td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field"></td>
                                </tr>
                                <tr class="submitCell">
                                    <td>
                                        <input id="button_return" type="submit" class="button" value="Process" wicket:id="process" />                                        
                                    </td> 
                                </tr>                            
                            </tbody>

                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

</wicket:extend>

