<wicket:extend xmlns:wicket="http://www.w3.org/1999/xhtml">
    <h1>Missing Or Invalid ID's</h1>

    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">

        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable customReportsTable">
            <tbody>
            <tr>
                <th colspan="2">
                    Choose search options
                </th>
            </tr>
            </tbody>
        </table>
        <table cellspacing="0" cellpadding="0" border="0" id="report_limits" class="multiFormTable toggable">
            <tbody>
            <tr>
                <td>Citizenship</td>
                <td>
                    <div title="Limit this field to be equal to the given value.">
                        <select name="citizenship" wicket:id="citizenship"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>National ID Type</td>
                <td>
                    <div title="Limit this field to be equal to the given value.">
                        <select name="identificationType" wicket:id="identificationType"/>
                    </div>
                </td>
            </tr>
             <tr>
                    <td>Report Format</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="contentType" wicket:id="contentType"/>                                    
                        </div>
                    </td>
                </tr>

            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody>
                            <tr class="messageCell">
                                <td class="required_field"></td>
                            </tr>
                            <tr class="submitCell">
                                <td>
                                    <input id="button_return" type="submit" class="button" value="Process"
                                           wicket:id="process"/>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a id="button_return" wicket:id="returnLink" href="#" name="add_return"
                                       class="button">return</a>
                                </td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

</wicket:extend>

