<wicket:extend>
    <h1>Enter Age Range to get Registrants</h1>
    <form wicket:id="form">

        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable customReportsTable">
            <tbody>
                <tr>
                    <th colspan="2">
                        Choose search options                        
                    </th>
                </tr>
            </tbody>
        </table>
        <table cellspacing="0" cellpadding="0" border="0" id="report_limits" class="multiFormTable toggable">
            <tbody>   
                <tr>  
                    <td>Lower Age Limit</td>
                    <td><div title="Lower Limit Age.">
                            <input name="lowerLimit" wicket:id="lowerLimit" type="text" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Uppper Age Limit</td>
                    <td><div title="Upper Limit Age.">
                            <input name="upperLimit" wicket:id="upperLimit" type="text" />
                        </div>
                    </td>
                </tr>
                 <tr>
                    <td>Report Format</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="contentType" wicket:id="contentType"/>                                    
                        </div>
                    </td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field"></td>
                                </tr>
                                <tr class="submitCell">
                                    <td>                                     
                                        <input id="button_return" wicket:id="report" type="submit" class="button" value="Print" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

    <!-- Payment Data List Panel -->

    <!-- End  -->


</wicket:extend>

