<wicket:extend>
    <h1>Individual by Qualification</h1>
    <form wicket:id="form">

        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable customReportsTable">
            <tbody>
                <tr>
                    <th colspan="2">
                        Choose                
                    </th>
                </tr>
            </tbody>
        </table>
        <table cellspacing="0" cellpadding="0" border="0" id="report_limits" class="multiFormTable toggable">
            <tbody>
                <tr>
                    <td>Qualification</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="qualification" wicket:id="qualification"/>                                    
                        </div>
                    </td>
                </tr>                
                <tr>
                    <td>Awarding Institution</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="institution" wicket:id="institution"/>                                    
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Obtained Start Date</td>
                    <td><div title="Period obtained.">
                            <input name="startDate" wicket:id="startDate" type="text" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Obtained End Date</td>
                    <td><div title="End Period.">
                            <input name="endDate" wicket:id="endDate" type="text" />
                        </div></td>
                </tr>
                 <tr>
                    <td>Report Format</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="contentType" wicket:id="contentType"/>                                    
                        </div>
                    </td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field"></td>
                                </tr>
                                <tr class="submitCell">
                                    <td>                                     
                                        <input type="submit" class="button" value="Process" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

</wicket:extend>

