<wicket:extend>
    <h1>Registrant Status Report</h1>
    <form wicket:id="form">
        <table class="multiFormTable">            
            <tr>
                <td>Course</td>
                <td><div title="Application Start Period.">
                        <select name="course" wicket:id="course" type="text" ></select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Register</td>
                <td><div title="Application End Period.">
                        <select name="register" wicket:id="register" type="text" ></select>
                    </div></td>
            </tr>
             <tr>
                    <td>Report Format</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="contentType" wicket:id="contentType"/>                                    
                        </div>
                    </td>
                </tr>
            
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field"></td>
                                </tr>
                                <tr class="submitCell">
                                    <td>
                                        <input id="button_return" type="submit" class="button" value="Print List" wicket:id="report" />                                        
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>  
</wicket:extend>
