<wicket:extend xmlns:wicket="http://www.w3.org/1999/xhtml">
    <h1>Detailed Registers by Discipline</h1>
    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">

        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable customReportsTable">
            <tbody>
                <tr>
                    <th colspan="2">
                        Choose search options                        
                    </th>
                </tr>
            </tbody>
        </table>
        <table cellspacing="0" cellpadding="0" border="0" id="report_limits" class="multiFormTable toggable">
            <tbody>
                <tr>
                    <td>Course</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="course" wicket:id="course"/>
                        </div></td>
                </tr>
                <tr>
                    <td>Register</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="register" wicket:id="register"/>
                        </div></td>
                </tr>
                <tr>
                    <td>Duration</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="councilDuration" wicket:id="councilDuration"/>
                        </div></td>
                </tr>
                <tr>
                    <td>Status(Active)</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="status" wicket:id="status"/>
                        </div></td>
                </tr>
                <tr>
                    <td>Employment Type</td>
                    <td><div title="Limit this field to be equal to the given value.">
                        <select name="employmentType" wicket:id="employmentType"/>
                    </div></td>
                </tr>
                <tr>
                    <td>Condition</td>
                    <td><div title="Limit this field to be equal to the given value.">
                        <select name="condition" wicket:id="condition"/>
                    </div></td>
                </tr>
                <tr>
                    <td>Province</td>
                    <td><div title="Limit this field to be equal to the given value.">
                        <select name="province" wicket:id="province"/>
                    </div></td>
                </tr>
                <tr>
                    <td>Detailed Report</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <input wicket:id="detail" type="checkbox" />
                        </div></td>
                </tr>
                <tr>
                    <td>Lower Age Limit</td>
                    <td><div title="Lower Limit Age.">
                        <input name="lowerLimit" wicket:id="lowerLimit" type="text" />
                    </div>
                    </td>
                </tr>
                <tr>
                    <td>Uppper Age Limit</td>
                    <td><div title="Upper Limit Age.">
                        <input name="upperLimit" wicket:id="upperLimit" type="text" />
                    </div>
                    </td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td><div title="Limit this field to be equal to the given value.">
                        <select name="gender" wicket:id="gender"/>
                    </div></td>
                </tr>
                <tr>
                    <td>Report Format</td>
                    <td><div title="Limit this field to be equal to the given value.">
                        <select name="contentType" wicket:id="contentType"/>
                    </div>
                    </td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field"></td>
                                </tr>
                                <tr class="submitCell">
                                    <td>
                                        <input id="button_return" type="submit" class="button" value="Process" wicket:id="process" />                                        
                                    </td> 
                                </tr>                            
                            </tbody>

                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>
    
</wicket:extend>

