<wicket:extend xmlns:wicket="http://www.w3.org/1999/xhtml">
    <h1>Summary of All Registers by Discipline</h1>
    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">

        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable customReportsTable">
            <tbody>
                <tr>
                    <th colspan="2">
                        Choose search options                        
                    </th>
                </tr>
            </tbody>
        </table>
        <table cellspacing="0" cellpadding="0" border="0" id="report_limits" class="multiFormTable toggable">
            <tbody>
                <tr>
                    <td>Duration</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="councilDuration" wicket:id="councilDuration"/>
                        </div></td>
                </tr>
                 <tr>
                    <td>Report Format</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="contentType" wicket:id="contentType"/>                                    
                        </div>
                    </td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field"></td>
                                </tr>
                                <tr class="submitCell">
                                    <td style="text-align: left;">
                                        <a id="button_return" wicket:id="returnLink" href="#" name="add_return"
                                           class="button">return</a>
                                    </td>
                                    <td>
                                        <input id="showActive" type="submit" class="button" value="Process" wicket:id="process" />
                                    </td>
                                    <td>
                                        <input id="showActive" type="submit" class="button" value="Active" wicket:id="active" />
                                    </td>                                    
                                    <td>
                                        <input id="button_excel" type="submit" class="button" value="Pivot Table Data" wicket:id="showAsExcel" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

</wicket:extend>

