<wicket:extend xmlns:wicket="http://www.w3.org/1999/xhtml">
    <span>
        <input type="hidden" name="swissFactory:path" value="/"/>
        <span name="swiss_view_content">
            <div class="reportviews">
                <h2>Reports</h2>
                <ul id="reports_by_category_container">
                    <li>
                        <h2>
                            <span name="report_category">Generate Summary Reports by Period</span>
                        </h2>
                        <ul id="reports_container">

                            <li>
                                <a href="#" wicket:id="webRegisterExportPage">Export to Website</a>
                                <span>Practitioner Current Register For Website (in Excel CSV format)</span>

                                <div id="reportView_link"></div>
                            </li>

                            <li>
                                <a href="#" wicket:id="reportDurationPage">Summary of All Registers by Discipline</a>
                                <span>All Registers by Discipline</span>

                                <div id="reportView_link"></div>
                            </li>
                            <li>
                                <a href="#" wicket:id="registrantsByCourseAndDurationPage">Detailed Registers by
                                    Discipline</a>
                                <span>List of those registered for by discipline</span>

                                <div id="reportView_link"></div>
                            </li>
                            <li>
                                <a href="#" wicket:id="employmentByCourseAndDurationPage">Detailed Employment Register
                                    by Discipline</a>
                                <span>List of employed persons by Discipline</span>

                                <div id="reportView_link"></div>
                            </li>
                            <li>
                                <a href="#" wicket:id="employmentTypeByDisciplineTotalSummaryReportPage">Summarised
                                    Employment Register by Discipline</a>
                                <span>Totals of employment types by Discipline</span>

                                <div id="reportView_link"></div>
                            </li>
                            <li>
                                <a href="#" wicket:id="registrantsByQualificationAndDurationPage">Detailed Registers by
                                    Qualification</a>
                                <span>List of those registered for by qualification</span>

                                <div id="reportView_link"></div>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <h2>
                            <span name="report_category">Generate Summary Reports by Registration</span>
                        </h2>
                        <ul id="reports_container">
                            <li>
                                <a name="show_link" href="#" wicket:id="showRegistersSummaryReportByCourse">
                                    <span name="displayName">Summary of All Registers</span></a>
                                <span>Summary of All Registers</span>

                                <div id="reportView_link"></div>
                            </li>

                            <li>
                                <a name="show_link" href="#" wicket:id="employmentReportPage">
                                    <span name="displayName">Employment Summary Report</span></a>
                                <span>Employment Summary Report</span>
                                <div id="reportView_link"></div>
                            </li>

                            <li>
                                <a name="show_link" href="#" wicket:id="showRegistersSummaryReportByQualification">
                                    <span name="displayName">Summary of All Registers by Qualification</span></a>
                                <span>Summary of All Registers by Qualification</span>

                                <div id="reportView_link"></div>
                            </li>
                            <li>
                                <a name="show_link" href="#" wicket:id="statisticReport">
                                    <span name="displayName">Summary of All Practitioners by Qualification</span></a>
                                <span></span>

                                <div id="reportView_link"></div>
                            </li>
                        </ul>
                    </li>

                </ul>

                    <li>
                        <h2>
                            <span name="report_category">Generate Process Reports</span>
                        </h2>
                        <ul id="reports_container">
                            <li>
                                <a name="show_link" href="#" wicket:id="annualReminderPage">
                                    <span name="displayName">Annual Fee Reminder</span></a>
                                <span></span>

                                <div id="reportView_link"></div>
                            </li>
                            <li>
                                <a name="show_link" href="#" wicket:id="courseMappedCourseReport">
                                    <span name="displayName">Disciplines who have Upgraded</span></a>
                                <span></span>

                                <div id="reportView_link"></div>
                            </li>

                            <li>
                                <a name="show_link" href="#" wicket:id="applicationsByYearApprovedPage">
                                    <span name="displayName">Summary of All Applications Done In Year</span></a>
                                <span></span>

                                <div id="reportView_link_approved"></div>
                            </li>
                            <li>
                                <a name="show_link" href="#" wicket:id="de-registeredList">
                                    <span name="displayName">Deregistered Individuals</span></a>
                                <span></span>

                                <div id="reportView_link"></div>
                            </li>
                            <li>
                                <a name="show_link" href="#" wicket:id="deceasedList">
                                    <span name="displayName">Deceased Individuals</span></a>
                                <span></span>

                                <div id="reportView_link"></div>
                            </li>
                            <li>
                                <a name="show_link" href="#" wicket:id="retiredList">
                                    <span name="displayName">Retired Individuals</span></a>
                                <span></span>

                                <div id="reportView_link"></div>
                            </li>
                            <li>
                                <a name="show_link" href="#" wicket:id="voidedList">
                                    <span name="displayName">Take of List</span></a>
                                <span></span>

                                <div id="reportView_link"></div>
                            </li>
                        </ul>
                    </li>                    

                    <li>
                        <h2>
                            <span name="report_category">Institution Reports</span>
                        </h2>
                        <ul id="reports_container">


                            <li>
                                <a name="show_link" href="#" wicket:id="allRegisteredInstitutions">
                                    <span name="displayName">All Current Registered Institutions</span></a>
                                <span></span>

                                <div id="reportView_link_superc">
                                    Institutions with Registration Dates
                                </div>
                            </li>


                            <li>
                                <a name="show_link" href="#" wicket:id="allClosedRegisteredInstitutions">
                                    <span name="displayName">All De-Registered Institutions</span></a>
                                <span></span>

                                <div id="reportView_link_superc">
                                    Institutions with Registration Dates
                                </div>
                            </li>

                            <li>
                                <a name="show_link" href="#" wicket:id="retiredInstitutionsReport">
                                    <span name="displayName">Retired Institutions Summary Report</span></a>
                                <span></span>

                                <div id="reportView_link"></div>
                            </li>

                            <li>
                                <a name="show_link" href="#" wicket:id="allIinstitutions">
                                    <span name="displayName">All Institutions Report</span></a>
                            </li>

                            <li>
                                <a name="show_link" href="#" wicket:id="institutionProvinceSummaryReport">
                                    <span name="displayName">Province Summary Report</span></a>
                                <span></span>

                                <div id="reportView_link"></div>
                            </li>
                            <li>
                                <a name="show_link" href="#" wicket:id="institutionDistrictSummaryReport">
                                    <span name="displayName">District Summary Report</span></a>
                                <span></span>

                                <div id="reportView_link"></div>
                            </li>
                            <li>
                                <a name="show_link" href="#" wicket:id="institutionCitySummaryReport">
                                    <span name="displayName">City Summary Report</span></a>
                                <span></span>

                                <div id="reportView_link"></div>
                            </li>

                            <li>
                                <a name="show_link" href="#" wicket:id="institutionTypeSummaryReport">
                                    <span name="displayName">Institutions By Type Summary Report</span></a>
                                <span></span>

                                <div id="reportView_link"></div>
                            </li>
                            <li>
                                <a name="show_link" href="#" wicket:id="institutionCategorySummaryReport">
                                    <span name="displayName">Institution Category Summary Report</span></a>
                                <span></span>

                                <div id="reportView_link"></div>
                            </li>
                            <li>
                                <a name="show_link" href="#" wicket:id="InstitutionManagerReport">
                                    <span name="displayName">All Institution Managers By StartDate and EndDate (* in PDF Format)</span></a>
                                <span></span>

                                <div id="reportView_link_superc"></div>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <h2>
                            <span name="report_category">Generate Disciplinary and Condition Reports</span>
                        </h2>
                        <ul id="reports_container">
                            <li>
                                <a name="show_link" href="#" wicket:id="disciplinaryReportPage">
                                    <span name="disciplinaryReport">Disciplinary Reports</span></a>
                                <span></span>

                                <div id="reportView_link"></div>
                            </li>
                            <li>
                                <a name="show_link" href="#" wicket:id="disciplinarySummaryByMisconductTypeReportPage">
                                    <span name="disciplinaryReport">Disciplinary Cases Summary By Misconduct Type</span></a>
                                <span></span>

                                <div id="reportView_link"></div>
                            </li>
                            <li>
                                <a name="show_link" href="#" wicket:id="registrantsWithConditionsPage">
                                    <span name="displayName">Registrants With Conditions Page</span></a>
                                <span></span>

                                <div id="reportViewReg_link"></div>
                            </li>
                        </ul>
                    </li>


                    <li>
                        <h2>
                            <span name="report_category">Generate Examination Reports</span>
                        </h2>
                        <ul id="reports_container">
                            <li>
                                <a href="#" wicket:id="examinationTopCandidatestPage">Examination Top Candidates</a>
                                <span></span>

                                <div id="reportView_link"></div>
                            </li>
                            <li>
                                <a href="#" wicket:id="examinationPaperPage">View Results By Exam Paper</a>
                                <span></span>

                                <div id="reportView_link"></div>
                            </li>
                            <li>
                                <a href="#" wicket:id="examinationPassRatePage">Examination Pass Rate</a>
                                <span></span>

                                <div id="reportView_link"></div>
                            </li>
                            <li>
                                <a href="#" wicket:id="examinationYearSummaryPage">Examination Year Summary</a>
                                <span></span>

                                <div id="reportView_link"></div>
                            </li>
                            
                            
                        </ul>
                    </li>

                    <li>
                        <h2>
                            <span name="report_category">Generate Miscellaneous Reports</span>
                        </h2>
                        <ul id="reports_container">
                            <li>
                                <a name="show_link" href="#" wicket:id="registrantAddressReportPage">
                                    <span name="displayName"> Address Details</span></a>
                                <span>By Address Type</span>

                                <div id="reportView_link"></div>
                            </li>
                        
                            <li>
                                <a name="show_link" href="#" wicket:id="registrantContactReportPage">
                                    <span name="displayName">Contact Details</span></a>
                                <span>By Contact Type</span>

                                <div id="reportView_link"></div>
                            </li>
                            

                            <li>
                                <a name="show_link" href="#" wicket:id="registrantQualificationReportPage">
                                    <span name="displayName">Qualifications Report Page</span></a>
                                <span></span>

                                <div id="reportView_link"></div>
                            </li>

                             <li>
                                <a name="show_link" href="#" wicket:id="certificateTypeReportPage">
                                    <span name="displayName">Certificate Report Page</span></a>
                                <span></span>

                                <div id="reportView_link"></div>
                            </li>
                            <li>
                                <a name="show_link" href="#" wicket:id="registerTypeReportPage">
                                    <span name="displayName">Register Type Report</span></a>
                                <span></span>

                                <div id="reportView_link"></div>
                            </li>
                            <li>
                                <a name="show_link" href="#" wicket:id="applicationStatusReportPage">
                                    <span name="displayName">Application By Status Report</span></a>
                                <span></span>

                                <div id="reportView_link"></div>
                            </li>

                            <li>
                                <a name="show_link" href="#" wicket:id="registrantAgePage">
                                    <span name="displayName">Registrant Age Report</span></a>
                                <span></span>

                                <div id="reportView_link"></div>
                            </li>
                            <li>
                                <a name="show_link" href="#" wicket:id="registrantStatusReportPage">
                                    <span name="displayName">Registrant Status Report</span></a>
                                <span></span>

                                <div id="reportView_link"></div>
                            </li>
                            <li>
                                <a name="show_link" href="#" wicket:id="registrantReportLink">
                                    <span name="displayName">Registrant Report</span></a>
                                <span></span>

                                <div id="reportView_link"></div>
                            </li>

                            <li>
                                <a name="show_link" href="#" wicket:id="qualificationMappedQualificationReport">
                                    <span name="displayName">Qualification Mapped Report</span></a>
                                <span></span>

                                <div id="reportView_link"></div>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <h2>
                            <span name="report_category">Data Validation and Verification Reports</span>
                        </h2>
                        <ul id="reports_container">
                            <li>
                                <a name="show_link" href="#" wicket:id="incorrectIdNumbers">
                                    <span name="displayName">In Correct Id Numbers (NOID or without)</span></a>
                                <span></span>

                                <div id="reportView_link"></div>
                            </li>
                            <li>
                                <a name="show_link" href="#" wicket:id="incorrectDateOfBirth">
                                    <span name="displayName">In Correct Date of Birth(01/01/1900)</span></a>
                                <span></span>

                                <div id="reportView_link"></div>
                            </li>
                            <li>
                                <a name="show_link" href="#" wicket:id="listOfIndividualsWhoHaveNeverRenewed">
                                    <span name="displayName">Individuals who never renewed</span></a>
                                <span></span>

                                <div id="reportView_link"></div>
                            </li>
                            <li>
                                <a name="show_link" href="#" wicket:id="listOfIndividualsWhoHaveNeverRenewedCSV">
                                    <span name="displayName">Individuals who never renewed Grouped</span></a>
                                <span></span>

                                <div id="reportView_link"></div>
                            </li>

                        </ul>
                    </li>


                    <li>
                        <h2>
                            <span name="report_category">Pivot Data</span>
                        </h2>

                        <ul>

                            <li>
                                <a href="#" wicket:id="registrationPivotData">Registration Pivot Data</a>
                                <span>Export Data for Pivot Tables for Registration</span>
                            </li>

                             <li>
                                <a href="#" wicket:id="renewalPivotData">Renewal Pivot Data</a>
                                <span>Export Data for Pivot Tables for Renewals</span>
                            </li>


                        </ul>
                    </li>
            </div>
        </span>

        <br/>
        <span name="swiss_options"></span>
    </span>
</wicket:extend>
