<wicket:extend xmlns:wicket="http://www.w3.org/1999/xhtml">
    <h1>Active Registrants</h1>
    <form wicket:id="form">

        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable customReportsTable">
            <tbody>
                <tr>
                    <th colspan="2">
                        Choose search options                        
                    </th>
                </tr>
            </tbody>
        </table>
        <table cellspacing="0" cellpadding="0" border="0" id="report_limits" class="multiFormTable toggable">
            <tbody>

                <tr>
                    <td>Duration</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="councilDuration" wicket:id="councilDuration"/>
                        </div></td>
                </tr>

            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field"></td>
                                </tr>
                                <tr class="submitCell">
                                    <td>
                                        <input id="showActive" type="submit" class="button" value="Summary List" wicket:id="submitAllRegistrants" />
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

</wicket:extend>

