    <wicket:extend>
        <h1>Upload Council Picture</h1>
        
         <div>
		<span wicket:id="uploadFeedback"/>
	 </div>
        <div>
            <img wicket:id="image" alt="" width="308" height="203"/>
        </div>

        <div id="password">
            <form wicket:id="simpleUpload">
                <table class="multiFormTable" align="center">
                    <tbody>
                        <tr><td id="message"></td></tr>
                        <tr>
                            <td>
                                <p><label>File:</label><br>
                                <input wicket:id="fileInput" type="file" id="simpleUpload"  />
                                </p>
                            </td>
                        </tr>
                        <tr class="submitCell">
                            <td>
                                <input name="submit" value="Upload" type="submit">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </wicket:extend>
