<wicket:extend xmlns:wicket="http://www.w3.org/1999/xhtml">
    <h1>Registrant CPD</h1>
    <h2><span name="type_name">Registrant</span>:<span wicket:id="registrant.fullname" class="form_field"></span></h2>
    <div wicket:id="feedback" style="width: 360px;"></div>   
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2"><span name="type_name">Registant CPD</span></th>
            </tr>
            <tbody id="list_fields">        
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="councilDuration">Council Duration</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="councilDuration" wicket:id="councilDuration"></select>
                            </span>
                            <br/>

                             <span class="field_head required_field">
                                <label for="activityNo">Activity Number</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="activityNo" wicket:id="activityNo" id="activityNo" type="text" />
                            </span>
                            <br/>


                            <span class="field_head required_field">
                                <label for="issuedDate">Date Issued</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="issuedDate" wicket:id="issuedDate" id="issuedDate" type="text" />
                            </span>
                            <br/>


                            <span class="field_head required_field">
                                <label for="expiryDate">Date Expired</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="expiryDate" wicket:id="expiryDate" id="expiryDate" type="text" />
                            </span>
                            <br/>


                            <span class="field_head required_field">
                                <label for="organisation">Organised By</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="organisation" wicket:id="organisation" id="organisation" type="text" />
                            </span>
                            <br/>


                             <span class="field_head required_field">
                                <label for="activityAttended">Attended</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="activityAttended" wicket:id="activityAttended" id="activityAttended" type="text" />
                            </span>

                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="point">Points</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="point" wicket:id="point" id="point" type="text" />
                            </span>
                        </p>   
                    </td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field">* - Required Field</td>
                                </tr>
                                <tr class="submitCell">
                                    <td>
                                        <a id="button_return" wicket:id="registrantViewPage" href="#" name="add_return" class="button">return (do not save changes)</a>
                                        <input type="submit" class="button" value="Add"  />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>    
</wicket:extend>
