<wicket:extend>
    <div class="recordsData">           
        <span wicket:id="registrantPanel"></span>
        <br style="clear: both;">       
        <!-- dataTable -->
    </div>
    <div wicket:id="feedback" id="error"></div>
    
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2"><span name="type_name">Practice Conditions Registrant</span></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="name">Conditions</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <span wicket:id="conditions"></span>
                            </span>
                        </p>                         
                    </td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field">* - Required Field</td>
                                </tr>
                                <tr class="submitCell">
                                    <td>
                                        <a wicket:id="next" href="#" name="add_return" class="button" >Next</a>
                                        <a wicket:id="certificationPage" href="#" name="add_return" class="button" >SKIP</a>
                                        <input type="submit" class="button" value="Save" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>    
</wicket:extend>   