<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<wicket:panel>
    <div class="recordsData">
        <h3>
            <span name="type_name">Practitioners with Expired Conditions</span> 
        </h3>
        <div class="recordsData" id="select_list">
            <div id="select_list_results">
                <table border="0" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr id="lists_header">
                            <th>Fullname</th>  
                            <th>Condition</th>
                            <th>Date Expired</th>  
                        </tr>
                    </thead>
                    <tbody id="lists_body">
                        <tr wicket:id="registrantConditionList">
                            <td>
                                <span wicket:id="registrant.fullname" name="registrant.fullname" class="form_field"></span>
                            </td>
                            <td>
                                <span wicket:id="condition" name="condition" class="form_field"></span>                            
                            </td>

                            <td>
                                <span wicket:id="endDate" name="endDate" class="form_field"></span>
                            </td>
                            <td>
                                <a name="list_edit_link" href="#" wicket:id="registrantConditionLink">Update </a>
                            </td>                                       
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br style="clear: both;">       
        <!-- dataTable -->
    </div>   

</wicket:panel>