<wicket:extend>
    <h1>Add/Update Employment Information</h1>
    <h2><span name="type_name">Registrant</span>:<span wicket:id="registrant.fullname" class="form_field"></span></h2>

    <div id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2"><span name="type_name">Employment</span></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>                      
                        <p>
                            <span class="field_head required_field">
                                <label for="startDate">Start Date</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="startDate" wicket:id="startDate" id="startDate" type="text" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="End Date">End Date</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="endDate" wicket:id="endDate" id="endDate" type="text" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                 <label  wicket:id="institutionLabel">Institution</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="institution" wicket:id="institution"/>                                    
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="status">Current</label>*
                            </span>
                            <br />                       
                            <span class="form_field">
                                <input type="checkbox" wicket:id="active" name="active"/>
                            </span>
                        </p>  
                         <p>
                            <span class="field_head required_field">
                                <label  wicket:id="employmentStatusLabel">Employment Status</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="employmentStatus" wicket:id="employmentStatus"/>                                    
                            </span>
                        </p>   
                    </td>
                    <td>  
                        <p>
                            <span class="field_head required_field">
                                <label for="employmentType">Employment Type</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="employmentType" wicket:id="employmentType"></select>                                    
                            </span>
                        </p>
                         <p>
                            <span class="field_head required_field">
                                <label for="city">City</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="city" wicket:id="city"></select>                                    
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label>Employer</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input type="text" wicket:id="employer"/>                                  
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label  wicket:id="postLabel">Position Held</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="post" wicket:id="post"/>                                    
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label  wicket:id="employmentAreaLabel">Area of Employment</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="employmentArea" wicket:id="employmentArea"></select>                                    
                            </span>
                        </p>
                    </td>  
                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field">* - Required Field</td>
                                </tr>
                                <tr class="submitCell">
                                    <td>
                                        <a id="button_return" wicket:id="registrantViewPage" href="#" name="add_return" class="button">return (do not save changes)</a>
                                        <input type="submit" class="button" value="Save" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

</wicket:extend>
