<wicket:panel>
    <div class="recordsData">
        <h3>
            <span name="type_name">Employment</span> Information</h3>
        <p id="contact_links" class="editRecordsData">
            <a onclick="return hideDiv('contact', this);" title="Hide" class="hide" href="">Hide</a>           
            <span>
                <a name="list_edit_link" href="#" wicket:id="employmentEditPage">Add Employment</a>
            </span>
        </p>
        <span id="contact">
            <div id="person_contact_work"></div> <!-- work contact -->
            <div id="person_contact_personal"></div> <!-- personal contact -->
            <div id="person_contact_emergency"></div> <!-- emefencye contact -->
            <div id="person_contact_other"></div> <!-- other contact -->
        </span>
        <br style="clear: both;">       
        <div id="list_display" class="recordsData" wicket:id="employmentList">

            <div class="editRecord">
                <p>Edit This Information</p>
                <ul>
                    <li id="list_edit_link_node">
                        <a name="list_edit_link" href="#" wicket:id="employmentEditPage">Update this Information</a>
                    </li>                  
                </ul>
            </div> <!-- editRecord -->
            <div class="dataTable">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <th colspan="2"><span name="type_name">Employment</span></th>
                        </tr>

                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Institution</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="institution" name="institution" class="form_field"></span>
                                </b>
                            </td>
                        </tr>

                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Employer</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="employer" name="employer" class="form_field"></span>
                                </b>
                            </td>
                        </tr>

                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Employment Type</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="employmentType" name="employmentType" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                    <wicket:enclosure child="startDate">
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Start Date</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="startDate" name="startDate" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                    </wicket:enclosure>
                    <wicket:enclosure child="endDate">
                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>End Date</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="endDate" name="endDate" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                    </wicket:enclosure>
                    <wicket:enclosure child="city">
                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>City</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="city" name="city" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                    </wicket:enclosure>
                    <wicket:enclosure child="post">
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Position Held</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="post" name="post" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                    </wicket:enclosure>
                    <wicket:enclosure child="employmentStatus">
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Employment Status</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="employmentStatus" name="employmentStatus" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                    </wicket:enclosure>
                    <wicket:enclosure child="employmentArea">
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Employment Area</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="employmentArea" name="employmentArea" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                    </wicket:enclosure>
                    <wicket:enclosure child="createdBy">
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Created By</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="createdBy" name="createdBy" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                    </wicket:enclosure>
                     <wicket:enclosure child="dateCreated">
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Created On</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="dateCreated" name="dateCreated" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                    </wicket:enclosure>
                     <wicket:enclosure child="modifiedBy">
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Last Modified By</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="modifiedBy" name="modifiedBy" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                    </wicket:enclosure>
                     <wicket:enclosure child="dateModified">
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Last Modified On</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="dateModified" name="dateModified" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                    </wicket:enclosure>
                    </tbody>

                </table>
            </div> <!-- dataTable -->

        </div>
    </div>
</wicket:panel>