
<wicket:panel>

    <div class="recordsData" id="select_list">
        <div id="select_list_results">
            <table border="0" cellpadding="0" cellspacing="0">

                <tbody id="lists_body">

                    <tr>Panel to show list of added conditons
                    </tr>

                </tbody>
            </table>
        </div>
    </div> 

</wicket:panel>

