<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<wicket:panel>
    <div class="recordsData">
        <h3>
            <span name="type_name">Practice Conditions(Restrictions)</span> 
            <p id="contact_links" class="editRecordsData">
                <a onclick="return hideDiv('contact', this);" title="Hide" class="hide" href="">Hide</a>           
                <span>
                    <a name="list_edit_link" href="#" wicket:id="registrantConditionLink">Add Condition</a>
                </span>     
                <span>
                    <a name="list_edit_link" href="#" wicket:id="registrantPersonalConditionPage">Add Personal Condition</a>
                </span> 
            </p>
        </h3>
        <div class="recordsData" id="select_list">
            <div id="select_list_results">
                <table border="0" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr id="lists_header">
                            <th>Condition</th>
                            <th>Date Created</th> 
                            <th>End Date</th>
                            <th>Status</th>
                            <th>Created By</th>
                            <th>Created On</th>
                            <th>Last Modified By</th>
                            <th>Last Modified On</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="lists_body">
                        <tr wicket:id="registrantConditionList">
                            <td>
                                <span wicket:id="conditionText" name="conditionText" class="form_field"></span>                            
                            </td>
                            <td>
                                <span wicket:id="startDate" name="startDate" class="form_field"></span>
                            </td>
                            <td>
                                <span wicket:id="endDate" name="endDate" class="form_field"></span>
                            </td>
                            <td>
                                <span wicket:id="statusText" name="statusText" class="form_field"></span>
                            </td>
                            <td>
                                <span wicket:id="createdBy" class="form_field"></span>
                            </td>
                            <td>
                                <span wicket:id="dateCreated" class="form_field"></span>
                            </td>
                            <td>
                                <span wicket:id="modifiedBy" class="form_field"></span>
                            </td>
                            <td>
                                <span wicket:id="dateModified" class="form_field"></span>
                            </td>
                            <td>
                                <a name="list_edit_link" href="#" wicket:id="registrantConditionLink">Update </a>
                            </td>                                       
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br style="clear: both;">       
        <!-- dataTable -->
    </div>   

</wicket:panel>
