<wicket:panel xmlns:wicket="http://www.w3.org/1999/xhtml">
    <div class="dataTable">
        <table border="0" cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
                <th colspan="2"><span name="type_name">Detail</span></th>
            </tr>

            <tr class="">
                <td>
                        <span class="field_head">
                            <label>First Name</label>
                        </span>:
                </td>
                <td>
                    <b>
                        <span class="form_field" wicket:id="firstname"></span>
                    </b>
                </td>
            </tr>
            <wicket:enclosure child="middlename">
                <tr class="even">
                    <td>
                        <span class="field_head">
                            <label>Middle Name</label>
                        </span>:
                    </td>
                    <td>
                        <b>
                            <span class="form_field" wicket:id="middlename"></span>
                        </b>
                    </td>
                </tr>
            </wicket:enclosure>
            <tr class="">
                <td>
                    <span class="field_head">
                        <label>Last Name</label>
                    </span>:
                </td>
                <td>
                    <b>
                        <span wicket:id="lastname" class="form_field"></span>
                    </b>
                </td>
            </tr>
            <wicket:enclosure child="maidenname">
                <tr class="">
                    <td>
                        <span class="field_head">
                            <label>Maiden Name</label>
                        </span>:
                    </td>
                    <td>
                        <b>
                            <span wicket:id="maidenname" class="form_field"></span>
                        </b>
                    </td>
                </tr>
            </wicket:enclosure>
            <tr class="even">
                <td>
                    <span class="field_head">
                        <label>Gender</label>
                    </span>:
                </td>
                <td>
                    <b>
                        <span wicket:id="gender" class="form_field"></span>
                    </b>
                </td>
            </tr>

            <tr class="">
                <td>
                    <span class="field_head">
                        <label>Date of Birth</label>
                    </span>:
                </td>
                <td>
                    <b>
                        <span class="form_field" wicket:id="birthDate"></span>
                    </b>
                </td>
            </tr>
            <tr class="even">
                <td>
                    <span class="field_head">
                        <label>Place of Birth</label>
                    </span>:
                </td>
                <td>
                    <b>
                        <span class="form_field" wicket:id="placeOfBirth"></span>
                    </b>
                </td>
            </tr>
            <tr class="">
                <td>
                    <span class="field_head">
                        <label><span wicket:id="identificationType" class="form_field"></span></label>
                    </span>:
                </td>
                <td>
                    <b>
                        <span wicket:id="idNumber" class="form_field"></span>
                    </b>
                </td>
            </tr>
            <tr class="even">
                <td>
                    <span class="field_head">
                        <label>Registration Number</label>
                    </span>:
                </td>
                <td>
                    <b>
                        <span wicket:id="registrationNumber" class="form_field"></span>
                    </b>
                </td>
            </tr>
            <tr class="">
                <td>
                    <span class="field_head">
                        <label>Discipline</label>
                    </span>:
                </td>
                <td>
                    <b>
                        <span wicket:id="courses" class="form_field"></span>
                    </b>
                </td>
            </tr>

            <tr class="">
                <td>
                    <span class="field_head">
                        <label>Registration Date</label>
                    </span>:
                </td>
                <td>
                    <b>
                        <span wicket:id="currentRegistrationDate" class="form_field"></span>
                    </b>
                </td>
            </tr>

            <tr class="">
                <td>
                    <span class="field_head">
                        <label>Qualifications</label>
                    </span>:
                </td>
                <td>
                    <b>
                        <span class="form_field" wicket:id="registrantQualificationList"></span>
                    </b>
                </td>
            </tr>
            <tr class="even">
                <td>
                    <span class="field_head">
                        <label>Found In</label>
                    </span>:
                </td>
                <td>
                    <b>
                        <span wicket:id="registers" class="form_field"></span>
                    </b>
                </td>
            </tr>
            <tr class="even">
                <td>
                    <span class="field_head">
                        <label>Employment Type</label>
                    </span>:
                </td>
                <td>
                    <b>
                        <span wicket:id="employmentType" class="form_field"></span>
                    </b>
                </td>
            </tr>
            <tr class="">
                <td>
                    <span class="field_head">
                        <label>Work Place</label>
                    </span>:
                </td>
                <td>
                    <b>
                        <span wicket:id="institutions" class="form_field"></span>
                    </b>
                </td>
            </tr>
            <wicket:enclosure child="trainingInfo">
                <tr class="">
                    <td>
                        <span class="field_head">
                            <label>Exam Registered</label>
                        </span>:
                    </td>
                    <td>
                        <b>
                            <span wicket:id="trainingInfo" class="form_field"></span>
                        </b>
                    </td>
                </tr>
            </wicket:enclosure>
            <wicket:enclosure child="activeConditions">
                <tr class="">
                    <td>
                        <span class="field_head">
                            <label>Conditions</label>
                        </span>:
                    </td>
                    <td>
                        <b style="color: red;">
                            <span class="form_field" wicket:id="activeConditions"></span>
                        </b>
                    </td>
                </tr>
            </wicket:enclosure>
            <wicket:enclosure child="documents">
                <tr class="even">
                    <td>
                        <span class="field_head">
                            <label>Outstanding Documents</label>
                        </span>:
                    </td>
                    <td>
                        <b style="color: red;">
                            <span class="form_field" wicket:id="documents"></span>
                        </b>
                    </td>
                </tr>
            </wicket:enclosure>
            <wicket:enclosure child="institutionsSupervised">
                <tr class="even">
                    <td>
                        <span class="field_head">
                            <label>Institutions Supervised</label>
                        </span>:
                    </td>
                    <td>
                        <b>
                            <span class="form_field" wicket:id="institutionsSupervised"></span>
                        </b>
                    </td>
                </tr>
            </wicket:enclosure>
            <wicket:enclosure child="institutionsInCharge">
                <tr class="even">
                    <td>
                        <span class="field_head">
                            <label>In Charge of </label>
                        </span>:
                    </td>
                    <td>
                        <b>
                            <span class="form_field" wicket:id="institutionsInCharge"></span>
                        </b>
                    </td>
                </tr>
            </wicket:enclosure>
            <wicket:enclosure child="createdBy">
                <tr class="">
                    <td>
                        <span class="field_head">
                            <label>Created By</label>
                        </span>:
                    </td>
                    <td>
                        <b>
                            <span class="form_field" wicket:id="createdBy"></span>
                        </b>
                    </td>
                </tr>
                <tr class="">
                <td>
                        <span class="field_head">
                            <label>Created On</label>
                        </span>:
                </td>
                <td>
                    <b>
                        <span class="form_field" wicket:id="dateCreated"></span>
                    </b>
                </td>
            </tr>
            <tr class="">
                <td>
                        <span class="field_head">
                            <label>Last Modified By</label>
                        </span>:
                </td>
                <td>
                    <b>
                        <span class="form_field" wicket:id="modifiedBy"></span>
                    </b>
                </td>
            </tr>
u            <tr class="">
                <td>
                        <span class="field_head">
                            <label>Last Modified On</label>
                        </span>:
                </td>
                <td>
                    <b>
                        <span class="form_field" wicket:id="dateModified"></span>
                    </b>
                </td>
            </tr>
            </wicket:enclosure>
            </tbody>
        </table>

    </div>
    <!-- dataTable -->
</wicket:panel>
