<wicket:extend>
    <h1>Add/Update Registrant Disciplinary</h1>
    <h2><span name="type_name">Registrant</span>:<span wicket:id="registrant.fullname" class="form_field"></span></h2>

    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2"><span name="type_name">Registrant Disciplinary</span></th>
            </tr>
            <tbody id="list_fields">

            <tr>
                <td>
                    <p>
                            <span class="field_head required_field">
                                <label for="name">Case Date</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="caseDate" wicket:id="caseDate" type="text"/>
                            </span>
                    </p>
                </td>
                <td>
                    <p>
                            <span class="field_head required_field">
                                <label for="name">Case Status</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <select name="name" wicket:id="caseStatus"></select>
                            </span>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                            <span class="field_head required_field">
                                <label for="name">Misconduct Type</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <select name="name" wicket:id="misconductType"></select>
                            </span>
                    </p>
                </td>
                <td>
                    <p>
                            <span class="field_head required_field">
                                <label for="name">Date Resolved</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="dateResolved" wicket:id="dateResolved" type="text"/>
                            </span>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                            <span class="field_head required_field">
                                <label for="comment">Comments</label>
                            </span>
                        <br/>
                        <span class="form_field">
                               <textarea name="comment" wicket:id="comment" rows="10" cols="600"/>
                            </span>
                    </p>
                </td>
                <td>
                    <p>
                            <span class="field_head required_field">
                                <label for="name">Case Outcome</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <select name="name" wicket:id="caseOutcome"></select>
                            </span>
                    </p>
                    <p>
                            <span class="field_head required_field">
                                <label for="name">Penalty Start Date</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="penaltyStartDate" wicket:id="penaltyStartDate" type="text"/>
                            </span>
                    </p>
                    <p>
                            <span class="field_head required_field">
                                <label for="name">Penalty End Date Resolved</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="penaltyEndDate" wicket:id="penaltyEndDate" type="text"/>
                            </span>
                    </p>
                </td>
            </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody>
                            <tr class="messageCell">
                                <td class="required_field">* - Required Field</td>
                            </tr>
                            <tr class="submitCell">
                                <td>
                                    <a id="button_return" wicket:id="registrantViewPage" href="#" name="add_return"
                                       class="button">return (do not save changes)</a>
                                    <input type="submit" class="button" value="Save"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

</wicket:extend>
