<wicket:panel>
    <div class="recordsData">
        <h3>
            <span name="type_name">Registration</span> History</h3>        
        <br style="clear: both;">       
        <div id="list_display" class="recordsData" wicket:id="registrationsList">
            <div class="editRecord">
                <p>Edit This Information</p>
                <ul>
                    <li id="list_edit_link_node">
                        <a name="list_edit_link" href="#" wicket:id="registrationClosePage">Close Registration</a>
                    </li>       
                    <li>
                        <a name="list_edit_link" href="#" wicket:id="registrantExaminationsPage">Examinations</a>
                    </li>
                    <li>
                        <a name="list_edit_link" href="#" wicket:id="registrationPage">Administrator Edit</a>
                    </li>
                </ul>
            </div> <!-- editRecord -->
            <div class="dataTable">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <th colspan="2"><span name="type_name">Registration</span></th>
                        </tr>
                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Course</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="course" name="course" class="form_field"></span>
                                </b>
                            </td>
                        </tr>

                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Register</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="register" name="register" class="form_field"></span>
                                </b>
                            </td>
                        </tr>

                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Institution</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="institution" name="institution" class="form_field"></span>
                                </b>
                            </td>
                        </tr>

                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Registration Date</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="registrationDate" name="registrationDate" class="form_field"></span>
                                </b>
                            </td>
                        </tr>

                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>De RegistrationDate</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="deRegistrationDate" name="deRegistrationDate" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> <!-- dataTable -->
        </div>
    </div>
</wicket:panel>