<wicket:extend>  
    <div class="recordsData">  
        <span wicket:id="registrantPanel"></span>
    </div>
    <h2>Employment and Qualification Information Display </h2>

    <span wicket:id="registrantQualificationPanelList">Registrant Qualification Panel List</span>
    <!-- End  -->
    <span wicket:id="employmentPanelList">Registrant Employment Panel List</span>

    <!-- End  -->
    
    <div id="button">
        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
            <tbody>
                <tr class="submitCell">
                    <td>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a wicket:id="next" href="#" name="add_return" class="button" >Next</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</wicket:extend>
