<wicket:extend xmlns:wicket="http://www.w3.org/1999/xhtml">
    <h1>Registration Page</h1>
    <div>
        <h2><a href="#" wicket:id="registrantEditPage">Add New</a></h2>
        <p>Add new Registrant to system</p>
        <hr />
    </div>
    <div>
        <h2><a href="#" wicket:id="existingRegistrantEditPage">Add Existing Registrant</a></h2>
        <p wicket:id="label1"></p>
        <hr />
    </div>

    <div>
        <h2><a href="#" wicket:id="registrantListPage">List Registrants</a></h2>
        <p>View a list of Registrants saved in the system</p>
        <hr />
    </div>
    
    <div>
        <h2><a href="#" wicket:id="registrantPreRegEditPage">Direct Registration</a></h2>
        <p></p>
        <hr />
    </div><div>
        <h2><a href="#" wicket:id="registrantDueToTransferListPage">List Registrants Due to Transfer</a></h2>
        <p></p>
        <hr />
    </div>
    
</wicket:extend>
