<wicket:panel xmlns:wicket="http://www.w3.org/1999/xhtml">
    <div class="recordsData">
        <h3>
            <span name="type_name">Registrant CPDs </span>
        </h3>
        <p id="contact_links" class="editRecordsData">
            <a onclick="return hideDiv('contact', this);" title="Hide" class="hide" href="">Hide</a>           
            <span>
                <a name="list_edit_link" href="#" wicket:id="registrantCpdPage">Add CPD</a>
            </span>

            <span>
                <a name="list_edit_link" href="#" wicket:id="addCPDPage">Add CPD</a>
            </span>

            <span>
                <a name="list_edit_link" href="#" wicket:id="addCPDPageDirectly">Add CPD (Directly)</a>
            </span>

            <span>
                <a name="list_edit_link" href="#" wicket:id="registrantCpdHistory">Accumulated CPD History</a>
            </span>

            <span>
                <a name="list_edit_link" href="#" wicket:id="registrantCpdReportPage">Print Selected CPD History</a>
            </span>

        </p>
        <div class="recordsData" id="select_list">
            <div id="select_list_results">
<br/>
                <div>
                    Current Duration: <select wicket:id="cpdDuration" name="cpdDuration" id="cpdDuration"></select>
                </div>

                <div wicket:id="currentCPDListContainer">
                    <table border="0" cellpadding="0" cellspacing="0">
                        <caption><h3>Current CPD Credits <span wicket:id="totalPoints"></span></h3></caption>
                        <thead>
                        <tr id="lists_header">
                            <th>Period</th>
                            <th>Item</th>
                            <th>Points</th>
                            <th>Created By</th>
                            <th>Created On</th>
                            <th>Last Modified By</th>
                            <th>Last Modified On</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="lists_body">
                        <tr wicket:id="registrantCpdList">
                            <td>
                                <span wicket:id="duration" name="duration" class="form_field"></span>
                            </td>

                            <td>
                                <wicket:enclosure child="registrantCPDItem">
                                    <span wicket:id="registrantCPDItem" name="registrantCPDItem"
                                          class="form_field"></span>
                                </wicket:enclosure>
                            </td>

                            <td>
                                <span wicket:id="points" name="points" class="form_field"></span>
                            </td>
                            <td>
                                <span wicket:id="createdBy" class="form_field"></span>
                            </td>
                            <td>
                                <span wicket:id="dateCreated" class="form_field"></span>
                            </td>
                            <td>
                                <span wicket:id="modifiedBy" class="form_field"></span>
                            </td>
                            <td>
                                <span wicket:id="dateModified" class="form_field"></span>
                            </td>
                            <td>
                                <a name="list_edit_link" href="#" wicket:id="remove">Remove</a>
                            </td>
                            <div wicket:id="warningDialog">[warning]</div>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="recordsData" id="select_list">
               <div id="select_list_results">
                <table border="0" cellpadding="0" cellspacing="0">
                    <caption><h3>CPD Certificates</h3></caption>
                    <thead>
                    <tr id="lists_header">
                        <th>Period</th>
                        <th>Points</th>
                        <th>Attended</th>
                        <th>Activity No</th>
                        <th>Organised By</th>
                        <th>Date Issued</th>
                        <th>Expiry Date</th>
                        <th>Print Certificate</th>
                    </tr>
                    </thead>
                    <tbody id="lists_body">
                    <tr wicket:id="registrantCpdList1">
                        <td>
                            <span wicket:id="duration" name="duration" class="form_field"></span>
                        </td>

                        <td>
                            <span wicket:id="point" name="point" class="form_field"></span>
                        </td>

                        <td>
                            <span wicket:id="activityAttended" name="activityAttended" class="form_field"></span>
                        </td>

                        <td>
                            <span wicket:id="activityNo" name="activityNo" class="form_field"></span>
                        </td>
                        <td>
                            <span wicket:id="organisation" name="organisation" class="form_field"></span>
                        </td>

                        <td>
                            <span wicket:id="issuedDate" name="issuedDate" class="form_field"></span>
                        </td>

                        <td>
                            <span wicket:id="expiryDate" name="expiryDate" class="form_field"></span>
                        </td>
                        <td>

                          <span>
                        <a name="list_edit_link" href="#" wicket:id="registrantCPDCertificate">Print CPD Certificate</a>
                        </span>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>


            <!--CPD Certificate-->

        </div>

        <br style="clear: both;">
        <!-- dataTable -->
    </div>
</wicket:panel>
