<wicket:extend>
    <div class="recordsData">
        <span wicket:id="registrantPanel"></span>
    </div>
    <h1>Add Registration Information</h1>

    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2"><span name="type_name">Registration</span></th>
            </tr>
            <tbody id="list_fields">
            <tr>
                <td>
                    <p>
                            <span class="field_head required_field">
                                <label for="registrationDate">Registration Date</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="registrationDate" wicket:id="registrationDate" id="registrationDate"
                                       type="text"/>
                            </span>
                    </p>
                    <p>
                            <span class="field_head required_field">
                                <label for="institution">Institution</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <select name="institution" wicket:id="institution"></select>                                    
                            </span>
                    </p>
                </td>
                <td>
                    <p>
                            <span class="field_head required_field">
                                <label for="course">Discipline</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <select name="course" wicket:id="course"></select>                                    
                            </span>
                    </p>
                    <p>
                            <span class="field_head required_field">
                                <label for="register">Register</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <select name="register" wicket:id="register"></select>                                    
                            </span>
                    </p>
                    <p>
                            <span class="field_head required_field">
                                <span wicket:id="deRegistrationLabelDate">Registration Closed Date</span>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="deRegistrationDate" wicket:id="deRegistrationDate" id="deRegistrationDate"
                                       type="text"/>
                            </span>
                    </p>
                </td>
            </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody>
                            <tr class="messageCell">
                                <td class="required_field">* - Required Field</td>
                            </tr>
                            <tr class="submitCell">
                                <td>
                                    <a id="button_return" wicket:id="registrantViewPage" href="#" name="add_return"
                                       class="button">return (do not save changes)</a>
                                    <input type="submit" class="button" value="Next"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

</wicket:extend>
