<wicket:extend>
    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2"><span name="type_name">Registrant</span></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="firstname">First Name</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="firstname" wicket:id="firstname" id="firstname" type="text" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="middlename">Middle Name</label>

                            </span>
                            <br />
                            <span class="form_field">
                                <input name="middlename" wicket:id="middlename" id="middlename" type="text" />
                            </span>
                        </p>                        
                         <p>
                            <span class="field_head required_field">
                                <label for="maidenname">Maiden Name</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="maidenname" wicket:id="maidenname" id="lastname" type="text" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="lastname">Last Name</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="lastname" wicket:id="lastname" id="lastname" type="text" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="rn">Registration Number</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="registrationNumber" wicket:id="registrationNumber" id="registrationNumber" type="text" />
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="identificationType">Identification Type</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="identificationType" wicket:id="identificationType"></select>                                    
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="idNumber">Identification Number</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="idNumber" wicket:id="idNumber" id="idNumber" type="text" />
                            </span>
                        </p>
                    </td>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="birthDate">Date of Birth</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="birthDate" wicket:id="birthDate" id="birthDate" type="text" />
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="placeOfBirth">Place of Birth</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="placeOfBirth" wicket:id="placeOfBirth" id="placeOfBirth" type="text" />
                            </span>
                        </p>
                         <p>
                            <span class="field_head required_field">
                                <label for="title">Title</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="title" wicket:id="title"></select>                                    
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="gender">Gender</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="gender" wicket:id="gender"></select>                                    
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="maritalStatus">Marital Status</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="maritalStatus" wicket:id="maritalStatus"></select>                                    
                            </span>
                        </p>

                       

                        <p>
                            <span class="field_head required_field">
                                <label for="citizenship">Citizenship</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="citizenship" wicket:id="citizenship"></select>                                    
                            </span>
                        </p>
                    </td>                 
                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field">* - Required Field</td>
                                </tr>
                                <tr class="submitCell">
                                    <td>
                                        <a id="button_return" wicket:id="registrantListPage" href="#" name="add_return" class="button">return (do not save changes)</a>
                                        <input type="submit" class="button" value="Next" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</wicket:extend>
