<wicket:extend>
    <h1>Add/Update Conditions(Restrictions of Practice)</h1>
    <h2><span name="type_name">Registrant</span>:<span wicket:id="registrant.fullname" class="form_field"></span></h2>

    <div id="error"></div>
    <a id="button_return" wicket:id="conditionEditPage" href="#" name="add_return" class="button" style="float: right;">Add New Condition</a>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2"><span name="type_name">Personal Condition to be Imposed</span></th>
            </tr>
            <tbody id="list_fields">                
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="description"> Description</label>*
                            </span>
                            <br />                       
                            <span class="form_field">
                                <textarea name="description" wicket:id="description" rows="8" cols="800"></textarea>
                            </span>
                        </p>   
                    </td>
                </tr> 
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="status">Active Status</label>*
                            </span>
                            <br />                       
                            <span class="form_field">
                                <input type="checkbox" wicket:id="status" name="status"/>
                            </span>
                        </p>   
                    </td>
                </tr>   
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="startDate">Start Date</label>*
                            </span>
                            <br />                       
                            <span class="form_field">
                                <input type="text" wicket:id="startDate" name="startDate"/>
                            </span>
                        </p>   
                    </td>
                </tr>   
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="endDate">End Date</label>*
                            </span>
                            <br />                       
                            <span class="form_field">
                                <input type="text" wicket:id="endDate" name="endDate"/>
                            </span>
                        </p>   
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <span wicket:id="personalRegistrantConditionPanelList"></span> 
                        </p>   
                    </td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field">* - Required Field</td>
                                </tr>
                                <tr class="submitCell">
                                    <td>
                                        <a id="button_return" wicket:id="registrantViewPage" href="#" name="add_return" class="button">return (do not save changes)</a>
                                        <a wicket:id="nextPage" href="#" name="add_return" class="button">Next</a>
                                        <input type="submit" class="button" value="Save" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

</wicket:extend>
