<wicket:extend>
    <h2>Registrant - <span wicket:id="registrant.fullname" class="form_field"/>
        <a id="button_return" href="#" name="add_return" wicket:id="registrantOptionPage"><font style="color: #069">View Dash Board</font></a>
    </h2>

    <div wicket:id="feedback" id="error"></div>
    <div class="recordsData">
        <h3>
            <span name="type_name">Qualification</span> Information</h3>

        <div id="list_display" class="recordsData">

            <div class="editRecord">
                <p>Edit This Information</p>
                <ul>
                    <li id="list_edit_link_node">
                        <a name="list_edit_link" href="#" wicket:id="registrantQualification">Update this Information</a>
                    </li>                
                </ul>
            </div> <!-- editRecord -->
            
            <div class="dataTable">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <th colspan="2"><span name="type_name">Registrant Qualification</span></th>
                        </tr>
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Qualification</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="qualification">sample</span>
                                </b>
                            </td>
                        </tr>
                        
                        
                           <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Training Start Date</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="startDate" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                           <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Training End Date</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="endDate" class="form_field"></span>
                                </b>
                            </td>
                        </tr>

                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Institution</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="institution" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Date Awarded</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="dateAwarded" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Awarding Institution</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="awardingInstitution" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Qualification Type</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="qualificationType" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="field_head">
                                    <label>Created By</label>
                                </span>:
                            </td>
                            <td>
                                <span wicket:id="createdBy" class="form_field"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="field_head">
                                    <label>Date Created</label>
                                </span>:
                            </td>
                            <td>
                                <span wicket:id="dateCreated" class="form_field"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="field_head">
                                    <label>Modified By</label>
                                </span>:
                            </td>

                            <td>
                                <span wicket:id="modifiedBy" class="form_field"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="field_head">
                                    <label>Date Modified</label>
                                </span>:
                            </td>
                            <td>
                                <span wicket:id="dateModified" class="form_field"></span>
                            </td>
                        </tr>                        
                    </tbody>
                </table>
            </div> <!-- dataTable -->

        </div>

        <br style="clear: both;">
    </div> 
    <div class="recordsData">
        <h3><span name="type_name">Supporting Document</span></h3>
        <p id="contact_links" class="editRecordsData">
            <a onclick="return hideDiv('contact', this);" title="Hide" class="hide" href="">Hide</a>           
            <span>
                <a href="#" wicket:id="registrantDocumentPage">Add Supporting Document</a>
            </span>  
        </p>      

        <!-- Supporting Documents Panel -->
        <span wicket:id="supportingDocumentPanel">Supporting Document Panel List</span>
        <!-- End  -->

    </div> <!-- recordsData -->

</wicket:extend>
