<wicket:extend>
    <div class="recordsData">
        <span wicket:id="registrantPanel"></span>
    </div>
    <h1>Renewal Process</h1>
    <div wicket:id="feedback" id="error"></div>

    <form wicket:id="form">
        <table cellspacing="0" cellpadding="0" border="0" id="report_limits" class="multiFormTable toggable">
            <tr>
                <th colspan="2"><span name="type_name">Select</span></th>
            </tr>
            <tbody>
            <tr>
                <td>Discipline</td>
                <td>
                    <div title="Limit this field to be equal to the given value.">
                        <select name="course" wicket:id="course"></select>
                    </div>
                </td>
            </tr>
            <tr>
                <td> Clearance Date</td>
                <td>
                        <span class="form_field">
                                    <input name="clearanceDate" wicket:id="clearanceDate" id="clearanceDate"
                                           type="text"/>
                                </span>
                </td>
            </tr>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody>
                            <tr class="messageCell">
                                <td class="required_field"></td>
                            </tr>
                            <tr class="submitCell">
                                <td>
                                    <a id="button_return" wicket:id="registrantViewPage" href="#" name="add_return"
                                       class="button">return </a>
                                    <input type="submit" wicket:id="process" class="button" value="Process"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </form>

    <br style="clear: both;"/>
    <!--    <span wicket:id="registrations"/>-->
    <br style="clear: both;"/>
</wicket:extend>
