<wicket:extend>
    <h2>Registrant - <span wicket:id="registrant.fullname" class="form_field"/>
        <a id="button_return" href="#" name="add_return" wicket:id="registrationOptionPage"><font style="color: #069">View Dash Board</font></a>
    </h2>

    <div wicket:id="feedback" id="error"></div>
    <div class="recordsData">
        <h3>
            <span name="type_name">Disciplinary</span> Information</h3>

        <div id="list_display" class="recordsData">

            <div class="editRecord">
                <p>Edit This Information</p>
                <ul>
                    <li id="list_edit_link_node">
                        <a name="list_edit_link" href="#" wicket:id="registrantDisciplinaryPage">Update this Information</a>
                    </li>                
                </ul>
            </div> <!-- editRecord -->
            <div class="dataTable">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <th colspan="2"><span name="type_name">Disciplinary</span></th>
                        </tr>
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Misconduct Type</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="misconductType">sample</span>
                                </b>
                            </td>
                        </tr>

                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Case Date</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="caseDate" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Case Outcome</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="caseOutcome" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Date Resolved</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="dateResolved" class="form_field"></span>
                                </b>
                            </td>
                        </tr>                       
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Penalty Start Date</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="penaltyStartDate" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Penalty End Date</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="penaltyEndDate" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> <!-- dataTable -->
        </div>

        <br style="clear: both;">
    </div> 
    <div class="recordsData">
        <h3><span name="type_name">Supporting Document</span></h3>
        <p id="contact_links" class="editRecordsData">
            <a onclick="return hideDiv('contact', this);" title="Hide" class="hide" href="">Hide</a>           
            <span>
                <a href="#" wicket:id="registrantDocumentPage">Add Supporting Document</a>
            </span>  
        </p>      

        <!-- Supporting Documents Panel -->
        <span wicket:id="supportingDocumentPanel">Supporting Document Panel List</span>
        <!-- End  -->

    </div> <!-- recordsData -->

</wicket:extend>
