<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<wicket:panel xmlns:wicket="http://www.w3.org/1999/xhtml">
    <div class="recordsData">
        <h3>
            <span name="type_name">Address Details</span> 
            <p id="contact_links" class="editRecordsData">
                <a onclick="return hideDiv('contact', this);" title="Hide" class="hide" href="">Hide</a>           
                <span>
                    <a name="list_edit_link" href="#" wicket:id="registrantAddressLink">Add Address</a>
                </span>            
            </p>
        </h3>
        <div class="recordsData" id="select_list">
            <div id="select_list_results">
                <table border="0" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr id="lists_header">
                            <th>Address Type</th>
                            <th>Full Address</th>
                            <th>Status</th>
                            <th>Created By</th>
                            <th>Created On</th>
                            <th>Last Modified By</th>
                            <th>Last Modified On</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="lists_body">  
                        <tr wicket:id="registrantAddressList">
                            <div wicket:id="warningDialog">[warning]</div>
                            <td>
                                <span wicket:id="addressType" name="addressType" class="form_field"></span>
                            </td>
                            <td>
                                <span wicket:id="fullAddress" name="fullAddress" class="form_field"></span>
                            </td>
                            <td>
                                <span wicket:id="preferred" name="preferred" class="form_field"></span>
                            </td>
                            <td>
                                <span wicket:id="createdBy" class="form_field"></span>
                            </td>
                            <td>
                                <span wicket:id="dateCreated" class="form_field"></span>
                            </td>
                            <td>
                                <span wicket:id="modifiedBy" class="form_field"></span>
                            </td>
                            <td>
                                <span wicket:id="dateModified" class="form_field"></span>
                            </td>
                            <td>
                                <a name="list_edit_link" href="#" wicket:id="registrantAddressLink">Update this Information</a>
                            </td>  
                             <td>
                        <a name="list_edit_link" href="#" wicket:id="remove">Remove</a>
                    </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br style="clear: both;">       
        <!-- dataTable -->
    </div>   

</wicket:panel>