<wicket:extend xmlns:wicket="http://www.w3.org/1999/xhtml">
    <h1>Add/Update Address Detail</h1>
    <h2>
        <span wicket:id="registrant.fullname" class="form_field"></span>
        <span wicket:id="institution.name" class="form_field"></span>
    </h2>

    <div id="error"></div>
    
    <a id="button_return" wicket:id="addCity" href="#" name="add_return" class="button" style="float: right;">Add City</a>
    <a id="button_return" wicket:id="addCountry" href="#" name="add_return" class="button" style="float: right;">Add Country</a>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2"><span name="type_name">Address Detail</span></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="addressType">Address Type</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="addressType" wicket:id="addressType"></select>
                            </span>
                        </p>   
                        <p>
                            <span class="field_head required_field">
                                <label for="address1">Address Line 1</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="address1" wicket:id="address1" type="text"/>
                            </span>
                        </p>   
                        <p>
                            <span class="field_head required_field">
                                <label for="address2">Address Line 2</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="address2" wicket:id="address2" type="text"/>
                            </span>
                        </p>   
                    </td>
                    <td>

                        <p>
                            <span class="field_head required_field">
                                <label for="country">Country</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="country" wicket:id="country"/>                                    
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="city">City</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="city" wicket:id="city"/>
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="status">Current</label>*
                            </span>
                            <br />                       
                            <span class="form_field">
                                <input type="checkbox" wicket:id="status" name="status"/>
                            </span>
                        </p>   
                    </td>
                </tr>   
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field">* - Required Field</td>
                                </tr>
                                <tr class="submitCell">
                                    <td>
                                        <a id="button_return" wicket:id="registrantViewPage" href="#" name="add_return" class="button">return (do not save changes)</a>
                                        <input type="submit" class="button" value="Save" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

</wicket:extend>
