<wicket:extend xmlns:wicket="http://www.w3.org/1999/xhtml">
    <h1>Add/Update Registrant CPD</h1>
    <h2><span name="type_name">Registrant</span>:<span wicket:id="registrant.fullname" class="form_field"></span></h2>
    <div wicket:id="feedback" style="width: 360px;"></div>   
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2"><span name="type_name">Registant CPD</span></th>
            </tr>
            <tbody id="list_fields">        
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="councilDuration">Council Duration</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="councilDuration" wicket:id="councilDuration"></select>                                    
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="Category">Registrant CPD Category </label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="registrantCPDCategory" wicket:id="registrantCPDCategory"></select>
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="name">RegistrantCPDItem</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="name" wicket:id="registrantCPDItem"></select>
                            </span>
                        </p>
                    </td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field">* - Required Field</td>
                                </tr>
                                <tr class="submitCell">
                                    <td>
                                        <a id="button_return" wicket:id="registrantViewPage" href="#" name="add_return" class="button">return (do not save changes)</a>
                                        <input type="submit" class="button" value="Add"  />
                                        <a wicket:id="saveItems" href="#" name="add_return" class="button">Save</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>
    <h3>Current Total [<span wicket:id="totalPoints">Current Total</span>]</h3>
    <div class="recordsData" id="select_list">
        <div id="select_list_results">  
            <table border="0" cellpadding="0" cellspacing="0">
                <thead>
                    <tr id="lists_header">
                        <th>Name</th>
                        <th>Points</th>
                    </tr>                    
                </thead>
                <tbody id="lists_body">
                    <tr wicket:id="items">
                        <td>
                            <span wicket:id="registrantCPDItem.name" name="registrantCPDItem.name" class="form_field"></span>                            
                        </td>   
                        <td>
                            <span wicket:id="registrantCPDItem.points" name="registrantCPDItem.points" class="form_field"></span>                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</wicket:extend>
