<wicket:extend>
    <h2>Registrant - <span wicket:id="fullname" class="form_field"/>
        <a id="button_return" href="#" name="add_return" wicket:id="registrationOptionPage"><font style="color: #069">View Dash Board</font></a>
    </h2>
    <h1>Upload Supporting Document</h1>

    <div>
        <span wicket:id="uploadFeedback"/>
    </div>

    <div id="password">
        <form wicket:id="simpleUpload">
            <table class="multiFormTable" align="center">
                <tbody>
                    <tr><td id="message"></td></tr>
                    <tr>
                        <td>
                            <p><label>File:</label><br>
                                <input wicket:id="fileInput" type="file" id="simpleUpload"  />
                            </p>
                        </td>
                    </tr>
                    <tr class="submitCell">
                        <td>
                            <input name="submit" value="Upload" type="submit">
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</wicket:extend>
