<wicket:extend xmlns:wicket="http://www.w3.org/1999/xhtml">
    <div class="recordsData">
        <span wicket:id="registrantPanel"></span>
        <!-- Registration Panel List -->
        <div class="recordsData">
            <p id="contact_links" class="editRecordsData">               
                <span>
                    <a name="list_edit_link" href="#" wicket:id="preRegistrationPage">Direct - Registration</a>

                    <a name="list_edit_link" href="#" wicket:id="registrationPage">Process Registration</a>

                    <a name="list_edit_link" href="#" wicket:id="examRegistrationPage">Register for Exams</a>

                    <a name="list_edit_link" href="#" wicket:id="studentRegistrationPage">Register as Student</a>

                    <a name="list_edit_link" href="#" wicket:id="studentExamRegistrationPage">Register Exam</a>

                    <a href="#" wicket:id="renewalLink">Renew</a>

                    <a name="list_edit_link" href="#" wicket:id="registerPBQExam">Register for Post Basic Exam</a>

                    <a name="list_edit_link" href="#" wicket:id="applicationForCGS">Application for Certificate of Good Standing</a>
                    <a name="list_edit_link" href="#" wicket:id="application">Application</a>

                    <a href="#" wicket:id="examSupplementaryPage">Register Supplementary Exam</a>

                    <a name="list_edit_link" href="#" wicket:id="applicationPage"><span wicket:id="myLabel"></span></a>
                </span>
                <br style="clear: both;">
            </p>
        </div>
        <!-- End Registration Panel List -->

        <div id="tabs">
            <ul>
                <li><a href="#demographic">Demographic</a></li>
                <li><a href="#contactInformation">Contact Information</a></li>
                <li><a href="#identification">Identification Detail</a></li>
                <li><a href="#qualifications">Qualifications</a></li>
                <li><a href="#account">Account</a></li>
                <li><a href="#supportDocuments">Documents</a></li>
                <li><a href="#cpd">CPD Points</a></li>
                <li><a href="#employment">Employment History</a></li>
                <li><a href="#disciplinary">Disciplinary Cases</a></li>
                <li><a href="#operations">Operations</a></li>
                <li><a href="#assessments">Assessments</a></li>
                <li><a href="#conditions">Condition History</a></li>
                <li><a href="#integration">Integration</a></li>
            </ul>
            <div id="demographic">

                <div id="list_display" class="recordsData">

                    <div class="editRecord smallLinks">
                        <p>&nbsp;</p>
                        <ul>
                            <li id="list_edit_link_node">
                                <h2><a href="#" wicket:id="updatePhotoLink">Update Photo</a></h2>
                            </li>
                            <li id="list_edit_link_node">
                                <h2><a href="#" wicket:id="registrantEditPage">Update Information</a></h2>
                            </li>
                            <li id="printPCCard">
                                <h2><a href="#" onclick="printContent('pc_div')">Print Card</a></h2>
                            </li>
                        </ul>
                    </div> <!-- editRecord -->
                    <!-- Registrant Panel -->
                    <span wicket:id="registrantSnapShot"></span>
                    <!-- End  -->
                </div>
                <!-- recordsData -->
                <br style="clear: both;">
            </div>
            <div id="contactInformation">

                <!-- Contacts -->
                <span wicket:id="registrantContactPanelList">Registrant Contact Panel List</span>
                <!-- End  -->

                <!-- Addresses -->
                <span wicket:id="registrantAddressPanelList">Registrant Address Panel List</span>
                <!-- End  -->
                <br style="clear: both;">
            </div>
            <div id="identification">
                <!-- Identities -->
                <span wicket:id="registrantIdentificationPanelList">Registrant Identification Panel List</span>
                <!-- End  -->
                <br style="clear: both;">
            </div>
            <div id="qualifications">
                <!-- Qualification Panel -->
                <span wicket:id="registrantQualificationPanelList">Qualifications</span>
                <!-- End  -->
                <br style="clear: both;">
            </div>
            <div id="account">

                <!-- Account Panel -->
                <span wicket:id="registrantAccountPanelList">Account Panel</span>
                <!-- End  -->
                <br style="clear: both;">


            </div>
            <div id="supportDocuments">
                <div class="recordsData">
                    <h3><span name="type_name">Supporting Documents</span></h3>
                    <p id="contact_links" class="editRecordsData">
                        <a onclick="return hideDiv('contact', this);" title="Hide" class="hide" href="">Hide</a>
                        <a href="#" wicket:id="registrantClearanceEditPage">Clearance Letter Upload</a>
                        <span>
                            <a href="#" wicket:id="registrantDocumentPage">Add Supporting Document</a>
                        </span>
                    </p>

                    <!-- Supporting Documents Panel -->
                    <span wicket:id="supportingDocumentPanel">Supporting Document Panel List</span>
                    <!-- End  -->

                </div> <!-- recordsData -->
                <br style="clear: both;">
            </div>
            <div id="cpd">

                <!-- RegistrantCpd Panel List -->
                <span wicket:id="registrantCpdPanelList">Registrant CPD Panel</span>

                <!-- End  -->
                <br style="clear: both;">
            </div>
            <div id="employment">
                <!-- Employement Panel -->
                <span wicket:id="employmentPanelList">Employment Panel</span>
                <!-- End  -->
                <br style="clear: both;">
            </div>
            <div id="disciplinary">
                <!-- Disciplinary Panel -->
                <span wicket:id="registrantDisciplinaryPanelList">Registrant Disciplinary</span>
                <!-- End  -->
                <br style="clear: both;">
            </div>
            <div id="assessments">
                <!-- Disciplinary Panel -->
                <span wicket:id="registrantAssessmentPanelList">Registrant Assessments</span>
                <!-- End  -->
                <br style="clear: both;">
            </div>

            <div id="conditions">
                <!-- Disciplinary Panel -->
                <span wicket:id="registrantConditionPanelList">Registrant Conditions</span>
                <!-- End  -->
                <br style="clear: both;">
            </div>

            <div id="operations">

                <div class="dataTable">
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                        <tr>
                            <td>
                                <h2><a href="#" wicket:id="newRegistrationPage">Register PBQ / New Registration</a></h2>
                                <h2><a href="#" wicket:id="registerNewQualification">Register New Qualification</a></h2>
                                <h2><a href="#" wicket:id="upGradeRegistrationPage">Exam Up-Grade Registration</a></h2>
                            </td>
                            <td>
                                <h2><a href="#" wicket:id="applicationForTransfer">Apply for Transfer</a></h2>
                                <h2><a href="#" wicket:id="applicationForChangeOfName">Apply for Change Of Name</a></h2>
                                <h2><a href="#" wicket:id="applicationQualification">Apply for Additional
                                    Qualification</a></h2>
                                <h2><a href="#" wicket:id="institutionApplicationPage">Apply for Health Institution</a>
                                </h2>
                                <h2><a href="#" wicket:id="transcriptOfTrainingApplicationPage">Apply for Transcript Of
                                    Training</a></h2>
                            </td>
                        </tr>

                        <tr>
                            <td>

                                <h2><a href="#" wicket:id="captureFromFile" title="without payment">Capture From
                                    File</a></h2>
                                <h2><a href="#" wicket:id="lastRenewal">Set Last Renewal</a></h2>
                                <h2><a href="#" wicket:id="supervisionApplication">Supervision Application</a></h2>
                                <h2><a href="#" wicket:id="retireRegistrantPage">Retire Registrant</a></h2>
                                <h2><a href="#" wicket:id="reportDeathPage">Report Death</a></h2>
                                <h2><a href="#" wicket:id="deRegisterPage">De-Register Page</a></h2>
                                <h2><a href="#" wicket:id="voidRegistrantPage">Add to Take Off List</a></h2>
                            </td>
                            <td>
                                <h2><a href="#" wicket:id="registrantRegistrationListPage">Registration History</a></h2>
                                <h2><a href="#" wicket:id="registrantExaminationsPage">Examination History</a></h2>
                                <h2><a href="#" wicket:id="registrantActivityRenewal">Renewal Activity</a></h2>
                                <h2><a href="#" wicket:id="payDuplicate">Process Duplicate Certificate</a></h2>
                                <h2><a href="#" wicket:id="certificationEditPage">Create Certificate*</a></h2>
                                <h2><a href="#" wicket:id="registrantClearanceDateEditPage">Correct Clearance Date</a>
                                </h2>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                    <br style="clear: both;">
                </div>

            </div>
            <div id="integration">

                <div class="recordsData">
                    <div class="dataTable">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <th colspan="2"><span
                                        name="type_name">Integration from the Integration Platform</span>
                                </th>
                            </tr>


                            <tr class="">
                                <td>
                        <span class="field_head">
                            <label>Connection Status</label>
                        </span>:
                                </td>
                                <td>
                                    <b>
                                        <span class="form_field" wicket:id="statusLabel"></span>
                                    </b>
                                </td>
                            </tr>


                            <tr class="">
                                <td>
                        <span class="field_head">
                            <label>First Name</label>
                        </span>:
                                </td>
                                <td>
                                    <b>
                                        <span class="form_field" wicket:id="firstnameLabel"></span>
                                    </b>
                                </td>
                            </tr>

                            <tr class="even">
                                <td>
                        <span class="field_head">
                            <label>Middle Name</label>
                        </span>:
                                </td>
                                <td>
                                    <b>
                                        <span class="form_field" wicket:id="middlenameLabel"></span>
                                    </b>
                                </td>
                            </tr>
                            <tr class="">
                                <td>
                    <span class="field_head">
                        <label>Last Name</label>
                    </span>:
                                </td>
                                <td>
                                    <b>
                                        <span wicket:id="lastnameLabel" class="form_field"></span>
                                    </b>
                                </td>
                            </tr>
                            <tr class="even">
                                <td>
                    <span class="field_head">
                        <label>Gender</label>
                    </span>:
                                </td>
                                <td>
                                    <b>
                                        <span wicket:id="genderLabel" class="form_field"></span>
                                    </b>
                                </td>
                            </tr>

                            <tr class="">
                                <td>
                    <span class="field_head">
                        <label>Date of Birth</label>
                    </span>:
                                </td>
                                <td>
                                    <b>
                                        <span class="form_field" wicket:id="dateOfBirthLabel"></span>
                                    </b>
                                </td>
                            </tr>
                            <tr class="">
                                <td>
                    <span class="field_head">
                        <label>National ID</label>
                    </span>:
                                </td>
                                <td>
                                    <b>
                                        <span wicket:id="nationalIdLabel" class="form_field"></span>
                                    </b>
                                </td>
                            </tr>
                            <tr class="even">
                                <td>
                    <span class="field_head">
                        <label>Post</label>
                    </span>:
                                </td>
                                <td>
                                    <b>
                                        <span wicket:id="postLabel" class="form_field"></span>
                                    </b>
                                </td>
                            </tr>
                            <tr class="even">
                                <td>
                    <span class="field_head">
                        <label>Station</label>
                    </span>:
                                </td>
                                <td>
                                    <b>
                                        <span wicket:id="stationLabel" class="form_field"></span>
                                    </b>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <!-- dataTable -->
                </div>

            </div>
            <br style="clear: both;">
        </div>

        <span wicket:id="practiceCertifcateCardPanel"/>
    </div>
</wicket:extend>
