<wicket:panel xmlns:wicket="http://www.w3.org/1999/xhtml">
    <table>
        <tr>
            <th colspan="2" id="transhistory"><span wicket:id="registrantStatus">Registrant</span></th>
        </tr>
        <tr>
            <td style="width: 10%;">
                <img wicket:id="registrantImage" alt="" width="100" height="100" id="registrantImage"/>
            </td>
            <td style="width: 90%;">
                <table style="border: none;">
                    <tr style="border: none;">
                        <th>Full Name</th>
                        <th>Registration Number</th>
                        <th><span wicket:id="identificationType" name="lists_row_name"></span></th>
                        <th>Age</th>
                    </tr>
                    <tr style="border: none;">
                        <td>
                            <a href="#" name="lists_row_link" wicket:id="registrantViewPage">
                                <span wicket:id="fullname" name="lists_row_name"></span>
                            </a>
                        </td>
                        <td>
                            <span wicket:id="registrationNumber" name="lists_row_name"></span>
                        </td>
                        <td>
                            <span wicket:id="idNumber" name="lists_row_name"></span>
                        </td>
                        <td>
                            <span wicket:id="integerValueOfAge" name="lists_row_name"></span>
                        </td>
                    </tr>
                    <tr class="even">
                        <td>
                            Discipline : <b><span wicket:id="courses" name="lists_row_name"></span></b>
                        </td>
                        <td>
                            Last Renewal : <b><span wicket:id="lastRenewal" name="lists_row_name"></span></b>
                        </td>
                        <td>
                            Account Balance $ <span wicket:id="customerAccount.account.balance"
                                                    name="lists_row_name"></span>
                        </td>
                        <td>
                            <b style="color: #930;">
                                Balance Due $ <span wicket:id="balanceDue" name="lists_row_name"></span>
                            </b>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br>
    <b><span wicket:id="infoMessages">Transfer Status </span></b>
    <span wicket:id="transactionHistoryPanel"/>

</wicket:panel>
