<wicket:extend> 
    <div class="recordsData">  
        <span wicket:id="registrantPanel"></span>
    </div>
    <h1>Renewal Activity Information</h1>

    <span wicket:id="registrantActivityPanelList">Renewal</span>
    <!-- End  -->

</wicket:extend>
