<wicket:panel>
    <div class="recordsData">
        <h3>
            <span name="type_name">Customer Account</span> Information</h3>

        <p id="contact_links" class="editRecordsData">
                        <span>
                            <a href="#" wicket:id="registrantPaymentPage">Process Payments</a>
                        </span>
            &nbsp;
            <span>
                            <a href="#" wicket:id="invoiceLink">Create Invoice</a>
                        </span>
            &nbsp;
            <span>
                            <a href="#" wicket:id="invoiceAmountLink">Product Invoice</a>
                        </span>
            &nbsp;
            <span>
                            <a href="#" wicket:id="creditNoteLink">Process Credit Note</a>
                        </span>
            &nbsp;
            <span>
                            <a href="#" wicket:id="prepayments">Payments Through Institution</a>
                        </span>
        </p>

        <p id="contact_links" class="editRecordsData">
                        <span>
                            <a href="#" wicket:id="paythroughCarryForward">Pay Through Carry Forward</a>
                        </span>
            &nbsp;
            <span>
                            <a href="#" wicket:id="verifyAccount">Verify Account</a>
                        </span>
            &nbsp;
            <span>
                            <a href="#" wicket:id="creditBalance">Credit Balance</a>
                        </span>
            &nbsp;
            <span>
                            <a href="#" wicket:id="viewRemovedNotesPage">Removed Items </a>
                        </span>
        </p>

        <br style="clear: both;">

        <div id="list_display" class="recordsData">
            <div class="dataTable">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <th colspan="2"><span name="type_name">Account</span></th>
                    </tr>
                    <tr class="even">
                        <td>
                                            <span class="field_head">
                                                <label>Balance</label>
                                            </span>:
                        </td>
                        <td>
                            <b>
                                <span class="form_field" wicket:id="customerAccount.account.balance"></span>
                            </b>
                        </td>
                    </tr>
                    <tr class="even" wicket:id="registrantActivityList">
                        <td>
                                            <span class="field_head">
                                                <label>Duration</label>
                                            </span>:
                        </td>
                        <td>
                            <b>
                                <span class="form_field" wicket:id="duration.councilDuration"></span>
                            </b>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- dataTable -->
        </div>

        <div id="list_display" class="recordsData">
            <div class="dataTable">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <th colspan="3"><span name="type_name">Amount Due for Renewal</span></th>
                    </tr>
                    <tr class="even" wicket:id="durationList">
                        <td>
                                            <span class="field_head">
                                                <label>Duration</label>
                                            </span>:
                        </td>
                        <td>
                            <b>
                                <span class="form_field" wicket:id="name"></span>
                            </b>
                        </td>
                        <td>
                            <span>
                            <a href="#" wicket:id="billAnnualFee">Bill</a>
                        </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- dataTable -->
        </div>

        <br style="clear: both;">
    </div>
    <!-- recordsData -->
</wicket:panel>