<wicket:panel>
    <div class="recordsData">
        <h3>
            <span name="type_name">Registration</span> Details</h3>        
        <br style="clear: both;">          
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a id="button_return" class="button" value="Bill All" wicket:id="billAll" >Bill All</a>
        <div class="recordsData" id="select_list">
            <div id="select_list_results">
                <table border="0" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr id="lists_header">
                            <th>Name</th>
                            <th>Course</th>                        
                            <th>Register</th>
                            <th>Institution</th>
                            <th>Registration Number</th>
                            <th>Registration Date</th>
                            <th>Option</th> 
                             <th>Created By</th>
                            <th>Created On</th>
                            <th>Last Modified By</th>
                            <th>Last Modified On</th>
                        </tr>
                    </thead>
                    <tbody id="lists_body">
                        <tr wicket:id="eachItem">
                            <td>
                                <a href="#" name="lists_row_link" wicket:id="registrationOptionPage">
                                    <span wicket:id="registrant" name="lists_row_name"></span>
                                </a>                            
                            </td>
                            <td>
                                <span wicket:id="course" name="lists_row_name"></span>                          
                            </td>                        
                            <td>
                                <span wicket:id="register" name="lists_row_name"></span>
                            </td>
                            <td>
                                <span wicket:id="institution" name="lists_row_name"></span>
                            </td>
                            <td>
                                <span wicket:id="registrant.registrationNumber" name="lists_row_name"></span>
                            </td>
                            <td>
                                <span wicket:id="registrationDate" name="lists_row_name"></span>
                            </td>
                            <td>
                                <a href="#" name="lists_row_link" wicket:id="bill">
                                    Bill
                                </a>
                            </td>
                              <td>
                                <span wicket:id="createdBy" class="form_field"></span>
                            </td>
                            <td>
                                <span wicket:id="dateCreated" class="form_field"></span>
                            </td>
                            <td>
                                <span wicket:id="modifiedBy" class="form_field"></span>
                            </td>
                            <td>
                                <span wicket:id="dateModified" class="form_field"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</wicket:panel>