<wicket:extend>
    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2"><span name="type_name">Registrant</span></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="firstname">First Name</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="firstname" wicket:id="firstname" id="firstname" type="text" />
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="lastname">Last Name</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="lastname" wicket:id="lastname" id="lastname" type="text" />
                            </span>
                        </p>
                    </td>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="middlename">Middle Name</label>

                            </span>
                            <br />
                            <span class="form_field">
                                <input name="middlename" wicket:id="middlename" id="middlename" type="text" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="registrationNumber">Registration Number</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="registrationNumber" wicket:id="registrationNumber" id="registrationNumber" type="text" />
                            </span>
                        </p>

                    </td>                 
                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field">* - Required Field</td>
                                </tr>
                                <tr class="submitCell">
                                    <td>
                                        <a id="button_return" wicket:id="registrantListPage" href="#" name="add_return" class="button">return (do not save changes)</a>
                                        <input type="submit" class="button" value="Next" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</wicket:extend>
