<wicket:extend>
    <h1>Closing Registration</h1>
    <h2><span name="type_name">Registrant</span>:<span wicket:id="registrant.fullname" class="form_field"></span></h2>

    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2"><span name="type_name">Registration</span></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>
                        <p>Register  - <span wicket:id="register"></span></p>
                        <p>Discipline - <span wicket:id="course"></span></p>
                        <p>Registration Date - <span wicket:id=registrationDate></span></p>
                        <p>
                            New Registration will Require payment.
                        </p>                        
                        <p>
                            Closing Registration : Are you sure? 
                        </p>  
                    </td>                 
                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field">*</td>
                                </tr>
                                <tr class="submitCell">
                                    <td>
                                        <a id="button_return" wicket:id="registrantViewPage" href="#" name="add_return" class="button">Cancel (do not save changes)</a>
                                        <input type="submit" class="button" value="Close" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

</wicket:extend>
