<wicket:extend>
    <div class="recordsData">
        <span wicket:id="registrantPanel"></span>
        <form wicket:id="form">
            <p>
                Select Duration
            </p>
            <p>
                <span class="form_field">
                    <select name="duration" wicket:id="duration"></select>                                    
                </span>
            </p>

             <input  type="submit" class="button" value="Process" wicket:id="process" />

            <a id="button_return" wicket:id="registrantViewPage" href="#" name="add_return" class="button">return (do not save changes)</a>
        </form>
    </div>
</wicket:extend>
