<wicket:extend>
    <h2>Registrant - <span wicket:id="fullname" class="form_field"/>
        <a id="button_return" href="#" name="add_return" wicket:id="registrantViewPage"><font style="color: #069">View Dash Board</font></a>
    </h2>
    <h1>Upload Clearance Letter</h1>
    <div wicket:id="uploadFeedback" id="error"></div>
    <div id="password">
        <form wicket:id="simpleUpload">
            <table class="multiFormTable" align="center">
                <tbody>
                    <tr><td id="message"></td></tr>
                    <tr>
                        <td>
                            <p>
                                <span class="field_head required_field">
                                    <label for="name">Course </label>
                                </span>
                                <br />
                                <span class="form_field">
                                    <select name="course" wicket:id="course"></select>
                                </span>
                            </p>   
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                <span class="field_head required_field">
                                    <label for="status">Clearance Date</label>*
                                </span>
                                <br />                       
                                <span class="form_field">
                                    <input name="clearanceDate" wicket:id="clearanceDate" id="clearanceDate" type="text" />
                                </span>
                            </p>   
                        </td>
                    </tr>   
                    <tr>
                        <td>
                            <p><label>File:</label><br>
                                <input wicket:id="fileInput" type="file" id="simpleUpload"  />
                            </p>
                        </td>
                    </tr>
                    <tr class="submitCell">
                        <td>
                            <input name="submit" value="Upload" type="submit">
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</wicket:extend>
