<wicket:extend>
    <div class="recordsData">           
        <span wicket:id="registrantPanel"/>
        <span wicket:id="registrations"/>
          <br style="clear: both;">       
    <!-- dataTable -->
</div>   
</wicket:extend>   