<wicket:panel xmlns:wicket="http://www.w3.org/1999/xhtml">
    <div class="recordsData">
        <h3>
            <span name="type_name">Registrant Qualification</span> Information</h3>
        <p id="contact_links" class="editRecordsData">
            <a onclick="return hideDiv('contact', this);" title="Hide" class="hide" href="">Hide</a>           
            <span>
                <a name="list_edit_link" href="#" wicket:id="addLocalQualification">Add Local Qualification</a>
            </span>
            <span>
                <a name="list_edit_link" href="#" wicket:id="addForeignQualification">Add Foreign Qualification</a>
            </span>                        
        </p>
        <span id="contact">
            <div id="person_contact_work"></div> <!-- work contact -->
            <div id="person_contact_personal"></div> <!-- personal contact -->
            <div id="person_contact_emergency"></div> <!-- emefencye contact -->
            <div id="person_contact_other"></div> <!-- other contact -->
        </span>
        <br style="clear: both;">       
        <div id="list_display" class="recordsData" wicket:id="registrantQualificationList">
              <div wicket:id="warningDialog">[warning]</div>
            <div class="editRecord">
                <p>Edit This Information</p>
                <ul>
                    <li id="list_edit_link_node">
                        <a name="list_edit_link" href="#" wicket:id="registrantQualificationPage">View this Information</a>
                    </li> 
                    <li id="list_edit_link_node">
                        <a name="list_edit_link" href="#" wicket:id="remove">Remove</a>
                    </li> 
                </ul>
            </div> <!-- editRecord -->
            <div class="dataTable">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <th colspan="4"><span name="type_name">RegistrantQualification</span></th>
                        </tr>

                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Qualification</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="qualification" name="qualification" class="form_field"></span>
                                </b>
                            </td>
                        </tr>

                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Date Awarded</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="dateAwarded" name="dateAwarded" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Institution</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="institution" name="institution" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Awarding Institution</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="awardingInstitution" name="awardingInstitution" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                         <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Qualification Type</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="qualificationType" name="qualificationType" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Discipline</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="course" name="course" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                        <span class="field_head">
                            <label>Created By</label>
                        </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="createdBy"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                        <span class="field_head">
                            <label>Created On</label>
                        </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="dateCreated"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                        <span class="field_head">
                            <label>Last Modified By</label>
                        </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="modifiedBy"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                        <span class="field_head">
                            <label>Last Modified On</label>
                        </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="dateModified"></span>
                                </b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> <!-- dataTable -->
        </div>
    </div>
</wicket:panel>