<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<wicket:panel>
<div class="recordsData">
    <h3>
        <span name="type_name">Registrant Identification</span> 
        <p id="contact_links" class="editRecordsData">
            <a onclick="return hideDiv('contact', this);" title="Hide" class="hide" href="">Hide</a>           
            <span>
                <a name="list_edit_link" href="#" wicket:id="registrantIdentificationLink">Add ID</a>
            </span>            
        </p>
    </h3>
    <div class="recordsData" id="select_list">
        <div id="select_list_results">
            <table border="0" cellpadding="0" cellspacing="0">
                <thead>
                    <tr id="lists_header">
                        <th>Identification Type</th>
                        <th>idNumber</th>
                        <th>expiry</th>
                        <th>Created By</th>
                        <th>Created On</th>
                        <th>Last Modified By</th>
                        <th>Last Modified On</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="lists_body">
                    <tr wicket:id="registrantIdenticationList">
                        <td>
                            <span wicket:id="identificationType" name="identificationType" class="form_field"></span>
                        </td>
                        <td>
                            <span wicket:id="idNumber" name="idNumber" class="form_field"></span>                            
                        </td>
                        <td>
                            <span wicket:id="expiry" name="expiry" class="form_field"></span>
                        </td>
                        <td>
                            <span wicket:id="createdBy" class="form_field"></span>
                        </td>
                        <td>
                            <span wicket:id="dateCreated" class="form_field"></span>
                        </td>
                        <td>
                            <span wicket:id="modifiedBy" class="form_field"></span>
                        </td>
                        <td>
                            <span wicket:id="dateModified" class="form_field"></span>
                        </td>


                        <td>
                            <a name="list_edit_link" href="#" wicket:id="registrantIdentificationLink">Update this Information</a>
                        </td>                                       
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br style="clear: both;">       
    <!-- dataTable -->
</div>   

</wicket:panel>