<wicket:panel>
    <div class="recordsData" id="select_list" >
        <div id="select_list_results">
            <table border="0" cellpadding="0" cellspacing="0">
                <thead>
                    <tr id="lists_header">
                        <th>Document Name</th>
                        <th>Created By</th>
                        <th>Created On</th>
                        <th>Last Modified By</th>
                        <th>Last Modified On</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="lists_body">
                    <tr wicket:id="documentList">
                        <td>
                            <span wicket:id="name"></span>
                        </td>
                        <td>
                            <span wicket:id="createdBy" class="form_field"></span>
                        </td>
                        <td>
                            <span wicket:id="dateCreated" class="form_field"></span>
                        </td>
                        <td>
                            <span wicket:id="modifiedBy" class="form_field"></span>
                        </td>
                        <td>
                            <span wicket:id="dateModified" class="form_field"></span>
                        </td>
                        <td>
                            <a name="list_edit_link" wicket:id="viewDocument">View</a>
                        </td> 
                        <td>    
                            <a name="list_edit_link" wicket:id="removeDocument">Remove</a>
                        </td>
                <div wicket:id="warningDialog">[warning]</div>
                </tr>
                </tbody>
            </table>
        </div>
    </div>    

    <br style="clear: both;">
</wicket:panel>
