<wicket:extend xmlns:wicket="http://www.w3.org/1999/xhtml">
    <div class="recordsData">  
        <span wicket:id="registrantPanel"></span>
    </div>
    <h1>Contact Information</h1>

    <span wicket:id="registrantContactPanelList">Registrant Contact Panel List</span>
    <!-- End  -->

    <span wicket:id="registrantAddressPanelList">Registrant Address Panel List</span>

    <!-- End  -->
    <div id="button">
        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
            <tbody>
                <tr class="submitCell">
                    <td>
                        <a wicket:id="qualificationLink" href="#" name="add_return" class="button" title="Add Qualifications and Employment Information" >Next</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a wicket:id="examRegistrationLink" href="#" name="add_return" class="button" >Register for Examinations</a><a wicket:id="applicationLink" href="#" name="add_return" class="button" >Student Application</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</wicket:extend>
