<wicket:extend>
    <h1>Add/Update Contact Detail</h1>
    <h2>
        <span wicket:id="registrant.fullname" class="form_field"></span>
        <span wicket:id="institution.name" class="form_field"></span>
    </h2>

    <div id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2"><span name="type_name">Registant Contact Information</span></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="name">Contact Type</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="contactType" wicket:id="contactType"></select>
                            </span>
                        </p>   
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="detail">Detail </label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="contactDetail" wicket:id="contactDetail" type="text" />
                            </span>
                        </p>
                    </td>
                </tr>               
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field">* - Required Field</td>
                                </tr>
                                <tr class="submitCell">
                                    <td>
                                        <a id="button_return" wicket:id="registrantViewPage" href="#" name="add_return" class="button">return (do not save changes)</a>
                                        <input type="submit" class="button" value="Save" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

</wicket:extend>
