<wicket:extend>
    <h1>Add/Update Registrant Qualification Information</h1>
    <h2><span name="type_name">Registrant</span>:<span wicket:id="registrant.fullname" class="form_field"></span></h2>
    <div wicket:id="feedback" id="error"></div>
    <a id="button_return" wicket:id="addInstitutionPage" href="#" name="add_return" class="button" style="float: right;">Add New Institution</a>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2"><span name="type_name">Registrant Qualification</span></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="qualification">Qualification</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="qualification" wicket:id="qualification"></select>                                    
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="startDate">Commencement Date</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="startDate" wicket:id="startDate" type="text" />                                
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="endDate">Completion Date</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="endDate" wicket:id="endDate" type="text" />
                                <!--
                                -->
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="course"><span wicket:id="courseLabel"></span></label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="course" wicket:id="course" id="endDate" type="text" ></select>
                            </span>
                        </p>
                    </td>

                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="datewardedDate">Date Awarded</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="dateAwarded" wicket:id="dateAwarded" id="startDate" type="text" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="institution">Training Institution</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="institution" wicket:id="institution"></select>                                    
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="awardingInstitution">Awarding Institution</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="awardingInstitution" wicket:id="awardingInstitution"></select>                                    
                            </span>
                        </p>                        
                        <p>
                            <span class="field_head required_field">
                                <label for="qualificationType">Qualification Type</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="qualificationType" wicket:id="qualificationType"></select>                                    
                            </span>
                        </p>
                        
                    </td>   

                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field">* - Required Field</td>
                                </tr>
                                <tr class="submitCell">
                                    <td>
                                        <a id="button_return" wicket:id="registrantViewPage" href="#" name="add_return" class="button">return (do not save changes)</a>
                                        <input type="submit" class="button" value="Save" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</wicket:extend>
