<wicket:extend xmlns:wicket="http://www.w3.org/1999/xhtml">
    <div class="recordsData">
        <span wicket:id="registrantPanel"></span>
    </div>
    <h1>Quaterly Renewal Process</h1>
    <div wicket:id="feedback" id="error"></div>

    <form wicket:id="form">
        <table cellspacing="0" cellpadding="0" border="0" id="report_limits" class="multiFormTable toggable">
            <tr>
                <th colspan="2"><span name="type_name">Select</span></th>
            </tr>
            <tbody>
            <tr>
                <td>Discipline</td>
                <td><div title="Limit this field to be equal to the given value.">
                    <select name="course" wicket:id="course"></select>
                </div>
                </td>
            </tr>
            <div id="select_list_results" wicket:id="durations">
                <table border="0" cellpadding="0" cellspacing="0">
                    <thead>
                    <tr id="lists_header">
                        <th>Select</th>
                    </tr>
                    </thead>
                    <tbody id="lists_body">
                    <tr wicket:id="eachItem">

                        <td><input type="checkbox" wicket:id="selected" /></td>


                        <td wicket:id="name">
                            20
                        </td>

                    </tr>
                    </tbody>
                </table>
                <div style="float:right" class="pager_display" id="select_list_pager_display">
                </div>

            </div>

            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                <td class="required_field"></td>
                            </tr>
                            <tr class="submitCell">
                                <td>
                                    <a id="button_return" wicket:id="registrantViewPage" href="#" name="add_return" class="button">return (do not save changes)</a>
                                    <input type="submit" wicket:id="registrantCpdPage" class="button" value="Add CPD Points" />
                                    <input type="submit" wicket:id="process" class="button" value="Process" />

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </form>

    <br style="clear: both;"/>
    <!--    <span wicket:id="registrations"/>-->
    <br style="clear: both;"/>
</wicket:extend>
