<wicket:extend>
    <h1>Outstanding Document Uploads</h1>
    <h2>Registrant - <span wicket:id="registrant.fullname" class="form_field"/>
        <a id="button_return" href="#" name="add_return" wicket:id="registrationOptionPage"><font style="color: #069">View Dash Board</font></a>
    </h2>
    <div wicket:id="feedback" id="error"></div>
    <div class="recordsData" id="select_list">
        <div id="select_list_results">
            <table border="0" cellpadding="0" cellspacing="0">
                <thead>
                    <tr id="lists_header">
                        <th>
                            Select <span name="type_name">Requirement</span> Upload
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="lists_body">
                    <tr wicket:id="requirementsList">
                        <td>
                            <span wicket:id="name" name="lists_row_name">Birth Certificate</span>
                        </td>
                        <td>
                            <a href="#" name="lists_row_link" wicket:id="registrantDocumentPage">
                                Upload
                            </a>                            
                        </td>
                        <td>
                            <form wicket:id="form">
                                <input type="checkbox" wicket:id="submitted" name="submitted" value="Submitted"> Tick Submission
                                <input type="submit" name="Save" value="save">                                 
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="float:right" class="pager_display" id="select_list_pager_display">
            </div>
        </div>
    </div>
    <br/>
    
    <a id="button_return" href="#" name="add_return" class="button" wicket:id="addCleranceLetter">Upload Clearance Letter</a>
    <a id="button_return" href="#" name="add_return" class="button" wicket:id="processPayment">Process Payment</a><a id="button_return" href="#" name="add_return" class="button" wicket:id="next">Next</a>
</wicket:extend>
