<wicket:extend>
    <h2>Registrant - <span wicket:id="fullname" class="form_field"/>
        <a id="button_return" href="#" name="add_return" wicket:id="registrationOptionPage"><font style="color: #069">View Dash Board</font></a>
    </h2>
    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">

        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable customReportsTable">
            <tbody>
                <tr>
                    <th colspan="2">
                        Select Requirement to Upload
                    </th>
                </tr>
            </tbody>
        </table>
        <table cellspacing="0" cellpadding="0" border="0" id="report_limits" class="multiFormTable toggable">
            <tbody>                
                <tr>
                    <td>Requirement</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="requirement" wicket:id="requirement"/>                                    
                        </div>
                    </td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field"></td>
                                </tr>
                                <tr class="submitCell">
                                    <td>                                     
                                        <input id="button_return" type="submit" class="button" value="Process" wicket:id="upload" />
                                    </td> 
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>    

</wicket:extend>
