<wicket:panel>
    <div style="float:right" class="pager_display" id="select_list_pager_display">
        <h2><div wicket:id="navigator"></div></h2>
    </div>	
    <div class="recordsData" id="select_list">
        <div id="select_list_results">
            <table border="0" cellpadding="0" cellspacing="0">
                <thead>
                    <tr id="lists_header">
                        <th>Last Name</th>
                        <th>First Name </th>                        
                        <th>Middle Name</th>
                        <th>ID Number</th>
                        <th>Registration Number</th>
                        <th>Gender</th>
                        <th></th>                        
                    </tr>
                </thead>
                <tbody id="lists_body">
                    <tr wicket:id="eachItem">
                        <td>
                            <a href="#" name="lists_row_link" wicket:id="institutionContactPage">
                                <span wicket:id="lastname" name="lists_row_name"></span>
                            </a>                            
                        </td>
                        <td>
                            <span wicket:id="firstname" name="lists_row_name"></span>                          
                        </td>                        
                        <td>
                            <span wicket:id="middlename" name="lists_row_name"></span>
                        </td>
                        <td>
                            <span wicket:id="idNumber" name="lists_row_name"></span>
                        </td>
                        <td>
                            <span wicket:id="registrationNumber" name="lists_row_name"></span>
                        </td>
                        <td>
                            <span wicket:id="gender" name="lists_row_name"></span>
                        </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br />
</wicket:panel>
