<wicket:extend>
    <div class="recordsData">           
        <span wicket:id="registrantPanel"></span>
    </div>
    <div wicket:id="feedback" id="error"></div>    
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2"><span name="type_name">Registrant</span></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label wicket:id="yearLabel" for="year">Year</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="year" wicket:id="year" type="text" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="creditBalance">Credit Balance</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="creditBalance" wicket:id="creditBalance" id="creditBalance" type="text" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label wicket:id="debitBalanceLabel" for="debitBalance">Debit Balance</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="debitBalance" wicket:id="debitBalance" type="text" />
                            </span>
                        </p>

                    </td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field">* - Required Field</td>
                                </tr>
                                <tr class="submitCell">
                                    <td>
                                        <a id="button_return" wicket:id="registrantListPage" href="#" name="add_return" class="button">return (do not save changes)</a>
                                        <input type="submit" class="button" value="Next" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</wicket:extend>
