<wicket:extend>
    <h1>Add Registration Information</h1>
    <h2><span name="type_name">Registrant</span>:<span wicket:id="registrant.fullname" class="form_field"></span></h2>

    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2"><span name="type_name">Transfer</span></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="transferDate">Transfer Date</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="transferDate" wicket:id="transferDate" id="registrationDate" type="text" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="transferRule">Transfer Rule</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="transferRule" wicket:id="transferRule"></select>                                    
                            </span>
                        </p>
                    </td>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="course">Course</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="course" wicket:id="course"></select>                                    
                            </span>
                        </p>                        
                    </td>                     
                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field">* - Required Field</td>
                                </tr>
                                <tr class="submitCell">
                                    <td>
                                        <a id="button_return" wicket:id="registrantViewPage" href="#" name="add_return" class="button">return (do not save changes)</a>
                                        <input type="submit" class="button" value="Save" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

</wicket:extend>
