<wicket:extend>    
    <div class="recordsData">           
        <span wicket:id="registrantPanel"></span>
    </div>
    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2"><span name="type_name">Take Off Record</span></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="voided">Void Record</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="voided" wicket:id="voided" type="checkbox"/>
                            </span>
                        </p>                           
                        <p>
                            <span class="field_head required_field">
                                <label for="comment">Comment</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="comment" wicket:id="comment" id="comment" type="text" />
                            </span>
                        </p>
                    </td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field">* - Required Field</td>
                                </tr>
                                <tr class="submitCell">
                                    <td>
                                        <input type="submit" class="button" value="Next" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</wicket:extend>
