<wicket:extend>

    <h1>Registrar</h1>

    <div>
        <h2><a href="#" wicket:id="searchCertificatePage">Search Certificates</a></h2>
        <hr />
    </div>   

    <div>
        <h2><a href="#" wicket:id="financePage">Payments</a></h2>

        <hr />
    </div>   

    <div>
        <h2><a href="#" wicket:id="examinationsLink">Examinations</a></h2>

        <hr />
    </div> 
     <div>
        <h2><a href="#" wicket:id="emailMessageEditPage">Create New Email</a></h2>
        <hr />
    </div> 
    <div>
        <h2><a href="#" wicket:id="emailMessageListPage">Send Existing Mail</a></h2>
        <hr />
    </div>
    <div>
        <h2><a href="#" wicket:id="SMSMessageEditPage">Create New SMS</a></h2>
        <hr />
    </div>
    <div>
        <h2><a href="#" wicket:id="SMSMessageListPage">Send Existing SMS</a></h2>
        <hr />
    </div>
    <div>
        <h2><a href="#" wicket:id="testEmailPage"> Test Email</a></h2>
        <hr />
    </div>

</wicket:extend>
