<wicket:extend>
    <div class="recordsData" id="select_list">
        <div id="select_list_results">
            <table border="0" cellpadding="0" cellspacing="0">
                <thead>
                    <tr id="lists_header">
                        <th>
                            Select <span name="type_name">Message Detail</span>
                        </th>
                        <th>

                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody id="lists_body">
                    <tr wicket:id="eachItem">
                        <td>
                            <a href="#" name="lists_row_link" wicket:id="viewLink">
                                <span wicket:id="detail" name="lists_row_name">Detail</span>
                            </a>
                        </td>
                        <td>
                            <a href="#" name="lists_row_link" wicket:id="sendSMSLink">
                                Send To Group
                            </a>
                        </td>
                        <td>
                            <a href="#" name="lists_row_link" wicket:id="sendToAll">
                                Send To All
                            </a>
                        </td>                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</wicket:extend>
