<wicket:extend>
    <h1>Enter Email Address</h1>
    <div wicket:id="feedback" id="error"></div>

    <form wicket:id="form">
        <table class="multiFormTable">
            <tr>
                <td>
                    <p>
                        <span class="field_head required_field">
                            <label for="searchtxt">Email</label>*
                        </span>
                        <br />
                        <span class="form_field">
                            <input name="searchtxt" wicket:id="searchtxt" id="searchtxt" type="text" title="Search by the firstname, lastname, id number and registration number"/>
                        </span>
                        <input wicket:id="process" type="submit" value="Send" class="button">
                    </p>                   
                </td>
            </tr>
        </table>
    </form>  

</wicket:extend>
