<wicket:extend>
    <h1 class="header">
        <div wicket:id="feedback" style="color: red"></div>
        Change Password
    </h1>
    <div id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th><span name="type_name">Change Password Fields</span></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="password">New Password</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="password" wicket:id="password" id="name" type="password"/>
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="confirmPassword">Confirm Password</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="confirmPassword" wicket:id="confirmPassword" id="name" type="password" />
                            </span>
                        </p>
                    </td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td>
                    <div id="button">
                        <table style="width: 100%; border: none; padding: 0px; margin: 0px;">
                            <tr class="messageCell">
                                <td class="required_field">* - Required Field</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" class="button" value="Save" />
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a id="button_return" wicket:id="returnLink" href="#" name="add_return" class="button">return (do not save changes)</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</wicket:extend>
