<wicket:extend>
    <span wicket:id = "feedback"/>
    <p>
        <i>Username and password are both "wicket"</i>
    </p>
    <form id="form1" action="login" method="post">
        <table class="loginTable" cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td colspan="2"/>
                </tr>
                <tr>
                    <th>Username:</th>
                    <th>Password:</th>
                </tr>
                <tr>
                    <td>
                        <input type="text" value="demo" name="username">
                    </td>
                    <td>
                        <input type="password" value="demo" name="password">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</wicket:extend>
