<wicket:extend>
    <div id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th><span name="type_name">Edit User</span></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="name">User name</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="username" wicket:id="username" id="username" type="text" />
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="firstName">First Name</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="firstName" wicket:id="firstName" id="name" type="text" />
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="surname">Surname</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="surname" wicket:id="surname" id="name" type="text" />
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="email">Email</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="email" wicket:id="email" id="name" type="text" />
                            </span>
                        </p>


                        <p>
                            <span class="field_head required_field">
                                <label for="password">Password</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="password" wicket:id="password" id="name" type="password"/>
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="confirmPassword">Confirm Password</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="confirmPassword" wicket:id="confirmPassword" id="name" type="password" />
                            </span>
                        </p>
                        
                        <p>
                            <span class="field_head required_field">
                                <label for="printerName">Printer Name</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="printerName" wicket:id="printerName" id="printerName" type="text" />
                            </span>
                        </p>
                        

                        <p>
                            <span class="field_head required_field">
                                <label for="authoriser">Is an approver</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="authoriser" wicket:id="authoriser" id="name" type="checkbox" />
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="applicationProcessor">Is an Application Processor</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="applicationProcessor" wicket:id="applicationProcessor" id="name" type="checkbox" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="councilProcessor">Is an Council Processor</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="councilProcessor" wicket:id="councilProcessor" id="name" type="checkbox" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="role">Roles</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <span id="userRole" wicket:id="roles"></span>

                            </span>
                        </p>

                    </td>

                </tr>
            </tbody>
            <tr class="submitCell">
                <td>
                    <div id="button">
                        <table style="width: 100%; border: none; padding: 0px; margin: 0px;">
                            <tr class="messageCell">
                                <td class="required_field">* - Required Field</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" class="button" value="Save" />
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a id="button_return" wicket:id="returnLink" href="#" name="add_return" class="button">return (do not save changes)</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>            
        </table>
    </form>
</wicket:extend>
