    <wicket:extend>

    <h1>View <span name="type_name">User</span></h1>

    <div class="recordsData">
        <h3>
            <span name="type_name">User</span> Information</h3>

        <div id="list_display" class="recordsData">

            <div class="editRecord">
                <p>Edit This Information</p>
                <ul>
                    <li id="list_edit_link_node">
                        <a name="list_edit_link" href="#" wicket:id="editLink">Update this Information</a>
                    </li>
                    <li id="list_view_link_node">
                        <a name="list_view_link" href="#" wicket:id="returnLink">
                            Select another <span name="type_name">User</span>
                        </a>
                    </li>
                </ul>
            </div> 

            <div class="dataTable">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <th colspan="2"><span name="type_name">User</span></th>
                        </tr>

                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>User Name</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="username">sample</span>
                                </b>
                            </td>
                        </tr>

                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>First Name</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="firstName" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                         <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Surname</label>
                                </span>:
                             </td>
                            <td>
                                <b>
                                    <span wicket:id="surname" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                         <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Email</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="email" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Printer Name</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="printerName" class="form_field"></span>
                                </b>
                            </td>
                        </tr>                        
                         <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Role(s)</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="roles" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                                                   
                    </tbody>
                </table>
            </div> 

        </div>

        <br style="clear: both;">
    </div> 

</wicket:extend>
