<wicket:extend xmlns:wicket="http://www.w3.org/1999/xhtml">
    <h1>Administer Database</h1>
    <div>
        <h3>Manage</h3>
        <ul>
            <li><a wicket:id="identificationValidationLink">Identification Number By Citizenship Validation Rules</a>
            </li>
            <li><a wicket:id="identificationTypeLink" href="#">Identification Type</a></li>
            <li><a wicket:id="caseOutcomeLink" href="#">Case Outcome</a></li>
            <li><a wicket:id="titleLink" href="#">Title</a></li>
            <li><a wicket:id="contactTypeLink" href="#">Contact Type</a></li>
            <li><a wicket:id="maritalStatusLink" href="#">Marital Status</a></li>
            <li><a wicket:id="addressTypeLink" href="#">Address Type</a></li>
            <li><a wicket:id="citizenshipLink" href="#">Citizenship</a></li>
            <li><a wicket:id="registerLink" href="#">Register</a></li>
            <li><a wicket:id="registerTypeLink" href="#">Register Type</a></li>
            <li><a href="#" wicket:id="registrantStatusLink">Status</a></li>
            <li><a href="#" wicket:id="registrantCPDCategoryLink">Registrant CPD Category</a></li>
            <li><a href="#" wicket:id="registrantCPDItemLink">Registrant CPD Item</a></li>
            <li><a href="#" wicket:id="misconductTypeLink">Misconduct Type</a></li>
            <li><a wicket:id="requirementLink" href="#">Requirement</a></li>
            <li><a wicket:id="conditionLink" href="#">Condition</a></li>
            <li><a href="#" wicket:id="tierLink">Tier</a></li>
            <li><a wicket:id="userLink" href="#">Users</a></li>
            <li><a wicket:id="uploadPageLink">Upload Page Council web Logo</a></li>
            <li><a wicket:id="uploadCouncilPageLink">Upload Council home Image</a></li>
            <li><a wicket:id="copyInstitutions">Copy Institutions supervisors and practioners incharge</a></li>
        </ul>

    </div>
    <div>
        <h3>Manage Employment Information</h3>
        <ul>
            <li><a wicket:id="employmentStatusLink" href="#">Employment Status</a></li>
            <li><a wicket:id="employmentAreaLink" href="#">Employment Area</a></li>
            <li><a wicket:id="postLink" href="#">Posts</a></li>
            <li><a wicket:id="institutionLink" href="#">Institutions</a></li>
            <li><a wicket:id="institutionTypeLink" href="#">Institution Types</a></li>
            <li><a wicket:id="serviceLink" href="#">Institution Services</a></li>
        </ul>
    </div>
    <div>
        <h3>Geographic Information</h3>
        <ul>
            <li><a wicket:id="cityLink" href="#">City</a></li>
            <li><a wicket:id="provinceLink" href="#">Province</a></li>
            <li><a href="#" wicket:id="districtLink">District</a></li>
            <li><a href="#" wicket:id="countryLink">Country</a></li>
        </ul>
    </div>

    <div>
        <h3>Course/Discipline</h3>
        <ul>
            <li><a wicket:id="courseLink" href="#">Courses</a></li>
            <li><a wicket:id="courseTypeLink" href="#">Course Type</a></li>
            <li><a href="#" wicket:id="qualificationLink">Qualification</a></li>
            <li><a href="#" wicket:id="courseGroupLink">Course Group</a></li>
            <li><a href="#" wicket:id="courseConditionLink">Course Condition</a></li>
        </ul>
    </div>

    <div>
        <h3>Examinations</h3>
        <ul>
            <li><a wicket:id="examListPage" href="#">Exam</a></li>
            <li><a wicket:id="examPeriodListPage" href="#">Exam Period</a></li>
            <li><a wicket:id="examYearListPage" href="#">Exam Year</a></li>
            <li><a wicket:id="examSettingsLink" href="#">Exam Settings</a></li>
            <li><a wicket:id="examChangesSettingPage" href="#">Exam Changes Setting Page</a></li>
            <li><a wicket:id="modulePaperLink" href="#">Module Paper</a></li>
        </ul>
    </div>

    <div>
        <h3>General Configuration</h3>
        <ul>
            <li><a wicket:id="durationLink" href="#">Manage Duration</a></li>
            <li><a wicket:id="councilDurationLink" href="#">Manage Period</a></li>
            <li><a wicket:id="generalParametersLink" href="#">General Parameters</a></li>
            <li><a wicket:id="requiredParametersLink" href="#">Required Parameters</a></li>
            <li><a wicket:id="transferRuleLink" href="#">Manage Transfer Rules</a></li>
            <li><a wicket:id="registrantCpdItemConfigLink" href="#">CPD Configuration</a></li>
            <li><a wicket:id="adminSearchCertificatePage" href="#">Correct Certificate</a></li>
            <li><a wicket:id="courseCertificateNumberPage" href="#">Series Course Certificate Number</a></li>
        </ul>
    </div>

    <div>
        <h3>Email Configuration</h3>
        <ul>
            <li><a wicket:id="emailConfigurationPage" href="#">Email Configuration</a></li>
        </ul>
    </div>

    <div>
        <h3>Penalty Configuration</h3>
        <ul>
            <li><a wicket:id="penaltyParametersLink" href="#">Manage Penalty Types</a></li>
        </ul>
    </div>

    <div>
        <h3>Integration</h3>
        <ul>
            <li><a wicket:id="integrationConfigurationPage" href="#">Integration Configuration</a></li>
        </ul>
    </div>

    <div>
        <h3>Operations</h3>
        <ul>
            <li><a wicket:id="createCustomerAccounts" href="#">Create Customer Accounts</a></li>
            <li><a wicket:id="createProductAccounts" href="#">Create Product Accounts</a></li>
            <li><a wicket:id="createInstitutionAccounts" href="#">Create Institution Accounts</a></li>
            <li><a wicket:id="applicationsWithoutPayment" href="#">Application List Without Payments</a></li>
            <li><a wicket:id="deleteApplicationsWithoutPayment" href="#">Removed Applications Without Payment</a></li>
            <li><a wicket:id="updateCustomerAndAccountDetails" href="#">Update Customer And Account Details</a></li>
            <li><a wicket:id="correctMissingChangeOfBankReport" href="#">Correct Missing Change of bank</a></li>
        </ul>
    </div>

</wicket:extend>
