
<wicket:extend>
    <h1 class="header">
        <a href="#" wicket:id="administerDatabaseLink">Administer Database</a>: <span name="type_name">Conditions</span>
    </h1>
    <div id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th><span name="type_name">Conditions</span></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="name">Name</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="name" wicket:id="name" id="name" type="text" />
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="comments">Description</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <textarea name="comments" wicket:id="comments" rows="10" cols="600"/>
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="generalCondition">Is a general Requirement</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="generalCondition" wicket:id="generalCondition" id="generalCondition" type="checkbox" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="registerCondition">Is a Register Condition</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="registerCondition" wicket:id="registerCondition" id="registerCondition" type="checkbox" />
                            </span>
                        </p>                        
                        <p>
                            <span class="field_head required_field">
                                <label for="examConditions">Is an Exam Conditions</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="examConditions" wicket:id="examCondition" id="examCondition" type="checkbox" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="productIssuanceType">Certificate Type</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="productIssuanceType" wicket:id="productIssuanceType"></select>                                    
                            </span>
                        </p>
                    </td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td>
                    <div id="button">
                        <table style="width: 100%; border: none; padding: 0px; margin: 0px;">
                            <tr class="messageCell">
                                <td class="required_field">* - Required Field</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" class="button" value="Save" />
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a id="button_return" wicket:id="returnLink" href="#" name="add_return" class="button">return (do not save changes)</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr class="submitCell">
                <td>
                    <div id="admin_extra"></div>
                </td>
            </tr>
        </table>
    </form>
</wicket:extend>
