<wicket:extend>
    <h1>Administer Database</h1>
    <div>
        <h2><a href="#" wicket:id="administerDatabaseLink">Administer Database</a></h2>
        <p>Administer system static data such as qualifications,gender e.t.c</p>
        <hr />
    </div>

    <span>
        <h2><a href="#" wicket:id="reportViewsLink">Manage Reports</a></h2>
        <p>Manage the standard reports available to users and create new custom reports. </p>
        <hr />               
    </span>   
</wicket:extend>

