<wicket:extend>
    <h1 class="header">
        <a href="#" wicket:id="administerDatabaseLink">Administer Database</a>: <span name="type_name">Country</span>
    </h1>
    <div id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th><span name="type_name">Country</span></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="name">Name</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="name" wicket:id="name" id="name" type="text" />
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="description">Description</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="description" wicket:id="description" id="description" type="text" />
                            </span>
                        </p>
                       
                         <p>
                            <span class="field_head required_field">
                                <label for="isoCode1">ISO Code 1</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="isoCode1" wicket:id="isoCode1" id="isoCode1" type="text" />
                            </span>
                        </p>
                        
                        <p>
                            <span class="field_head required_field">
                                <label for="isoCode2">ISO Code2</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="isoCode2" wicket:id="isoCode2" id="isoCode2" type="text" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="iso">ISO</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="iso" wicket:id="iso" id="iso" type="text" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="un">UN</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="un" wicket:id="un" id="un" type="text" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="itu">ITU</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="itu" wicket:id="itu" id="itu" type="text" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="ioc">IOC</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="ioc" wicket:id="ioc" id="ioc" type="text" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="iana">IANA</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="iana" wicket:id="iana" id="iana" type="text" />
                            </span>
                        </p>

                    </td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td>
                    <div id="button">
                        <table style="width: 100%; border: none; padding: 0px; margin: 0px;">
                            <tr class="messageCell">
                                <td class="required_field">* - Required Field</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" class="button" value="Save" />
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a id="button_return" wicket:id="returnLink" href="#" name="add_return" class="button">return (do not save changes)</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr class="submitCell">
                <td>
                    <div id="admin_extra"></div>
                </td>
            </tr>
        </table>
    </form>
</wicket:extend>
