<wicket:extend>

    <h1>View <span name="type_name">Country</span>: <span wicket:id="country" name="list_name">country</span>
    </h1>

    <div class="recordsData">
        <h3>
            <span name="type_name">Country</span> Information</h3>

        <div id="list_display" class="recordsData">

            <div class="editRecord">
                <p>Edit This Information</p>
                <ul>
                    <li id="list_edit_link_node">
                        <a name="list_edit_link" href="#" wicket:id="editLink">Update this Information</a>
                    </li>
                    <li id="list_view_link_node">
                        <a name="list_view_link" href="#" wicket:id="returnLink">
                            Select another <span name="type_name">Country</span>
                        </a>
                    </li>
                </ul>
            </div> <!-- editRecord -->

            <div class="dataTable">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <th colspan="2"><span name="type_name">Country</span></th>
                        </tr>

                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Name</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="name">sample</span>
                                </b>
                            </td>
                        </tr>

                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Description</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="description" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                   
                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>ISO</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="iso" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>ISO Code 1</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="isoCode1" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        
                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>ISO Code 2</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="isoCode2" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        
                        
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>IANA</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="iana" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        
                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>IOC</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="ioc" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        
                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>ITU</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="itu" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>UN</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="un" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> <!-- dataTable -->

        </div>

        <br style="clear: both;">
    </div> <!-- recordsData -->

</wicket:extend>
