<wicket:extend>
    <h1 class="header">
        <a href="#" wicket:id="administerDatabaseLink">Administer Database</a>: <span name="type_name">Course</span>
    </h1>
    <div id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th><span name="type_name">Course</span></th>
                <th></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="name">Name</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="name" wicket:id="name" id="name" type="text" />
                            </span>
                        </p>                       
                        <p>
                            <span class="field_head required_field">
                                <label for="prefixName">Prefix</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="prefixName" wicket:id="prefixName" id="prefix" type="text" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="certificatePrefix">Certificate Prefix</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="certificatePrefix" wicket:id="certificatePrefix" id="certificatePrefix" type="text" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="isoCode">ISO Code</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="isoCode" wicket:id="isoCode" type="text" />
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="name">Description</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="name" wicket:id="description" id="name" type="text" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="courseType">Course Type</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="courseType" wicket:id="courseType"></select>                                    
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="basic">Basic Course</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="basic" wicket:id="basic" id="CPDModule" type="checkbox" />
                            </span>
                        </p>                         
                        <p>
                            <span class="field_head required_field">
                                <label for="special">Special Course</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="special" wicket:id="special" id="CPDModule" type="checkbox" />
                            </span>
                        </p>                         
                        <p>
                            <span class="field_head required_field">
                                <label for="hasCGSApplication">Has CGS Certificate</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="hasCGSApplication" wicket:id="hasCGSApplication" id="hasCGSApplication" type="checkbox" />
                            </span>
                        </p>    
                    </td>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="courseType">Register Type</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="registerType" wicket:id="registerType"></select>                                    
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="courseGroup">Tier</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="tier" wicket:id="tier"></select>                                    
                            </span>
                        </p>


                        <p>
                            <span class="field_head required_field">
                                <label for="courseGroup">Course Group</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="courseGroup" wicket:id="courseGroup"></select>                                    
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="weight">Weight</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="weight" wicket:id="weight" id="name" type="text" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="courseType">Qualification for Course</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="qualification" wicket:id="qualification"></select>                                    
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="name">Course Duration</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="courseDuration" wicket:id="courseDuration" id="name" type="text" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="course">Certificate Type</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="productIssuanceType" wicket:id="productIssuanceType"></select>                                  
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="course">Last Course Registration Number</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="lastCourseRegistrationNumber" wicket:id="lastCourseRegistrationNumber"/>                                 
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="Retired">Retired</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="retired" wicket:id="retired" id="name" type="checkbox" />
                            </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="name">Requirements</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input type="checkbox" wicket:id="advanced1" name="name"/>
                            </span>
                        </p>
                        <div wicket:id="wmc1">
                            Course Requirements:<br />
                            <span wicket:id="requirements"></span>
                        </div>

                        <p>
                            <span class="field_head required_field">
                                <label for="name">Training Schools</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input type="checkbox" wicket:id="advanced2" name="name"/>
                            </span>
                        </p>
                        <div wicket:id="wmc2">
                            Training Institution:<br />
                            <span wicket:id="trainingInstitutions"></span>
                        </div>

                        <p>
                            <span class="field_head required_field">
                                <label for="name">Qualifications</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input type="checkbox" wicket:id="advanced3" name="name"/>
                            </span>
                        </p>
                        <div wicket:id="wmc3">
                            Qualifications:<br />
                            <span wicket:id="qualifications"></span>
                        </div>
                    </td>

                </tr>
            </tbody>
            <tr class="submitCell">
                <td>
                    <div id="button">
                        <table style="width: 100%; border: none; padding: 0px; margin: 0px;">
                            <tr class="messageCell">
                                <td class="required_field">* - Required Field</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" class="button" value="Save" />
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a id="button_return" wicket:id="returnLink" href="#" name="add_return" class="button">return (do not save changes)</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr class="submitCell">
                <td>
                    <div id="admin_extra"></div>
                </td>
            </tr>
        </table>
    </form>
</wicket:extend>
