<wicket:extend xmlns:wicket="http://www.w3.org/1999/xhtml">
    <h1 class="header">
        <a href="#" wicket:id="administerDatabaseLink">Administer Database</a>: <span name="type_name">Course Certificate Series</span>
    </h1>
    <div id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th><span name="type_name">Certificate Course Number</span></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="certificateNumber">Name</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="certificateNumber" wicket:id="certificateNumber" id="certificateNumber" type="text" />
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="coursePrefix">Course Prefix</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="coursePrefix" wicket:id="coursePrefix" id="coursePrefix" type="text" />
                            </span>
                        </p>


                        <p>
                            <span class="field_head required_field">
                                <label for="course">Course</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="course" wicket:id="course">GN</select>
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="register">Register</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="register" wicket:id="register"/>                                    
                            </span>
                        </p>
                    </td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td>
                    <div id="button">
                        <table style="width: 100%; border: none; padding: 0px; margin: 0px;">
                            <tr class="messageCell">
                                <td class="required_field">* - Required Field</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" class="button" value="Save" />
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a id="button_return" wicket:id="returnLink" href="#" name="add_return" class="button">return (do not save changes)</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr class="submitCell">
                <td>
                    <div id="admin_extra"></div>
                </td>
            </tr>
        </table>
    </form>
</wicket:extend>

