<wicket:extend>
    <h1 class="header">
        <a wicket:id="administerDatabaseLink" href="#">Administer Database</a>: <span name="type_name">Course Condition</span>
    </h1>

    <span name="list_is_writable">
        <a href="#" wicket:id="addNewLink" name="add_type" class="add_new_link">
            Add new 
            <span name="type_name">New Course Condition</span>
        </a>
    </span>

    <div class="recordsData" id="select_list">
        <div id="select_list_results">
            <table id="tableList" cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr id="lists_header">
                        <th>
                            Select <span name="type_name">Course Condition</span> to edit
                        </th>
                    </tr>
                </thead>
                <tbody id="lists_body">
                    <tr wicket:id="eachItem">
                        <td>
                            <span wicket:id="course" name="lists_row_name">Course</span>
                        </td>
                        <td>
                            <span wicket:id="register" name="lists_row_name">Register</span>
                        </td>
                         <td>
                            <span wicket:id="condition" name="lists_row_name">Condition</span>
                        </td>
                        <td>
                            <span wicket:id="retired" name="lists_row_name">Retired</span>
                        </td>
                        <td>
                            <a href="#" name="lists_row_link" wicket:id="viewLink">
                                View
                            </a>
                        </td>                            
                    </tr>
                </tbody>
            </table>            
        </div>
    </div>
    <br />
    <p>
        <a href="#" wicket:id="returnLink" class="button">return</a>
    </p>
</wicket:extend>
