<wicket:extend>

    <h1>View <span name="type_name">Course Type</span>:
    </h1>

    <div class="recordsData">
        <h3>
            <span name="type_name">Course Type</span> Information</h3>

        <div id="list_display" class="recordsData">

            <div class="editRecord">
                <p>Edit This Information</p>
                <ul>
                    <li id="list_edit_link_node">
                        <a name="list_edit_link" href="#" wicket:id="editLink">Update this Information</a>
                    </li>
                    <li id="list_view_link_node">
                        <a name="list_view_link" href="#" wicket:id="returnLink">
                            View <span name="type_name">Courses</span>
                        </a>
                    </li>

                </ul>
            </div> <!-- editRecord -->

            <div class="dataTable">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <th colspan="2"><span name="type_name">Course Type</span></th>
                        </tr>

                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Name</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="name">sample</span>
                                </b>
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>ISO Code</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="isoCode" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Prefix</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="prefixName" class="form_field"></span>
                                </b>
                            </td>
                        </tr>

                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Description</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="description" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Course Type</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="courseType" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Register Type</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="registerType" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Course Group</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="courseGroup" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Weight</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="weight" class="form_field"></span>
                                </b>
                            </td>
                        </tr>   
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Qualification</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="qualification" class="form_field"></span>
                                </b>
                            </td>
                        </tr>

                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Basic Course</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="basicCourse" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Course Duration</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="courseDuration" class="form_field"></span>
                                </b>
                            </td>
                        </tr>                        
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Requirements</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="requirements" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Training Institutions</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="trainingInstitutions" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> <!-- dataTable -->
        </div>

        <br style="clear: both;">
    </div> <!-- recordsData -->

</wicket:extend>
