<wicket:extend>
    <div id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="3"><span name="type_name">Email Configuration</span></th>
                <th></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="email">Email</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="email" wicket:id="email"/> 
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="emailPassword">Email Password</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="emailPassword" wicket:id="emailPassword"/>   
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="emailSignature">Email Signature</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <textarea name="emailSignature" wicket:id="emailSignature" rows="10" cols="200"></textarea>
                            </span>
                        </p>
                    </td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td>
                    <div id="button">
                        <table style="width: 100%; border: none; padding: 0px; margin: 0px;">
                            <tr class="messageCell">
                                <td class="required_field">* - Required Field</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" class="button" value="Save" />
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a id="button_return" wicket:id="returnLink" href="#" name="add_return" class="button">return (do not save changes)</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>            
        </table>
    </form>
</wicket:extend>
