<wicket:extend xmlns:wicket="http://www.w3.org/1999/xhtml">
    <h1 class="header">
        <a href="#" wicket:id="administerDatabaseLink">Administer Database</a>: <span name="type_name">General Parameters</span>
    </h1>

    <div id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="3"><span name="type_name">General Parameters</span></th>
            </tr>
            <tbody id="list_fields">
            <tr>
                <td>
                    <p>
                            <span class="field_head required_field">
                                <label for="email">Email</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="email" wicket:id="email"/>                           </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="emailPassword">Email Password</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="emailPassword"
                                       wicket:id="emailPassword"/>                           </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="emailSignature">Email Signature</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <textarea name="emailSignature" id="emailSignature"
                                          wicket:id="emailSignature" rows="5" cols="30"></textarea>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="name">Email Contact Type</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <select name="name" wicket:id="emailContactType"></select>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="sendEmail">Allow Sending of BirthDay Reminders To Registrants</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="sendEmail" id="sendEmail" type="checkbox"
                                       wicket:id="allowSendingBirthDayRemindersToRegistrants"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="name">Council Name</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="name" wicket:id="councilName"/>                           </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="name">Council Prefix For Registration Number</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="name" wicket:id="councilPrefixForRegistrationNumber"/>                           </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="name">Registrant</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="name" wicket:id="registrantName"/>                           </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="name">Council Abbreviation</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="name" wicket:id="councilAbbreviation"/>                           </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="name">Main Register</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <select name="name" wicket:id="mainRegister"></select>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="name">Student Register</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <select name="name" wicket:id="studentRegister"></select>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="name">Provisional Register</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <select name="name" wicket:id="provisionalRegister"></select>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="name">Specialist Register</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <select name="name" wicket:id="specialistRegister"></select>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="name">Intern Register</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <select name="name" wicket:id="internRegister"></select>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="name">Minimum Number of Years in Intern Register</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <input type="text" name="name" wicket:id="minimumYearsInInternRegister"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="name">Minimum Number of Years in Provisional Register</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <input type="text" name="name" wicket:id="minimumYearsInProvisionalRegister"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="name">Minimum Years For Basic CGS Application</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <input type="text" name="name" wicket:id="minimumYearsForCGSApplication"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="name">Minimum Years For PBQ CGS Application</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <input type="text" name="minimumYearsForPBQCGSApplication"
                                       wicket:id="minimumYearsForPBQCGSApplication"/>
                            </span>
                    </p>


                    <p>
                            <span class="field_head required_field">
                                <label for="generateRegnumberOnRegistrant">Generate Registration Number on creating
                                    Registrant</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="name" wicket:id="generateRegnumberOnRegistrant" type="checkbox"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="hasQuaterRenewal">Has Quater Renewal Instead of Annual Renewal
                                    Registrant</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="name" wicket:id="hasQuaterRenewal" type="checkbox"/>
                            </span>
                    </p>

                </td>
                <td>
                    <p>
                            <span class="field_head required_field">
                                <label for="name">Institution Register</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <select name="name" wicket:id="institutionRegister"></select>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="name">Maintenance Register</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <select name="name" wicket:id="maintenanceRegister"></select>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="name">Default Awarding Institution</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <select name="name" wicket:id="institution"></select>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="name">Current Period</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <select name="name" wicket:id="councilDuration"></select>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="name">Last Registration Number</label>*
                            </span>
                        <br/>
                        <span class="form_field">

                                <input name="name" wicket:id="lastRegistrationNumber" type="text"/>

                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="name">Last Candidate Number</label>*
                            </span>
                        <br/>
                        <span class="form_field">

                                <input name="name" wicket:id="lastCandidateNumber" type="text"/>

                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="lastCertificateNumber">Last Certificate Number</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="lastCertificateNumber" wicket:id="lastCertificateNumber" type="text"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="lastPracticeCertificateNumber">Last Practice Certificate Number</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="lastPracticeCertificateNumber" wicket:id="lastPracticeCertificateNumber"
                                       type="text"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="lastCGSCertificateNumber">Last CGS Number</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="lastCGSCertificateNumber" wicket:id="lastCGSCertificateNumber"
                                       type="text"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="name">Increment Certificate Number</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="incrementCertificateNumber" wicket:id="incrementCertificateNumber"
                                       type="text"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="name">Increment Registration Number</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="registrationNumberIncrement" wicket:id="registrationNumberIncrement"
                                       type="text"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="institutionType">External University Type</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <select name="institutionType" wicket:id="institutionType"></select>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="minimumRegistrationAge">Minimum Registration Age</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="minimumRegistrationAge" wicket:id="minimumRegistrationAge"/>
                            </span>

                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="content_Url">Content Url</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="content_Url" wicket:id="content_Url"/>
                            </span>

                    </p>


                    <p>
                            <span class="field_head required_field">
                                <label for="hasProcessedByBoard">Processed By Board</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="hasProcessedByBoard" wicket:id="hasProcessedByBoard"
                                       id="hasProcessedByBoard"
                                       type="checkbox"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="registrationNumberHasPrefix">RegistrationNumber Has Prefix</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="registrationNumberHasPrefix" wicket:id="registrationNumberHasPrefix"
                                       id="registrationNumberHasPrefix" type="checkbox"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="registrationNumberHasZeroPrefix">RegistrationNumber Has Zero Prefix</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="registrationNumberHasZeroPrefix"
                                       wicket:id="registrationNumberHasZeroPrefix"
                                       id="registrationNumberHasZeroPrefix" type="checkbox"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="showActiveDurationsOnly">Show Active Durations Only</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="showActiveDurationsOnly" wicket:id="showActiveDurationsOnly"
                                       id="showActiveDurationsOnly"
                                       type="checkbox"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="approveAndRegister">Registeration is direct from Application
                                    Approval</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="approveAndRegister" wicket:id="approveAndRegister" type="checkbox"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="allowPreRegistrantion">Pre-Registration - Allow Partial Save for
                                    Registration</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="allowPreRegistrantion" wicket:id="allowPreRegistrantion" type="checkbox"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="requireAffidavit">Registration require affidavit</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="requireAffidavit" wicket:id="requireAffidavit" type="checkbox"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="name">Affidavit condition</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <select name="name" wicket:id="affidavit"></select>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="monthsToRequireAffidavit">Number of months to require affidavit</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="monthsToRequireAffidavit" wicket:id="monthsToRequireAffidavit"
                                       type="text"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="businessAddressType">Address Type</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <select name="businessAddressType" wicket:id="businessAddressType"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="physicalAddressType">Physical Address Type</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <select name="physicalAddressType" wicket:id="physicalAddressType"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="contactAddressType">Contact Address Type</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <select name="contactAddressType" wicket:id="contactAddressType"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="businessNumberContactType">Business Number Contact Type</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <select name="businessNumberContactType" wicket:id="businessNumberContactType"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="mobileNumberContactType">Mobile Number ContactType</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <select name="mobileNumberContactType" wicket:id="mobileNumberContactType"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="faxNumberContactType">Fax Number Contact Type</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <select name="faxNumberContactType" wicket:id="faxNumberContactType"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="mainRegisterCondition">Main Register Condition(Report Temp)</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <select name="mainRegisterCondition" wicket:id="mainRegisterCondition"/>
                            </span>
                    </p>

                </td>
                <td>

                    <p>
                            <span class="field_head required_field">
                                <label for="content_UserName">Content Username</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="content_UserName" wicket:id="content_UserName"/>
                            </span>

                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="content_Password">Content Password</label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="content_Password" wicket:id="content_Password"/>
                            </span>

                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="numberOfTimesToWriteSupExam">Number Of Times To Write Supplementary
                                    Exams</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="numberOfTimesToWriteSupExam" wicket:id="numberOfTimesToWriteSupExam"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="minimumYearsForInstitutionApplication">Minimum Working Years required to
                                    Apply for a Health Institution </label>*
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="minimumYearsForInstitutionApplication"
                                       wicket:id="minimumYearsForInstitutionApplication"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="minimumDaysPendingApplicationsForeign">Minimum days For Foreign
                                    Alert</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="minimumDaysPendingApplicationsForeign"
                                       wicket:id="minimumDaysPendingApplicationsForeign"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="minimumDaysPendingApplicationsLocal">Minimum days For Local Alert</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="minimumDaysPendingApplicationsLocal"
                                       wicket:id="minimumDaysPendingApplicationsLocal"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="minimumDaysPendingApplicationsCGS">Minimum days For CGS Alert</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="minimumDaysPendingApplicationsCGS"
                                       wicket:id="minimumDaysPendingApplicationsCGS"/>
                            </span>
                    </p>


                    <p>
                            <span class="field_head required_field">
                                <label for="minimumPeriodToStartPBQ">Minimum years required to start PBQ</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="minimumPeriodToStartPBQ" wicket:id="minimumPeriodToStartPBQ"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="minimumPeriodForSup">Maximum months within which Registrant should register
                                    for Supplementary Examinations</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="minimumPeriodForSup" wicket:id="minimumPeriodForSup"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="examinationModule">Examination Module</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="examinationModule" wicket:id="examinationModule" type="checkbox"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="allowMultipleRegistrations">Multiple Registrations</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="allowMultipleRegistrations" wicket:id="allowMultipleRegistrations"
                                       type="checkbox"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="registrationByApplication">Registration is By Application</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="registrationByApplication" wicket:id="registrationByApplication"
                                       type="checkbox"/>
                            </span>
                    </p>lk

                    <p>
                            <span class="field_head required_field">
                                <label for="hasReminderOnApplications">Pending Applications Alerts</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="name" wicket:id="hasReminderOnApplications" type="checkbox"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="unrestrictedPCPeriod">Minimum months required to apply for unrestricted
                                    practicing certificate</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="name" wicket:id="unrestrictedPCPeriod" type="text"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="healthInstitutionType">Health Institution Type</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <select name="name" wicket:id="healthInstitutionType"></select>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="suspendedStatus">Suspended Status</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <select name="suspendedStatus" wicket:id="suspendedStatus"></select>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="deRegisteredStatus">De-Registered Status</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <select name="deRegisteredStatus" wicket:id="deRegisteredStatus"></select>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="voidedStatus">Voided Status</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <select name="voidedStatus" wicket:id="voidedStatus"></select>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="registrationnumberIsByCourse">Registration Number is by Course</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input type="checkbox" name="registrationnumberIsByCourse"
                                       wicket:id="registrationnumberIsByCourse"/>
                            </span>
                    </p>
                    <p>
                            <span class="field_head required_field">
                                <label for="allowCapitalizationOfFirstLetters">Allow Capitalization On First Letter On Certificates</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="allowCapitalizationOfFirstLetters"
                                       wicket:id="allowCapitalizationOfFirstLetters" type="checkbox"/>
                            </span>
                    </p>
                    <p>
                            <span class="field_head required_field">
                                <label for="allowChangeOfRegistrationNumberAfterTransfer">Allow Change of Registration Numbers after Transfer </label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="allowChangeOfRegistrationNumberAfterTransfer"
                                       wicket:id="allowChangeOfRegistrationNumberAfterTransfer" type="checkbox"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="billingModule">Activate Billing Module</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input type="checkbox" name="billingModule" wicket:id="billingModule"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="name">Direct Approval for Local applicants</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input type="checkbox" name="name" wicket:id="directApproval"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="name">Renewal Reports By Course</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input type="checkbox" name="name" wicket:id="reportsByCourse"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="directRegistration">Direct Registration on Transfer</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="directRegistration" wicket:id="directRegistration" id="directRegistration"
                                       type="checkbox"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="registrationCertificateSerialIsIncrimental">Registration Certificate Serial
                                    Number is incremental</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="registrationCertificateSerialIsIncrimental"
                                       wicket:id="registrationCertificateSerialIsIncrimental"
                                       id="registrationCertificateSerialIsIncrimental"
                                       type="checkbox"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="registrationCertificateSerial">Last Registration Certificate Serial
                                    Number</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input type="text" name="registrationCertificateSerial"
                                       wicket:id="registrationCertificateSerial"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="courseCertificateNumber">Course Practice Certificate Numbers Activated
                                    Series</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="courseCertificateNumber" wicket:id="courseCertificateNumber"
                                       id="courseCertificateNumber" type="checkbox"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="registrationNumberByYear">Registration Number By Year Activated</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="registrationNumberByYear" wicket:id="registrationNumberByYear"
                                       id="registrationNumberByYear" type="checkbox"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="examClearance">Clearance Letter Required after Exam Registration</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="examClearance" wicket:id="examClearance" id="examClearance"
                                       type="checkbox"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="captureCPDsDirectly">Capture CPDs Directly</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="captureCPDsDirectly" wicket:id="captureCPDsDirectly"
                                       id="captureCPDsDirectly"
                                       type="checkbox"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="captureCPDsDirectlyAndInDirectly">Capture CPDs Directly And Indirectly</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="captureCPDsDirectlyAndInDirectly"
                                       wicket:id="captureCPDsDirectlyAndInDirectly"
                                       id="captureCPDsDirectlyAndInDirectly"
                                       type="checkbox"/>
                            </span>
                    </p>
                    <p>
                            <span class="field_head required_field">
                                <label for="studentRegistrationWithRenewal">Students with renewals</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="studentRegistrationWithRenewal" wicket:id="studentRegistrationWithRenewal"
                                       id="studentRegistrationWithRenewal"
                                       type="checkbox"/>
                            </span>
                    </p>


                    <p>
                            <span class="field_head required_field">
                                <label for="allowRenewalBeforeCPDs">Allow Renewal Before CPDs</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="allowRenewalBeforeCPDs" wicket:id="allowRenewalBeforeCPDs"
                                       id="allowRenewalBeforeCPDs"
                                       type="checkbox"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="IssueDiplomaWithoutExams">Issue Diploma Without Exams</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="issueDiplomaWithoutExams" wicket:id="issueDiplomaWithoutExams"
                                       id="issueDiplomaWithoutExams"
                                       type="checkbox"/>
                            </span>
                    </p>


                    <p>
                            <span class="field_head required_field">
                                <label for="dynamicDisciplineReport">Dynamic Discipline Report</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="dynamicDisciplineReport" wicket:id="dynamicDisciplineReport"
                                       id="dynamicDisciplineReport"
                                       type="checkbox"/>
                            </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="registerQualificationBeforeTransfer">Register Qualification before Transfer</label>
                            </span>
                        <br/>
                        <span class="form_field">
                                <input name="registerQualificationBeforeTransfer"
                                       wicket:id="registerQualificationBeforeTransfer"
                                       id="registerQualificationBeforeTransfer"
                                       type="checkbox"/>
                            </span>
                    </p>

                    <!--<p>-->
                    <!--<span class="field_head required_field">-->
                    <!--<label for="lastRenewalPeriodShowsCouncilPeriod">Last Renewal Period shows start and end date</label>-->
                    <!--</span>-->
                    <!--<br/>-->
                    <!--<span class="form_field">-->
                    <!--<input name="lastRenewalPeriodShowsCouncilPeriod"-->
                    <!--wicket:id="lastRenewalPeriodShowsCouncilPeriod"-->
                    <!--id="lastRenewalPeriodShowsCouncilPeriod"-->
                    <!--type="checkbox"/>-->
                    <!--</span>-->
                    <!--</p>-->
                </td>
            </tr>
            </tbody>
            <tr class="submitCell">
                <td>
                    <div id="button">
                        <table style="width: 100%; border: none; padding: 0px; margin: 0px;">
                            <tr class="messageCell">
                                <td class="required_field">* - Required Field</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" class="button" value="Save"/>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a id="button_return" wicket:id="returnLink" href="#" name="add_return"
                                       class="button">return (do not save changes)</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</wicket:extend>
