<wicket:extend xmlns:wicket="http://www.w3.org/1999/xhtml">
    <h1 class="header">
        <a wicket:id="administerDatabaseLink" href="#">Administer Database</a>: <span name="type_name">Validation Rule</span>
    </h1>

        <span name="list_is_writable">
            <a href="#" wicket:id="addNewLink" name="add_type" class="add_new_link">
                Add new
                <span name="type_name">Validation Rule</span>
            </a>
        </span>

    <div class="recordsData" id="select_list">
        <div id="select_list_results">
            <table id="tableList" cellpadding="0" cellspacing="0" border="0">
                <thead>
                <tr id="lists_header">
                    <th>
                        <span name="type_name">Citizenship</span>
                    </th>
                    <th>
                        <span name="type_name">Identification Type</span>
                    </th>
                    <th>
                        <span name="type_name">Example</span>
                    </th>
                    <th>
                        <span name="type_name">Active</span>
                    </th>
                    <th>
                    </th>
                </tr>
                </thead>
                <tbody id="lists_body">
                <tr wicket:id="eachItem">
                    <td>
                            <span wicket:id="citizenship.name" name="lists_row_name">Citizenship</span>
                    </td>
                    <td>
                            <span wicket:id="identificationType.name" name="lists_row_name">Identification Type</span>
                    </td>
                    <td>
                            <span wicket:id="example" name="lists_row_name">Example</span>
                    </td>
                    <td>
                        <span wicket:id="active" name="lists_row_name">Active</span>
                    </td>

                    <td>
                        <a href="#" name="lists_row_link" wicket:id="viewLink">
                            <span name="lists_row_name">Edit/View</span>
                        </a>
                    </td>
                </tr>

                </tbody>
            </table>
            <div style="float:right" class="pager_display" id="select_list_pager_display">
            </div>

        </div>
    </div>
    <br />
    <p>
        <a href="#" wicket:id="returnLink" class="button">return</a>
    </p>
</wicket:extend>