<wicket:extend xmlns:wicket="http://www.w3.org/1999/xhtml">
    <h1 class="header">
        <a href="#" wicket:id="administerDatabaseLink">Administer Database</a>: <span
            name="type_name">Validation Rules</span>
    </h1>

    <div id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th><span name="type_name">Validation Rule</span></th>
            </tr>
            <tbody id="list_fields">
            <tr>
                <td>
                    <p>
                                <span class="field_head required_field">
                                    <label for="citizenship">Citizenship</label>*
                                </span>
                        <br/>
                                <span class="form_field">
                                    <select name="citizenship" id="citizenship" wicket:id="citizenship"></select>
                                </span>
                    </p>

                    <p>
                                <span class="field_head required_field">
                                    <label for="identificationType">Identification Type</label>*
                                </span>
                        <br/>
                                <span class="form_field">
                                    <select name="identificationType" id="identificationType"
                                            wicket:id="identificationType"></select>
                                </span>
                    </p>


                    <p>
                                <span class="field_head required_field">
                                    <label for="example">Example (e.g 45-453243-K-56)</label>
                                </span>
                        <br/>
                                <span class="form_field">
                                    <input name="example" id="example"
                                           wicket:id="example"/>
                                </span>
                    </p>

                    <p>
                            <span class="field_head required_field">
                                <label for="active">Active</label>
                            </span>
                        <br/>
                            <span class="form_field">
                                <input name="active" wicket:id="active" id="active" type="checkbox"/>
                            </span>
                    </p>
                </td>
            </tr>
            </tbody>
            <tr class="submitCell">
                <td>
                    <div id="button">
                        <table style="width: 100%; border: none; padding: 0px; margin: 0px;">
                            <tr class="messageCell">
                                <td class="required_field">* - Required Field</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" class="button" value="Save"/>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a id="button_return" wicket:id="returnLink" href="#" name="add_return"
                                       class="button">return (do not save changes)</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr class="submitCell">
                <td>
                    <div id="admin_extra"></div>
                </td>
            </tr>
        </table>
    </form>
</wicket:extend>

