<wicket:extend>
    <div id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="3"><span name="type_name">Integration Configuration</span></th>
                <th></th>
            </tr>
            <tbody id="list_fields">
            <tr>
                <td>
                    <p>
                            <span class="field_head required_field">
                                <label for="integrationUrl">Integration Url (http://hitrac.co.zw/hwo-portal/hwo/rest/)</label>*
                            </span>
                        <br/>
                            <span class="form_field">
                                <input name="integrationUrl" wicket:id="integrationUrl"/> 
                            </span>
                    </p>
                    <p>
                            <span class="field_head required_field">
                                <label for="integrationAllowed">Integration Allowed </label>
                            </span>
                        <br/>
                            <span class="form_field">
                                <input type="checkbox" name="integrationAllowed" wicket:id="integrationAllowed"/>
                            </span>
                    </p>
                </td>
            </tr>
            </tbody>
            <tr class="submitCell">
                <td>
                    <div id="button">
                        <table style="width: 100%; border: none; padding: 0px; margin: 0px;">
                            <tr class="messageCell">
                                <td class="required_field">* - Required Field</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" class="button" value="Save"/>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a id="button_return" wicket:id="returnLink" href="#" name="add_return"
                                       class="button">return (do not save changes)</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</wicket:extend>
