<wicket:extend>
    <h1 class="header">
        <span name="type_name">Penalty Parameters</span>
    </h1>
    <div id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th><span name="type_name">Penalty Parameters</span></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="">Period to start charging Penalty</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input wicket:id="penaltyPeriod"/>   
                                <span class="field_head required_field">
                                    <label for="">months</label>
                                </span>                        
                            </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="">Rate</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input wicket:id="percentagePenalty"/>   
                                <span class="field_head required_field">
                                    <label for="">%</label>
                                </span>                        
                            </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="">Charge per period</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <span class="field_head required_field">
                                    <label for="">$</label>
                                </span> 
                                <input wicket:id="charge"/>                      
                            </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="">Period to effect Re Registration</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input wicket:id="reRegistrationPeriod"/>   
                                <span class="field_head required_field">
                                    <label for="">months</label>
                                </span>                        
                            </span>
                        </p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="">Council Has Re registration Product</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input wicket:id="hasReregistrationProduct" type="checkbox"/>                        
                            </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="">Penalty is incremental</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input wicket:id="penaltyIsIncremental" type="checkbox"/>                        
                            </span>
                        </p>
                    </td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td>
                    <div id="button">
                        <table style="width: 100%; border: none; padding: 0px; margin: 0px;">
                            <tr class="messageCell">
                                <td class="required_field">* - Required Field</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" class="button" value="Save" />
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a id="button_return" wicket:id="returnLink" href="#" name="add_return" class="button">return (do not save changes)</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr class="submitCell">
                <td>
                    <div id="admin_extra"></div>
                </td>
            </tr>
        </table>
    </form>
</wicket:extend>
