
<wicket:extend>
    <h1 class="header">
       <span name="type_name">Penalty Parameters</span>
    </h1>

    <span name="list_is_writable">
        <a href="#" wicket:id="addNewLink" name="add_type" class="add_new_link">
            Add new 
            <span name="type_name">Penalty</span>
        </a>
    </span>

    <div class="recordsData" id="select_list">
        <div id="select_list_results">
            <table border="0" cellpadding="0" cellspacing="0">
                <thead>
                    <tr id="lists_header">
                        <th>Penalty Parameters</th>
                        <th>Period Before Charge</th>
                        <th>Rate</th>
                    </tr>
                </thead>
                <tbody id="lists_body">
                    <tr wicket:id="eachItem">
                        <td>
                            <a href="#" name="lists_row_link" wicket:id="viewLink">
                                <span wicket:id="penaltyPeriod" name="lists_row_name"></span>
                            </a>
                        </td>

                    </tr>
                    <tr wicket:id="eachItem">
                        <td>
                            <a href="#" name="lists_row_link" wicket:id="viewLink">
                                <span wicket:id="percentagePenalty" name="lists_row_name"></span>
                            </a>
                        </td>

                    </tr>
                </tbody>
            </table>
            <div style="float:right" class="pager_display" id="select_list_pager_display">
            </div>	

        </div>
    </div>
    <br />
    <p>
        <a href="#" wicket:id="returnLink" class="button">return</a>
    </p>
</wicket:extend>
