<wicket:extend>
    <h1 class="header">
        <a href="#" wicket:id="administerDatabaseLink">Administer Database</a>: <span name="type_name">Qualification</span>
    </h1>
    <div id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th><span name="type_name">Qualification</span></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="name">Name</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="name" wicket:id="name" id="name" type="text" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="prefixName">Prefix</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="prefixName" wicket:id="prefixName" id="prefix" type="text" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="name">Description</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="name" wicket:id="description" id="name" type="text" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="name">Qualification Type</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="name" wicket:id="qualificationType" id="name" type="text" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="name">ISO code</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input type="text" name="name" wicket:id="isoCode" id="name"  />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="name">Register Type</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="name" wicket:id="registerType" id="name" type="text" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="course">Course</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="course" wicket:id="course" id="course" type="text" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="name">PBQ</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input type="checkbox" wicket:id="pbq" name="name"/>
                            </span>
                        </p> 
                        <p>
                            <span class="field_head required_field">
                                <label for="course">Certificate Type</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="productIssuanceType" wicket:id="productIssuanceType"></select>                                  
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="Retired">Retired</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="retired" wicket:id="retired" id="name" type="checkbox" />
                            </span>
                        </p>
                        <div wicket:id="wmc">
                            Pre-Requisites:<br />
                            <span wicket:id="preReq"></span>
                        </div>

                    </td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td>
                    <div id="button">
                        <table style="width: 100%; border: none; padding: 0px; margin: 0px;">
                            <tr class="messageCell">
                                <td class="required_field">* - Required Field</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" class="button" value="Save" />
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a id="button_return" wicket:id="returnLink" href="#" name="add_return" class="button">return (do not save changes)</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr class="submitCell">
                <td>
                    <div id="admin_extra"></div>
                </td>
            </tr>
        </table>
    </form>
</wicket:extend>
