<wicket:extend>
    <h1 class="header">

    </h1>
    <div id="error">

        <span wicket:id="uploadFeedback"/>

    </div>

    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th><span name="type_name">Registrant Contact Page</span></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="contactType">Contact Type</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="contactType" wicket:id="contactType" id="contactType"></select>
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="contactLine1">Contact Line</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="contactLine1" wicket:id="contactLine1" id="contactLine1" type="text" />
                            </span>
                        </p>

                    </td>

                </tr>
            </tbody>
            <tr class="submitCell">
                <td>
                    <div id="button">
                        <table style="width: 100%; border: none; padding: 0px; margin: 0px;">
                            <tr class="messageCell">
                                <td class="required_field">* - Required Field</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" class="button" value="Process" />
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a id="button_return" wicket:id="returnLink" href="#" name="add_return" class="button">return (do not save changes)</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr class="submitCell">
                <td>
                    <div id="admin_extra"></div>
                </td>
            </tr>
        </table>
    </form>
</wicket:extend>
