<wicket:extend>
    <h1 class="header">
        <a wicket:id="administerDatabaseLink" href="#">Administer Database</a>: <span name="type_name">Register</span>
    </h1>

    <span name="list_is_writable">
        <a href="#" wicket:id="addNewLink" name="add_type" class="add_new_link">
            Add new 
            <span name="type_name">Register</span>
        </a>
    </span>

    <div class="recordsData" id="select_list">
        <div id="select_list_results">
            <table border="0" cellpadding="0" cellspacing="0">
                <thead>
                    <tr id="lists_header">
                        <th>
                            Select <span name="type_name">Register</span> to edit
                        </th>
                    </tr>
                </thead>
                <tbody id="lists_body">
                    <tr wicket:id="eachItem">
                        <td>
                            <a href="#" name="lists_row_link" wicket:id="viewLink">
                                <span wicket:id="name" name="lists_row_name">Birth Certificate</span>
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>
            <div style="float:right" class="pager_display" id="select_list_pager_display">
            </div>	

        </div>
    </div>
    <br />
    <p>
        <a href="#" wicket:id="returnLink" class="button">return</a>
    </p>
</wicket:extend>
