<wicket:extend>

    <h1>View <span name="type_name">Register</span>: <span wicket:id="register" name="list_name">Birth Certificate</span>
    </h1>

    <div class="recordsData">
        <h3>
            <span name="type_name">Register</span> Information</h3>

        <div id="list_display" class="recordsData">

            <div class="editRecord">
                <p>Edit This Information</p>
                <ul>
                    <li id="list_edit_link_node">
                        <a name="list_edit_link" href="#" wicket:id="editLink">Update this Information</a>
                    </li>
                    <li id="list_view_link_node">
                        <a name="list_view_link" href="#" wicket:id="returnLink">
                            Select another <span name="type_name">Register</span>
                        </a>
                    </li>
                </ul>
            </div> <!-- editRecord -->

            <div class="dataTable">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <th colspan="2"><span name="type_name">Register</span></th>
                        </tr>

                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Type</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="name">sample</span>
                                </b>
                            </td>
                        </tr>

                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Description</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="description" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Number of months Before</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="numberOfMonthsBeforeRenewal" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Renewal is Quarterly</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="quarterlyRenewal" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Conditions</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="conditions" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Requirements</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="requirements" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> <!-- dataTable -->

        </div>

        <br style="clear: both;">
    </div> <!-- recordsData -->

</wicket:extend>
