<wicket:extend>
    <h1 class="header">

    </h1>
    <div id="error">

        <span wicket:id="uploadFeedback"/>

    </div>

    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th><span name="type_name">Registrant Address Page</span></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="registrant">Registrant</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <label for="registrant" wicketid="fullname">Registrant Name</label>
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="addressType">Address Type</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="addressType" wicket:id="addressType" id="addressType" type="text"></select>
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="addressLine1">Address Line 1</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="addressLine1" wicket:id="addressLine1" id="addressLine1" type="text" />
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="addressLine2">Address Line 2</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="addressLine2" wicket:id="addressLine2" id="addressLine2" type="text" />
                            </span>
                        </p>

                    </td>

                </tr>
            </tbody>
            <tr class="submitCell">
                <td>
                    <div id="button">
                        <table style="width: 100%; border: none; padding: 0px; margin: 0px;">
                            <tr class="messageCell">
                                <td class="required_field">* - Required Field</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" class="button" value="Save" />
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a id="button_return" wicket:id="returnLink" href="#" name="add_return" class="button">return (do not save changes)</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr class="submitCell">
                <td>
                    <div id="admin_extra"></div>
                </td>
            </tr>
        </table>
    </form>
</wicket:extend>
