<wicket:extend xmlns:wicket="http://www.w3.org/1999/xhtml">
    <h1 class="header">
        <a href="#" wicket:id="administerDatabaseLink">Administer Database</a>: <span name="type_name">Required Parameters</span>
    </h1>

    <div id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="3"><span name="type_name">Required Parameters</span></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>
                         <p>
                            <span class="field_head required_field">
                                <label for="registrantBirthDate">Registrant By Birth Date</label>
                            </span>
                            <br/>
                            <span class="form_field">
                                <input name="registrantBirthDate" wicket:id="registrantBirthDate" id="registrantBirthDate"
                                       type="checkbox"/>
                            </span>
                        </p>


                        <p>
                            <span class="field_head required_field">
                                <label for="registrantIdNumber">Registrant By Identity Number</label>
                            </span>
                            <br/>
                            <span class="form_field">
                                <input name="registrantIdNumber" wicket:id="registrantIdNumber" id="registrantIdNumber"
                                       type="checkbox"/>
                            </span>
                        </p>

                    </td>

                </tr>
            </tbody>
            <tr class="submitCell">
                <td>
                    <div id="button">
                        <table style="width: 100%; border: none; padding: 0px; margin: 0px;">
                            <tr class="messageCell">
                                <td class="required_field">Take note*:The check box implies that when ticked, the available field will become mandatory. </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" class="button" value="Save"/>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a id="button_return" wicket:id="returnLink" href="#" name="add_return"
                                       class="button">return (do not save changes)</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</wicket:extend>
