<wicket:extend>
    <h1 class="header">
        <a href="#" wicket:id="administerDatabaseLink">Administer Database</a>: <span name="type_name">Transfer Rule</span>
    </h1>
    <div id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th><span name="type_name">Transfer Rule</span></th>
                <th></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="name">Name</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="name" wicket:id="name" id="name" type="text" />
                            </span>
                        </p>
                    </td>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="product">Product</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="product" wicket:id="product"/>                                    
                            </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="name">From Register</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="name" wicket:id="fromRegister" id="name" type="text" ></select>
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="name">From Course</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="name" wicket:id="fromCourse" id="name" type="text" ></select>
                            </span>
                        </p>
                    </td>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="name">To Register</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="name" wicket:id="toRegister" id="name" type="text" ></select>
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="name">To Course</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="name" wicket:id="toCourse" id="name" type="text" ></select>
                            </span>
                        </p>
                    </td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td>
                    <div id="button">
                        <table style="width: 100%; border: none; padding: 0px; margin: 0px;">
                            <tr class="messageCell">
                                <td class="required_field">* - Required Field</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" class="button" value="Save" />
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a id="button_return" wicket:id="returnLink" href="#" name="add_return" class="button">return (do not save changes)</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr class="submitCell">
                <td>
                    <div id="admin_extra"></div>
                </td>
            </tr>
        </table>
    </form>
</wicket:extend>

