<wicket:extend>
    <h1>Search Institutions</h1>
    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">

        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable customReportsTable">
            <tbody>
                <tr>
                    <th colspan="2">
                        Choose search options                        
                    </th>
                </tr>
            </tbody>
        </table>
        <table cellspacing="0" cellpadding="0" border="0" id="report_limits" class="multiFormTable toggable">
            <tbody>
                <tr>
                    <td>Name / Code</td>
                    <td><div title="Institution Code or Name">
                            <input name="code" wicket:id="code" id="code" type="text" title="Search by the firstname, lastname, id number and registration number"/>
                        </div>
                    </td>
                </tr>        
                <tr>
                    <td>InstitutionType</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="institutionType" wicket:id="institutionType"/>                                    
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Institution Category</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="institutionCategory" wicket:id="institutionCategory"/>
                        </div></td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field"></td>
                                </tr>
                                <tr class="submitCell">
                                    <td>                                       

                                        <input id="button_return" type="submit" class="button" value="Search" />
                                    </td> 
                                </tr>

                            </tbody>

                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

    <!-- Data List Panel -->
    <span wicket:id="institutionDataViewPanel">Institutions List</span>
    <!-- End  -->

</wicket:extend>

