<wicket:extend>
    <h1>Search for Supervisor</h1>
    <div wicket:id="feedback" id="error"></div>

    <form wicket:id="form">
        <table class="multiFormTable">
            <tr>
                <td>
                    <p>
                        <span class="field_head required_field">
                            <label for="searchtxt">Search</label>*
                        </span>
                        <br />
                        <span class="form_field">
                            <input name="searchtxt" wicket:id="searchtxt" id="searchtxt" type="text" title="Search by the firstname, lastname, id number and registration number"/>
                        </span>
                        <input type="submit" value="Search" class="button">
                    </p>                   
                </td>
                
            </tr>
        </table>
    </form>  

    <!-- Registrant Data List Panel -->
    <span wicket:id="registrantDataListPanel">Registrants List</span>
    <!-- End  -->

</wicket:extend>
