<wicket:extend>
    <h1>Search</h1>

    <div>
        <h2><a href="#" wicket:id="searchSimplePage">Simple Search</a></h2>
        <p>Search for individuals by first name, last name, middle name, registration number</p>
        <hr />
    </div>

    <div>
        <h2><a href="#" wicket:id="searchAdvancedPage">Advanced Search</a></h2>
        <p>Search for individuals, specify criteria to use</p>
        <hr />
    </div>

    <div>
        <h2><a href="#" wicket:id="applicationSimpleSearchPage">Search Applications</a></h2>
        <p>Search Applications saved in the database</p>
        <hr />
    </div>   

    <div>
        <h2><a href="#" wicket:id="searchRegistrantActivityPage">Search Registrant Activity Page</a></h2>
        <p>View Registrant Activity Page</p>
        <hr />
    </div>

</wicket:extend>
