<wicket:extend>
    <h1>Advanced Search for Individuals</h1>
    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">

        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable customReportsTable">
            <tbody>
                <tr>
                    <th colspan="2">
                        Choose search options                        
                    </th>
                </tr>
            </tbody>
        </table>
        <table cellspacing="0" cellpadding="0" border="0" id="report_limits" class="multiFormTable toggable">
            <tbody>
                <tr>
                    <td>Text</td>
                    <td><div title="Can be first name, last name, middle name or id number.">
                            <input name="searchText" wicket:id="searchText" id="searchText" type="text" title="Search by the firstname, lastname, id number, registration number"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Citizenship</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="citizenship" wicket:id="citizenship"/>                                    
                        </div>
                    </td>
                </tr>             
                <tr>
                    <td>Gender</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="gender" wicket:id="gender"/>                                    
                        </div></td>
                </tr>
                <tr>
                    <td>Include Deceased</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="include" wicket:id="include"/>                                    
                        </div></td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field"></td>
                                </tr>
                                <tr class="submitCell">
                                    <td>                                     
                                        <input id="button_return" type="submit" class="button" value="Print List" wicket:id="registrantlist" />
                                        <input id="button_return" type="submit" class="button" value="Search" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

    <!-- Registrant Data List Panel -->
    <span wicket:id="registrantDataListPanel">Registrants List</span>
    <!-- End  -->

</wicket:extend>

