<wicket:panel>
    <a href="#" wicket:id="accountingLink">Accounting</a>
    <ul wicket:id="childMenuLinks">
        <li><a href="#" wicket:id="accountsReceivableLink">Accounts Receivable</a></li>
        <li><a href="#" wicket:id="bankBookLink">Bank Book</a></li>
        <li><a href="#" wicket:id="generalLedgerLink">General Ledger</a></li>   
        <li><a href="#" wicket:id="inventoryModuleLink">Inventory Module</a></li> 
    </ul>
</wicket:panel>
