<wicket:panel xmlns:wicket="http://www.w3.org/1999/xhtml">
    <a href="#" wicket:id="applicationViewLink">Application</a>
    <ul wicket:id="childMenuLinks">
        <li><a href="#" wicket:id="applicationSimpleSearchPage">Search</a></li>  
        <li><a href="#" wicket:id="applicationPendingPage">Pending</a></li>  
        <li><a href="#" wicket:id="approvedApplicationSearchPage">Approved</a></li>  
    </ul>
</wicket:panel>
