<wicket:panel>    
    <a href="#" wicket:id="configureSystemLink">Configure System</a> 
    <ul wicket:id="childMenuLinks">
        <li><a href="#" wicket:id="administerDatabaseLink">Administer Database</a></li>
        <li><a href="#" wicket:id="reportViewsLink">Manage Reports</a></li>        
    </ul>
</wicket:panel>

