<wicket:panel>
    <a href="#" wicket:id="institutionViewLink">Institution</a> 
    <ul wicket:id="childLinks">
        <li><a href="#" wicket:id="addInstitution">Add Institution</a></li>
        <li><a href="#" wicket:id="InstitutionList">View institutions</a></li>
        <li><a href="#" wicket:id="institutionEdit">Delete Duplicate Institutions</a></li>   
        <li><a href="#" wicket:id="retireInstitution">Retire Multiple Institutions</a></li> 
    </ul>
    <a href="#" wicket:id="searchInstitutionLink">Search Institution</a> 
</wicket:panel>
