<wicket:panel>
    <div id="div" style="display: none;">
        <div id="pc_div" align="center">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <table style="width: 400px;">
                        <tr>
                            <td>
                                <img wicket:id="siteLogoImage" alt="" width="80" height="80" id="siteLogoImage"/>
                            </td>
                            <td>
                                <p style="align-content: center"><label wicket:id="councilName">Council Name</label>
                                    <br/><br/>
                                    PRACTICING CERTIFICATE <label wicket:id="lastRenewal" name="lists_row_name"></label>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    <span wicket:id="fullname" name="lists_row_name"></span>
                                    <br/>
                                    <label wicket:id="course" name="lists_row_name"></label>
                                </p>
                                <p>
                                    PCZ No: <span wicket:id="registrationNumber" name="lists_row_name"></span>
                                    <br/>
                                    ID No: <span wicket:id="idNumber" name="lists_row_name"></span>
                                </p>
                            </td>
                            <td>
                                <img wicket:id="registrantImage" alt="" width="90" height="90" id="registrantImage"
                                     align="right"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Conditions<span wicket:id="conditions" name="lists_row_name"></span>
                            </td>
                        </tr>
                    </table>
                    <script>
                        function printContent(el) {
                            var restorepage = document.body.innerHTML;
                            var printcontent = document.getElementById(el).outerHTML;
                            document.body.outerHTML = printcontent;
                            window.print();
                            document.body.innerHTML = restorepage;
                        }
                    </script>
                    <style>

                        .panel panel-primary {
                            color: #DC0D17;

                        }

                        #pc_div * {
                            font-size: 14px !important;
                            font-weight: bold !important;
                        }

                        #pc_div * td {
                            border: none;
                        }

                        @page {
                            size: auto;
                            margin: 0mm 0mm 0mm 0mm;
                        }
                    </style>
                </div>
            </div>
        </div>
    </div>

</wicket:panel>
