<wicket:panel xmlns:wicket="http://www.w3.org/1999/xhtml">
    <a href="#" wicket:id="registrationViewLink"><label wicket:id="registrantName"/>s</a>
    <ul wicket:id="childMenuLinks">
        <li><a href="#" wicket:id="registrantEditPage">Add New</a></li>
        <li><a href="#" wicket:id="registrantListPage">View Registrants</a></li>
        <li><a href="#" wicket:id="registrantDueToTransferListPage">Due for Transfer</a></li>
    </ul>
</wicket:panel>
