<wicket:panel>
    <a href="#" wicket:id="searchLink">Search Records</a>
     <ul wicket:id="childMenuLinks">
        <li><a href="#" wicket:id="searchSimplePage">Simple Search</a></li>
        <li><a href="#" wicket:id="searchAdvancedPage">Advanced Search</a></li>
    </ul>
</wicket:panel>
