<wicket:extend>
    <h2>View Registrant : <span wicket:id="fullname" class="form_field"/></h2>
    <h2>Account Balance :<span wicket:id="balance" class="form_field"/></h2>
    <h1 class="header">
        <span name="type_name">Confirm carry forward payment details</span>
    </h1>
    <form wicket:id="form">
        <div wicket:id="feedback" id="error"></div>
        <div class="recordsData" id="select_list">
            <div id="select_list_results">
                <table border="0" cellpadding="0" cellspacing="0">
                    <thead>
                    <tr id="lists_header">
                        <th>Debt Item</th>
                        <th>Period</th>
                        <th>Remaining Balance</th>
                    </tr>
                    </thead>
                    <tbody id="lists_body">
                    <tr wicket:id="debtComponents">

                        <td wicket:id="transactionComponent.account.name">
                            GN Registration Fees
                        </td>
                        <td><select wicket:id="paymentPeriod">2016</select></td>
                        <td wicket:id="remainingBalance">
                            20
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div style="float:right" class="pager_display" id="select_list_pager_display">
                </div>

            </div>
        </div>
        <div id="button">
            <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                <tbody>
                <tr class="submitCell">
                    <td>
                        <a id="button_return" href="#" name="add_return" class="button">return (do not save changes)</a>
                        <input type="submit" class="button" value="Confirm" />
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</wicket:extend>
