<wicket:extend>
    <h1>Carry Forward Listing Found</h1>
    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">
        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable customReportsTable">
            <tbody>
                <tr>
                    <th colspan="2">
                        Choose search options                        
                    </th>
                </tr>
            </tbody>
        </table>
        <table cellspacing="0" cellpadding="0" border="0" id="report_limits" class="multiFormTable toggable">
            <tbody>
                <tr>
                    <td>Payment Start Date</td>
                    <td><div title="Sale Start Period.">
                            <input name="startDate" wicket:id="startDate" type="text" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Payment End Date</td>
                    <td><div title="Sale End Period.">
                            <input name="endDate" wicket:id="endDate" type="text" />
                        </div></td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field"></td>
                                </tr>
                                <tr class="submitCell">
                                    <td>                                     
                                        <input type="submit" class="button" value="Print" wicket:id="printBankCashReport" />                                       
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

</wicket:extend>

