<wicket:extend>
    <h1>Change Bank Account</h1>
    <h2><span name="type_name">Receipt Number - </span>:<span wicket:id="id" class="form_field"></span></h2>
    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2"><span name="type_name">Change Bank Account</span></th>
            </tr>
            <tbody id="list_fields">
                <tr>                  
                    <td> 
                        <p>
                            <span class="field_head required_field">
                                Current Account Set <label wicket:id="transactionTypeChange">Old Account</label>*
                            </span>                           
                        </p>   
                        <p>
                            <span class="field_head required_field">
                                <label for="transactionType">Bank Account</label>*
                            </span>
                            <br />                       
                            <span class="form_field">
                                <select name="transactionType" wicket:id="transactionType" type="text"></select>                           
                            </span>
                        </p>                            
                        <p>
                            <span class="field_head required_field">
                                <label for="comment">Reason/Comment</label>*
                            </span>
                            <br />                       
                            <span class="form_field">
                                <textarea name="comment" wicket:id="comment" rows="10" cols="500"></textarea>
                            </span>
                        </p> 
                    </td> 
                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field">* - Required Field</td>
                                </tr>
                                <tr class="submitCell">
                                    <td>
                                        <a id="button_return" wicket:id="transactionDetailHistory" href="#" name="add_return" class="button">return (do not save changes)</a>
                                        <input type="submit" class="button" value="Save" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

</wicket:extend>
