<wicket:extend>
    <h1>Change Receipt Item Payment Period</h1>
    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2"><span name="type_name">Change Receipt Item Payment Period</span></th>
            </tr>
            <tbody id="list_fields">
                <tr>                  
                    <td> 
                        <p>
                            <span class="field_head required_field">
                                Product <label wicket:id="debtComponent.product.name">Product Name</label>*
                            </span>                           
                        </p>   
                        <p>
                            <span class="field_head required_field">
                                <label for="paymentPeriod">Payment Period</label>*
                            </span>
                            <br />                       
                            <span class="form_field">
                                <select id="paymentPeriod" name="paymentPeriod" wicket:id="paymentPeriod" type="text"></select>
                            </span>
                        </p>                            
                    </td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field">* - Required Field</td>
                                </tr>
                                <tr class="submitCell">
                                    <td>
                                        <input type="submit" class="button" value="Save" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

</wicket:extend>
