<wicket:extend>
    <h1>Finance</h1>
    <div id="tabs">
        <ul>
            <li><a href="#search">Search Payments</a></li>
            <li><a href="#banks">Bank Payments</a></li>
            <li><a href="#product">Product Payments</a></li>
            <li><a href="#examinations">Examination Payments</a></li>
            <li><a href="#carryForward">Carry Forward</a></li>
            <li><a href="#old">Previous System Payment</a></li>
            <li><a href="#review">Operations</a></li>
            <li><a href="#prepayments">Prepayments</a></li>
            <li><a href="#accruals">Accruals</a></li>
        </ul>
        <div id="accruals">
            <h2><a href="#" wicket:id="incomeExpected">View Income Expected</a></h2>
            <h2><a href="#" wicket:id="provisionBadDebts">Provision for bad debts Report</a></h2>
        </div>
        <div id="prepayments">
            <h2><a href="#" wicket:id="prepaymentList">List Prepayments</a></h2>
            <p>View Prepayments list</p>
            <hr />
            <h2><a href="#" wicket:id="prepaymentReportPage">Prepayment Listing By Date</a></h2>
            <p>View Prepayments list by Date</p>
            <hr />
            <h2><a href="#" wicket:id="prepaymentRemaining">Prepayments Remaining as of Today</a></h2>
            <p>View Prepayments list</p>
            <hr />
            <h2><a href="#" wicket:id="printAllPrepayments">Print All Prepayments</a></h2>
            <p>Print Prepayments list</p>
            <hr />
            <h2><a href="#" wicket:id="printAllCanceledPrepayments">Print All Canceled Prepayments</a></h2>
            <p>Print Canceled Prepayments list</p>
            <hr />
            <div>
                <h2><a href="#" wicket:id="changeOfPrepaymentInstitutionReportPage">Summary Listing of Prepayments Corrected by Date </a></h2>
                <p>Prepayment Corrections Audit</p>
                <hr />
            </div>
        </div>
        <div id="search">
            <div>
                <h2><a href="#" wicket:id="searchPaymentPage">Search Payments</a></h2>
                <p>Search payments made by date and receipt number</p>
                <hr />
                <h2><a href="#" wicket:id="searchCanceledPaymentPage">Search Canceled Payments</a></h2>
                <p>Search canceled payments by date and receipt number</p>
                <hr />
            </div> 
        </div>
        <div id="banks">
            <div>
                <h2><a href="#" wicket:id="saleByBankPage">Sales by Banks</a></h2>
                <p>Product Sales by Bank </p>
                <hr />
            </div>
            <div>
                <h2><a href="#" wicket:id="saleByBankDepositPage">Sales by Bank Deposit Date</a></h2>
                <p>Sales By Bank Deposit</p>
                <hr />
            </div>
            <div>
                <h2><a href="#" wicket:id="productSaleByBankPage">Product Sale By Bank</a></h2>
                <p>PAYMENTS LISTING AND ANALYSIS BY BANK AND PAYMENT ITEMs</p>
                <hr />
            </div> 

            <div>
                <h2><a href="#" wicket:id="productSaleByBankDepositPage">Product Sale By Bank Deposit Dates</a></h2>
                <p>PAYMENTS LISTING AND ANALYSIS BY BANK Deposit</p>
                <hr />
            </div> 

            <div>
                <h2><a href="#" wicket:id="bankReportPage">Actual Payment Dates and Deposit Dates</a></h2>
                <p>Payment Listing (Using Bank Deposits and Actual Dates of Payment) </p>
                <hr />
            </div> 

        </div>
        <div id="product">
            <div>
                <h2><a href="#" wicket:id="productSalePage">Product Sales by Payment Method</a></h2>
                <p>Product Sales by payment Method</p>
                <hr />
            </div>
            <div>
                <h2><a href="#" wicket:id="searchItemPaymentPage">Search Item Payment Page </a></h2>
                <p>Product Item Sales in system</p>
                <hr />
            </div>
            <div>
                <h2><a href="#" wicket:id="itemUserPaymentPage">Search User Item Payment Page </a></h2>
                <p>Product Item Sales in system by User</p>
                <hr />
            </div>
            <div>
                <h2><a href="#" wicket:id="itemPaymentPage">Item Payment Page</a></h2>
                <p>SUMMARY PAYMENTS LISTING AND ANALYSIS BY PAYMENT ITEM</p>
                <hr />
            </div> 
        </div>
        <div id="examinations">


            <div>
                <h2><a href="#" wicket:id="examinationSettingPaymentPage">Examination Period Payment Page</a></h2>
                <p>Exam Payments Listing</p>
                <hr />
            </div> 
            <div>
                <h2><a href="#" wicket:id="examinationPaymentPage">Examination Course Payment Page</a></h2>
                <p>Exam Payments Listing</p>
                <hr />
            </div> 
            <div>
                <h2><a href="#" wicket:id="institutionExamPaymentPage">Institution Examination Payment Listing</a></h2>
                <p>Institution Payments Listing</p>
                <hr />
            </div>
            <div>
                <h2><a href="#" wicket:id="institutionExamPaperPaymentPage">Institution Examination Payment Page by Paper</a></h2>
                <p>Institution Paper Payments Listing</p>
                <hr />
            </div>
            <div>
                <h2><a href="#" wicket:id="bankExaminationPage">Bank Examination Payment Page</a></h2>
                <p>Bank Examinations Payments</p>
                <hr />
            </div>


        </div>
        <div id="carryForward">
            <div>    
                <h2><a href="#" wicket:id="systemCarryForwardPage">System Carry Forward</a></h2>
                <p>Carry Forward In System</p>
                <hr />                         
            </div>             
        </div>        
        <div id="old">
            <div>
                <h2><a href="#" wicket:id="searchOldReceiptPaymentPage">Search Payments from the previous system</a></h2>
                <p>Search Payments from the previous system</p>
                <hr />
            </div> 

            <div>
                <h2><a href="#" wicket:id="searchOldProductPaymentPage">Search Product sales from the previous system</a></h2>
                <p>Search Product sales from the previous system</p>
                <hr />
            </div> 

        </div>
        <div id="review">   
             <div>
                <h2><a href="#" wicket:id="cpdPointsReportPage">Detailed Payment And Cpd Reports</a></h2>
                 <p>Detailed Register for annual fee payment no/inadequate cpds</p>
                <hr />
             </div>
             <div >
                <h2><a href="#" wicket:id="cPDPointsDetailedReportPage">Summarised Payment And Cpd Reports</a></h2>
                <p>Summarised Payment And Cpd Reports</p>
                <hr />
             </div>
            <div>
                <h2><a href="#" wicket:id="penalty">Penalty Debtors</a></h2>
                <p>Registrants with Penalty Debts Only</p>
                <hr />
            </div>            
            <div>
                <h2><a href="#" wicket:id="changeOfBankReportPage">Change of Bank Audit</a></h2>
                <p>Change of Banks Audit</p>
                <hr />
            </div>
            <div>
                <h2><a href="#" wicket:id="changeOfBankSummaryReportPage">Change of Bank Summary Audit</a></h2>
                <p>Change of Banks Audit</p>
                <hr />
            </div>
            <div>
                <h2><a href="#" wicket:id="commentReceipts">Receipts with Comments</a></h2>
                <p>Audit Trail</p>
                <hr />
            </div>            
            <div>
                <h2><a href="#" wicket:id="debtors">All Debtors</a></h2>
                <p>All Debts - Including Day Running Debts</p>
                <hr />
            </div>
            <div>
                <h2><a href="#" wicket:id="systemAccountErrors">System Errors</a></h2>
                <p>All Account Errors</p>
                <hr />
            </div>
            <div>
                <h2><a href="#" wicket:id="incompleteRenewals">Incomplete Renewals </a></h2>
                <p>All Renewals Errors</p>
                <hr />
            </div>
            <div>
                <h2><a href="#" wicket:id="removedDebtComponents">Removed Dept Items Report</a></h2>
                <p>Removed Items</p>
                <hr />
            </div> 
            <div>
                <h2><a wicket:id="paymentConfigurationLink" href="#">Payment Configuration</a></h2>
                <p>Payment Configuration</p>
                <hr />
            </div><div>
                <h2><a wicket:id="viewErrors" href="#">People With Account Errors</a></h2>
                <p>Account Errors</p>
                <hr />
            </div><div>
                <h2><a wicket:id="correctReceiptItems" href="#">Correct Receipt Items</a></h2>
                <p>Correct receipt items</p>
                <hr />
            </div><div>
                <h2><a wicket:id="updateAccounts" href="#">Update Account Balance Errors</a></h2>
                <p>Account balance Errors</p>
                <hr />
            </div>

        </div>
    </div>

</wicket:extend>
