<wicket:panel>
    <div style="float:right" class="pager_display" id="select_list_pager_display">
        <h2><div wicket:id="navigator"></div></h2>
    </div>	
    <div class="recordsData" id="select_list">
        <div id="select_list_results">          
            <table border="0" cellpadding="0" cellspacing="0">
                <thead>
                    <tr id="lists_header">
                        <th>Receipt Number</th>
                        <th>Product</th>
                        <th>Date Of Receipt</th>
                        <th>PaymentPurpose</th>                        
                        <th>Paid Amount</th> 
                    </tr>
                </thead>
                <tbody id="lists_body">
                    <tr wicket:id="eachItem">
                        <td>
                            <span wicket:id="receiptRecordID" name="lists_row_name"></span>                          
                        </td>   
                        <td>
                            <span wicket:id="product" name="lists_row_name"></span>                          
                        </td> 
                        <td>
                            <span wicket:id="dateOfReceipt" name="lists_row_name"></span>
                        </td>
                        <td>
                            <span wicket:id="paymentPurpose" name="lists_row_name"></span>
                        </td>                        
                        <td>
                            <span wicket:id="lineTotal" name="lists_row_name"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br />
</wicket:panel>
