<wicket:extend xmlns:wicket="http://www.w3.org/1999/xhtml">
    <h1>Payment Confirmation for : <span name="type_name">Customer Name</span>:<span wicket:id="customer.customerName">Tobias Mudimu</span></h1>
    <div wicket:id="feedback"></div>
    <span wicket:id="transactionDetailHistoryPanel">Transaction Detail History Panel</span>
    <br/>
    <b style="color: red;">
        <span wicket:id="penaltyClear">Check For Penalties</span>
    </b>

    <b style="color: red;">
        <span wicket:id="annualFeeArea">Check For ANNUAL FEE</span>
    </b>

    <b style="color: red;">
        <span wicket:id="checkCurrentForCPDS">Check for Current CPDS</span>
    </b>
    
    <span wicket:id="certificateDataListPanel">Print practicing certificate</span>    
    <a id="button_return" href="#" name="add_return" class="button" wicket:id="registrationOptionPage">View Dash Board</a>
    <br/><br/>
    <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
        <thead>
            <tr id="lists_header">
                <th ><span name="type_name">Pre-paid Item</span></th>
                <th ><span name="type_name">Amount paid </span></th>
            </tr>
        </thead>
        <tbody id="lists_body">
            <tr wicket:id="prepaidReceiptItems">
                <td wicket:id="debtComponent.transactionComponent.account.name">
                    this
                </td>
                <td wicket:id="amount">
                    this
                </td> 
            </tr>
        </tbody>
    </table>

</wicket:extend>
