<wicket:extend>
    <h1>Processing Payment</h1>
    <h2><span name="type_name">Customer Name</span>:<span wicket:id="customer.customerName">Tobias Mudimu</span></h2>
    <h2><span name="type_name">Balance Due</span>:<span wicket:id="totalAmountDue">10</span></h2>
    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2"><span name="type_name">Payment Details</span></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>
                        
                        <p>
                            <span class="field_head required_field">
                                <label for="councilDuration">Period</label>*
                            </span>
                            <br />                         
                            <span class="form_field">
                                <select class="fieldLimitValue" wicket:id="councilDuration"></select>
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="paymentMethod">Payment Method</label>*
                            </span>
                            <br />                         
                            <span class="form_field">
                                <select class="fieldLimitValue" wicket:id="paymentMethod"></select>
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="transactionType">Account</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select wicket:id="transactionHeader.transactionType"></select>
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="dateOfDeposit">Date of Deposit</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="dateOfDeposit" wicket:id="dateOfDeposit" type="text" />
                            </span>
                        </p>

                    </td>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="dateofPayment">Date of Payment</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="dateOfPayment" wicket:id="dateOfPayment" type="text" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="amountTendered">Amount Tendered</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="amountTendered" wicket:id="receiptHeader.totalAmount" type="text" />                           
                            </span>
                        </p>      

                        <p>
                            <span class="field_head required_field">
                                <label for="recieptNumber">Reference Number</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input wicket:id="receiptHeader.generatedReceiptNumber" />
                            </span>
                        </p>


                    </td>                 
                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field">* - Required Field</td>
                                </tr>
                                <tr class="submitCell">
                                    <td>
                                        <a id="button_return" href="#" name="add_return" class="button">return (do not save changes)</a>
                                        <a wicket:id="debtComponentPage" href="#" class="button">Reset Items</a>
                                        <input type="submit" class="button" value="Process" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>

        <!--- Receipt Items -->
        <div class="recordsData" id="select_list">
            <div id="select_list_results">
                <table border="0" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr id="lists_header">
                            <th>Debt Item</th>
                            <th>Remaining Balance</th>
                            <th>Period</th>
                            <th>Amount</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="lists_body">
                        <tr wicket:id="receiptItems">

                            <td wicket:id="debtComponent.transactionComponent.account.name">  
                                GN Registration Fees
                            </td>
                            <td wicket:id="debtComponent.remainingBalance">  
                                20
                            </td>
                            <td><select wicket:id="paymentPeriod">2016</select></td>
                            <td><input type="text" size="6" wicket:id="amount" /></td>

                        </tr>
                    </tbody>
                </table>
                <div style="float:right" class="pager_display" id="select_list_pager_display">
                </div>	

            </div>
        </div>
    </form>

</wicket:extend>
