<wicket:panel>
    <div style="float:right" class="pager_display" id="select_list_pager_display">
        <h2><div wicket:id="navigator"></div></h2>
    </div>	
    <div class="recordsData" id="select_list">
        <div id="select_list_results">          
            <table border="0" cellpadding="0" cellspacing="0">
                <thead>
                    <tr id="lists_header">
                        <th>Receipt Number</th>
                        <th>Date</th>
                        <th>Bank Account</th>
                        <th>Reference Number</th>
                        <th>Total</th> 
                        <th>Carry Forward</th> 
                        <th></th>                         
                     </tr>
                </thead>
                <tbody id="lists_body">
                    <tr wicket:id="eachItem">
                        <td>
                            <span wicket:id="id" name="lists_row_name"></span>                          
                        </td>                    
                        <td>
                            <span wicket:id="date" name="lists_row_name"></span>
                        </td>
                        <td>
                            <span wicket:id="transactionType" name="lists_row_name"></span>
                        </td>
                        <td>
                            <span wicket:id="generatedReceiptNumber" name="lists_row_name"></span>                          
                        </td> 
                        <td>
                            $ <span wicket:id="totalAmountPaid" name="lists_row_name"></span>
                        </td>
                         <td>
                            $ <span wicket:id="carryForward" name="lists_row_name"></span>
                        </td>
                        <td>
                            <a href="#" name="lists_row_link" wicket:id="transactionDetailHistory">
                                View
                            </a>
                        </td>                                               
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br />
</wicket:panel>
