<wicket:extend>
    <h1>Search Product Item Payments Done in system</h1>
    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">
        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable customReportsTable">
            <tbody>
                <tr>
                    <th colspan="2">
                        Choose search options                        
                    </th>
                </tr>
            </tbody>
        </table>
        <table cellspacing="0" cellpadding="0" border="0" id="report_limits" class="multiFormTable toggable">
            <tbody>
                <tr>
                    <td>Product</td>
                    <td><div title="Product">
                            <select name="product" wicket:id="product" type="text"></select>
                        </div></td>
                </tr>
                <tr>
                    <td>Type of Service</td>
                    <td><div title="TypeOfService">
                        <select name="typeOfService" wicket:id="typeOfService" type="text"></select>
                    </div></td>
                </tr>

                <tr>
                    <td>Payment Method</td>
                    <td><div title="PaymentMethod">
                            <select name="paymentMethod" wicket:id="paymentMethod" type="text"></select>                           
                        </div></td>
                </tr>
                <tr>
                    <td>Payment Start Date</td>
                    <td><div title="Receipt Start Period.">
                            <input name="startDate" wicket:id="startDate" type="text" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Payment End Date</td>
                    <td><div title="Receipt End Period.">
                            <input name="endDate" wicket:id="endDate" type="text" />
                        </div></td>
                </tr>
                <tr>
                    <td>User</td>
                    <td><div title="User">
                            <select name="user" wicket:id="user" type="text"></select>                           
                        </div></td>
                </tr>

                <tr>
                    <td>Bank Account</td>
                    <td><div title="Cash Acoount">
                            <select name="transactionType" wicket:id="transactionType" type="text"></select>                           
                        </div></td>
                </tr>

            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field"></td>
                                </tr>
                                <tr class="submitCell">
                                    <td>                                     
                                        <input type="submit" class="button" value="Print List" wicket:id="printBankCashReport" />
                                        <input type="submit" class="button" value="Product List" wicket:id="print" />                                        
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>
    <br style="clear: both;">
</wicket:extend>

