<wicket:extend>
    <h1>Search for Payments form the previous system</h1>
    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">
        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable customReportsTable">
            <tbody>
                <tr>
                    <th colspan="2">
                        Choose search options                        
                    </th>
                </tr>
            </tbody>
        </table>
        <table cellspacing="0" cellpadding="0" border="0" id="report_limits" class="multiFormTable toggable">
            <tbody>
                <tr>
                    <td>Receipt Number</td>
                    <td><div title="Receipt Number.">
                            <input name="generatedReceiptNumber" wicket:id="generatedReceiptNumber" id="generatedReceiptNumber" type="text" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Product</td>
                    <td><div title="Product">
                            <select name="product" wicket:id="product" type="text"></select>                           
                        </div></td>
                </tr>
                <tr>
                    <td>Payment Method</td>
                    <td><div title="PaymentMethod">
                            <select name="paymentMethod" wicket:id="paymentMethod" type="text"></select>                           
                        </div></td>
                </tr>
                <tr>
                    <td>Payment Type</td>
                    <td><div title="PaymentType">
                            <select name="paymentType" wicket:id="paymentType" type="text"></select>                           
                        </div></td>
                </tr>
                <tr>
                    <td>Payment Start Date</td>
                    <td><div title="Receipt Start Period.">
                            <input name="startDate" wicket:id="startDate" type="text" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Payment End Date</td>
                    <td><div title="Receipt End Period.">
                            <input name="endDate" wicket:id="endDate" type="text" />
                        </div></td>
                </tr>
                <tr>
                    <td>User</td>
                    <td><div title="User">
                            <select name="user" wicket:id="user" type="text"></select>                           
                        </div></td>
                </tr>
                <tr>
                    <td>Bank</td>
                    <td><div title="User">
                            <select name="sourceReference" wicket:id="sourceReference" type="text"></select>                           
                        </div></td>
                </tr>
                <tr>
                    <td>Include Canceled</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="include" wicket:id="include"/>                                    
                        </div></td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field"></td>
                                </tr>
                                <tr class="submitCell">
                                    <td>                                     
                                        <input id="button_return" type="submit" class="button" value="Search" />                                        
                                        <input type="submit" class="button" value="Print" wicket:id="print" />
                                        <input type="submit" class="button" value="Print Error Receipts" wicket:id="printError" />                                        
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

    <!-- Payment Data List Panel -->
    <span wicket:id="paymentDataListPanel">Payment Data List Panel</span>
    <!-- End  -->


</wicket:extend>

