 <!--<wicket:extend>-->
    <!--<h1>System Carry Forward By Bank</h1>-->
    <!--<div wicket:id="feedback" id="error"></div>-->
    <!--<form wicket:id="form">-->
        <!--<table cellspacing="0" cellpadding="0" border="0" class="multiFormTable customReportsTable">-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<th colspan="2">-->
                    <!--Choose Dates-->
                <!--</th>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
        <!--<table cellspacing="0" cellpadding="0" border="0" id="report_limits" class="multiFormTable toggable">-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td>Payment Start Date</td>-->
                <!--<td><div title="Sale Start Period.">-->
                    <!--<input name="startDate" wicket:id="startDate" type="text" />-->
                <!--</div></td>-->
            <!--</tr>-->

            <!--<tr>-->
                <!--<td>Payment End Date</td>-->
                <!--<td><div title="Sale End Period.">-->
                    <!--<input name="endDate" wicket:id="endDate" type="text" />-->
                <!--</div>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Bank Account</td>-->
                <!--<td><div title="Transaction Type">-->
                    <!--<select name="transactionType" wicket:id="transactionType" type="select" />-->
                <!--</div>-->
                <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->

    <!--</form>-->


<!--</wicket:extend >-->