<wicket:extend>
    <h1>System Carry Forward</h1>
    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">
        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable customReportsTable">
            <tbody>
            <tr>
                <th colspan="2">
                    Choose Dates
                </th>
            </tr>
            </tbody>
        </table>
        <table cellspacing="0" cellpadding="0" border="0" id="report_limits" class="multiFormTable toggable">
            <tbody>
            <tr>
                <td>Payment Start Date</td>
                <td>
                    <div title="Sale Start Period.">
                        <input name="startDate" wicket:id="startDate" type="text"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Payment End Date</td>
                <td>
                    <div title="Sale End Period.">
                        <input name="endDate" wicket:id="endDate" type="text"/>
                    </div>
                </td>
            </tr>

            <tr>
                <td>Bank Account</td>
                <td>
                    <div title="Transaction Type">
                        <select name="transactionType" wicket:id="transactionType" type="select"/>
                    </div>
                </td>
            </tr>

            <tr>
                <td>Balance</td>
                <td><h3>$ [<span wicket:id="balance">Current Total</span>]</h3></td>
            </tr>
            </tbody>

            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody>
                            <tr class="messageCell">
                                <td class="required_field"></td>
                            </tr>
                            <tr class="submitCell">
                                <td>
                                    <input type="submit" class="button" value="Balance " wicket:id="print"/>
                                    <input type="submit" class="button" value="Used" wicket:id="used"/>
                                    <input type="submit" class="button" value="Collected" wicket:id="collected"/>
                                    <input type="submit" class="button" value="Creditors" wicket:id="creditors"/>
                                    <input type="submit" class="button" value="Creditors Usage"
                                           wicket:id="creditorsUsage"/>
                                </td>
                            </tr>
                            <tr class="submitCell">
                                <td>
                                    <input type="submit" class="button" value="Used CSV" wicket:id="usedCSV"/>
                                    <input type="submit" class="button" value="Usage CSV" wicket:id="usageCSV"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

</wicket:extend>

