<wicket:panel>
    <h2 class="div.error"><span wicket:id="receiptHeader.status" name="receiptHeader.status">Canceled</span></h2>
    <div wicket:id="feedback" id="error"></div>
    <div id="receipt_div">
        <div id="receipt">
            <table width="100%" cellspacing="0" cellpadding="0" border="1">
                <caption style="text-align: center; text-transform: uppercase;"> <span wicket:id="councilName">Council Name</span></caption>
                <tr>
                    <td>
                        <b>Payment Received From</b>
                    </td>
                    <td>
                        Please Quote &nbsp; <b><span wicket:id="receiptHeader.id">Receipt ID</span> </b>
                    </td>
                </tr>
         
                <tr>
                    <td>
                        <span wicket:id="registrationNumber">Receipt Number</span>                          
                    </td>
                    <td>
                        <span wicket:id="receiptHeader.date">01/01/2014</span>
                        <br/>
                       <span wicket:id="receiptHeader.createdBy.firstName">Takunda </span>
                        &nbsp;
                        <span wicket:id="receiptHeader.createdBy.surname">Dhlakama</span>
                      </td>
                </tr>
                <tr>
                    <td>
                        <b><span wicket:id="fullname" name="fullname">Full Name</span></b>
                    </td>
                    <td>                    
                        <span wicket:id="paymentMethod" name="paymentMethod">Payment Method</span>  
                        &nbsp;
                        <span wicket:id="receiptHeader.generatedReceiptNumber" name="receiptHeader.generatedReceiptNumber">20344</span> 
                    </td>
                </tr>        
            </table>
            <br/>
            <table width="80%" cellspacing="0" cellpadding="0" border="0">
                <thead>
                    <tr id="lists_header">
                        <th style="text-align: left;">Item Code</th>
                        <th style="text-align: left;">Item Name</th>
                        <th style="text-align: left;">Payment Period</th>
                        <th style="text-align: right;">Charge</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td><span wicket:id="comment" name="comment">Receipt Carry Forward</span></td>
                        <td><span wicket:id="comment2" name="comment2">Carry forward Balance</span></td>
                        <td style="text-align: right;"><b>Total Amount Paid $ <span wicket:id="total" name="total">100</span></b></td>
                    </tr>
                </tfoot>
                <tbody id="lists_body">  
                    <tr wicket:id="receiptItems">
                        <td style="text-align: left;">
                            <span wicket:id="debtComponent.product.code" name="debtComponent.product.code" class="form_field"></span>
                        </td>
                        <td style="text-align: left;">
                            <span wicket:id="debtComponent.transactionComponent.account.name" name="debtComponent.transactionComponent.account.name" class="form_field"></span>
                        </td>
                        <td style="text-align: left;">
                            <a href="#" name="lists_row_link" wicket:id="changePaymentPeriod">
                               |<span wicket:id="paymentPeriod" name="amount" class="form_field"></span>|
                            </a>
                        </td>
                        <td style="text-align: right;">
                            <span wicket:id="amount" name="amount" class="form_field"></span>
                        </td>                                       
                    </tr>
                </tbody>                
            </table>
            <p style="text-align: center;">----------------------Thank You----------------------</p>
        </div>
        <span wicket:id="showPaymentPeriod" name="amount" class="form_field"></span>
        <script>
            function printContent(el) {
                var restorepage = document.body.innerHTML;
                var printcontent = document.getElementById(el).outerHTML;
                document.body.outerHTML = printcontent;
                window.print();
                document.body.innerHTML = restorepage;
            }
        </script>
        <style>
            #receipt_div *{
                font-size: 12px !important;                
            }

            #receipt_div * td {
                border:none;
            }

            #receipt_div * b {
                font-weight: bold !important;
            } 

            #headBox {
                border:2px dotted #000;
                height:100px;
                width:100%;
            }
            #receipt {
                padding: 10px;                
            }
            @page  
            { 
                size: auto;                
                margin: 0mm 0mm 0mm 0mm;  
            }
        </style>
    </div>

    <br style="clear: both;"/> 

    <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
            <th colspan="1"><span name="type_name">Transaction Type</span></th>
            <th colspan="1"><span name="type_name">Carry Forward</span></th>
        </tr>
        <tr>
            <td>
                <span wicket:id="receiptHeader.transactionType" name="receiptHeader.transactionType">This</span>
            </td>
            <td>
                <span wicket:id="receiptHeader.carryForward" name="receiptHeader.carryForward">This</span>
            </td>             
        </tr>       
    </table>

    <br style="clear: both;"/> 
    <form wicket:id="form" style="float: right;">
        <button wicket:id="receiptDivPrint" onclick="printContent('receipt_div')">Print</button>
        <button wicket:id="print">Print</button>                        
    </form>

</wicket:panel>
