<wicket:extend>
    <h2><span name="type_name">Customer Name</span>:<span wicket:id="customer.customerName">Tobias Mudimu</span></h2>

    <span wicket:id="transactionDetailHistoryPanel">Transaction Detail History Panel</span>

    <div wicket:id="warningDialog">[warning]</div>
    <div wicket:id="warningDialog1">[warning]</div>

    <br style="clear: both;"> 
    <form wicket:id="form" style="float: right;">
        <button wicket:id="changeBank">Change Bank</button>                
        <button wicket:id="reverse">Cancel Payment</button> 
    </form>

</wicket:extend>