<wicket:panel>
    <div id="au_dialog" title="Transaction History">
        <div class="recordsData" id="select_list">
            <div id="select_list_results">     
                <table id="tableList" border="0" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr id="lists_header">
                            <th>Receipt Number</th>
                            <th>Date of Payment</th>
                            <th>Date of Deposit</th>
                            <th>Payment Method</th> 
                            <th>Total</th>                         
                            <th>Carry Forward</th> 
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>   
                    <tbody id="lists_body">
                        <tr wicket:id="eachItem">
                            <td>
                                <span wicket:id="receiptHeader.id"/>
                            </td>
                            <td>
                                <span wicket:id="dateOfPayment" name="lists_row_name"></span>                          
                            </td>                       
                            <td>
                                <span wicket:id="dateOfDeposit" name="lists_row_name"></span>
                            </td>
                            <td>
                                <span wicket:id="paymentMethod" name="lists_row_name"></span>
                            </td>
                            <td>
                                $ <span wicket:id="receiptHeader.totalAmount" name="lists_row_name"></span>
                            </td>
                            <td>
                                $<span wicket:id="receiptHeader.carryForward" name="lists_row_name"></span>
                            </td>
                            <td>
                                <span wicket:id="receiptHeader.canceled" name="lists_row_name"></span>
                            </td>
                            <td> 
                                <a name="list_edit_link" href="#" wicket:id="transactionDetailHistory">View</a>                        
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br/>
                <h1>Old Payments</h1>
                <table border="0" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr id="lists_header">
                            <th>Receipt Number</th>
                            <th>Purpose</th>
                            <th>Product</th>
                            <th>Receipt Date</th>
                            <th>Payment Method</th> 
                            <th>Date of Deposit</th>                         
                            <th>User</th> 
                            <th>Amount($)</th> 
                        </tr>
                    </thead>   
                    <tbody id="lists_body">
                        <tr wicket:id="oldEachItem">
                            <td>
                                <span wicket:id="receiptRecordID"/>
                            </td>
                            <td>
                                <span wicket:id="paymentPurpose" name="lists_row_name"></span>
                            </td>
                            <td>
                                <span wicket:id="product" name="lists_row_name"></span>
                            </td>
                            <td>
                                <span wicket:id="dateOfReceipt" name="lists_row_name"></span>                          
                            </td> 
                            <td>
                                <span wicket:id="paymentMethod" name="lists_row_name"></span>                          
                            </td>
                            <td>
                                <span wicket:id="transactionDate" name="lists_row_name"></span>
                            </td>
                            <td>
                                <span wicket:id="user" name="lists_row_name"></span>
                            </td>
                            <td>
                                <span wicket:id="lineTotal" name="lists_row_name"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</wicket:panel>
