<wicket:extend>
    <div class="recordsData">
        <div class="dataTable">
            <span wicket:id="registrantSnapShot"></span>
        </div>
        <!-- dataTable -->
    </div>
</wicket:extend>