<wicket:extend>

    <form wicket:id="signInForm" id="form1" method="post" action="login">
        <table border="0" cellspacing="0" cellpadding="0" class="loginTable">
            <tr>
                <td colspan="2">
                    <h2>Please Enter valid email(username)</h2>
                    <span style="font-size: 12px;">Enter your email.</span>
                    <hr>
                    <span wicket:id="errorMessage" id="error_message" name="error_message"></span>
                </td>
            </tr>
            <tr>
                <th>Email:</th>            
            </tr>
            <tr>
                <td><input wicket:id="email" type="text" name="email" value="demo"></td>
             
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Login" name="submit" class="button"/>
                </td>
            </tr>            
        </table>
    </form>
</wicket:extend>

