<wicket:extend>

    <form wicket:id="signInForm" id="form1" method="post" action="login">
        <table border="0" cellspacing="0" cellpadding="0" class="loginTable">
            <tr>
                <td colspan="2">
                    <h2>Please Log In</h2>
                    <span style="font-size: 12px;">Enter your email and password.</span>
                    <hr>
                    <span wicket:id="errorMessage" id="error_message" name="error_message"></span>
                </td>
            </tr>
            <tr>
                <th>Email:</th>
                <th>Password:</th>
            </tr>
            <tr>
                <td><input wicket:id="email" type="text" name="email" value="demo"></td>
                <td><input wicket:id="password" type="password" name="password"/></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Login" name="submit" class="button"/><span class="forgot"><a
                           wicket:id="forgotPasswordPage" href="#">Forget username or password?</a></span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a wicket:id="register">Register</a>
                </td>
            </tr>
        </table>
    </form>
</wicket:extend>

