<wicket:extend>
    <h1 class="header">
        <a href="#" wicket:id="administerDatabaseLink">Administer Database</a>: <span name="type_name">Exam Settings</span>
    </h1>
    <div id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th><span name="type_name">Exam Settings</span></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="name">Exam Period</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select wicket:id="examPeriod"/>
                            </span>
                        </p>    

                        <p>
                            <span class="field_head required_field">
                                <label for="name">Exam Year</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select wicket:id="examYear"/>
                            </span>
                        </p>    

                        <p>
                            <span class="field_head required_field">
                                <label for="name">Start Date</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="startDate" wicket:id="startDate" id="startDate" type="text" />
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="name">End Date</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="endDate" wicket:id="endDate" id="endDate" type="text" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="markingStartDate">Marking Start Date</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="markingStartDate" wicket:id="markingStartDate" id="markingStartDate" type="text" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="name">Marking End Date</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="markingEndDate" wicket:id="markingEndDate" id="markingEndDate" type="text" />
                            </span>
                        </p> 
                        <p>
                            <span class="field_head required_field">
                                <label for="active">Active</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="active" wicket:id="active" id="active" type="checkbox" />
                            </span>
                        </p> 
                    </td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td>
                    <div id="button">
                        <table style="width: 100%; border: none; padding: 0px; margin: 0px;">
                            <tr class="messageCell">
                                <td class="required_field">* - Required Field</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" class="button" value="Save" />
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a id="button_return" wicket:id="returnLink" href="#" name="add_return" class="button">return (do not save changes)</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr class="submitCell">
                <td>
                    <div id="admin_extra"></div>
                </td>
            </tr>
        </table>
    </form>
</wicket:extend>
