<wicket:extend>
    <h1 class="header">
        <a href="#" wicket:id="administerDatabaseLink">Administer Database</a>: <span name="type_name">Exam </span>
    </h1>
    <div id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th><span name="type_name">Exam </span></th>
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="modulePaper">Course Module Paper</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select wicket:id="modulePaper" id="modulePaper"/>
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="exam">Exam Date</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="examDate" wicket:id="examDate" id="examDate" type="text" />                                
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="exam">Exam Time</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="examTime" wicket:id="examTime" id="examTime" type="text" />                                
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="passMark">Pass Mark</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="passMark" wicket:id="passMark" id="passMark" type="text" />                            
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="name">Exam Period</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select wicket:id="examSetting"/>
                            </span>
                        </p>                                               

                    </td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td>
                    <div id="button">
                        <table style="width: 100%; border: none; padding: 0px; margin: 0px;">
                            <tr class="messageCell">
                                <td class="required_field">* - Required Field</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" class="button" value="Save" />
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a id="button_return" wicket:id="returnLink" href="#" name="add_return" class="button">return (do not save changes)</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr class="submitCell">
                <td>
                    <div id="admin_extra"></div>
                </td>
            </tr>
        </table>
    </form>
</wicket:extend>
