<wicket:extend>
    <h1>Examination Master Service</h1>
    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">

        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable customReportsTable">
            <tbody>
                <tr>
                    <th colspan="2">
                        Choose search options                        
                    </th>
                </tr>
            </tbody>
        </table>
        <table cellspacing="0" cellpadding="0" border="0" id="report_limits" class="multiFormTable toggable">
            <tbody>                                          
                <tr>
                    <td>Exam Setting</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="examSetting" wicket:id="examSetting"/>                                    
                        </div>
                    </td>
                </tr> 
                <tr>
                    <td>Course</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="course" wicket:id="course"/>                                    
                        </div></td>
                </tr> 
                <tr>
                    <td>Institution</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="institution" wicket:id="institution"/>                                    
                        </div></td>
                </tr>
                <tr>
                    <td>Paper</td>
                    <td><div title="Limit this field to be equal to the given value.">
                        <select name="paper" wicket:id="paper"/>
                    </div></td>
                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td style="text-align: left;"><h2>Used "Before" Examination results have been processed</h2></td>
                                </tr>
                                <tr class="submitCell">
                                    <td style="text-align: left;">                                     
                                        <input type="submit" class="button" value="Confirmation List" wicket:id="confirmationList" />
                                        <input type="submit" class="button" value="Entry List" wicket:id="entryList" />
                                        <input type="submit" class="button" value="Entry Cards" wicket:id="examinationCards" />
                                    </td>
                                </tr>
                                <tr class="submitCell">
                                    <td style="text-align: left;">                                     
                                        <input type="submit" class="button" value="Master list" wicket:id="masterlist" />
                                        <input type="submit" class="button" value="Full Exams" wicket:id="fullExam" /> 
                                        <input type="submit" class="button" value="All Registered" wicket:id="allCandidatesWhoRegistered" /> 
                                        <input type="submit" class="button" value="All Registered Per Course" wicket:id="allCandidatesWhoRegisteredPerCourse" /> 
                                   
                                    </td>
                                </tr>
                                <tr class="submitCell">
                                    <td style="text-align: left;">                                     
                                        <input type="submit" class="button" value="All Supplementary list" wicket:id="supplementarylist" />
                                        <input type="submit" class="button" value="Supplementary list Per Course" wicket:id="supplementaryCourselist" />
                                        <input type="submit" class="button" value="Supplement Per School List" wicket:id="supplementPerSchool" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td style="text-align: left;"><h2>Used "After" Examination results have been processed</h2></td>
                                </tr>
                                <tr class="submitCell">
                                    <td style="text-align: left;">                                     
                                        <input type="submit" class="button" value="Pass List" wicket:id="passed" />
                                        <input type="submit" class="button" value="Failure List" wicket:id="failed"   />
                                        <input type="submit" class="button" value="Disqaulified List" wicket:id="disqualified"   />
                                    </td>
                                </tr>
                                <tr class="messageCell">
                                    <td style="text-align: left;"><h2>Examination Processing</h2></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="submit" class="button" value="Order Candidate Number Marks List" wicket:id="markeredList" /> 
                                        <input type="submit" class="button" value="Order By School Marks List" wicket:id="markeredGroupBySchoolList" />
                                        <input type="submit" class="button" value="Schools Marks Sheet" wicket:id="markeredGroupBySchoolListSheet" />                                        
                                        <input type="submit" class="button" value="Schools Marks Sheet (Full)" wicket:id="markeredGroupBySchoolListSheetFull" />                                        
                                        <input type="submit" class="button" value="School Mark Sheet" wicket:id="examinationMarkeredBySchoolSheet" />                                        
                                        <input type="submit" class="button" value="School Marks List" wicket:id="markeredSchoolList" />                                         
                                        <input type="submit" class="button" value="Exams Committee Comment" wicket:id="examinationMarkedCommentReport" />                                                                                 
                                        <input type="submit" class="button" value="All Passed" wicket:id="allCandidatesWhoPassed" />
                                        <input type="submit" class="button" value="All Failed" wicket:id="allCandidatesWhoFailed"   />                                        
                                    </td>  
                                </tr>
                                <tr class="messageCell">
                                    <td style="text-align: left;"><h2>Examination Checking</h2></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="submit" class="button" value="Candidate List (Unclosed Examinations)" wicket:id="unclosedlist" />                                                                                 
                                        <input type="submit" class="button" value="Candidate List (Unclosed Examinations) by Course" wicket:id="unclosedByCourse" />                                                                                 
                                        <input type="submit" class="button" value="Examination Comments" wicket:id="examinationCandidateMarkedComment" />                                                                                 
                                        <input type="submit" class="button" value="Diploma List" wicket:id="examinationDiplomaBySchoolReport" />                                                                                 
                                        <input type="submit" class="button" value="All Who Passed Per Course" wicket:id="allWhoPassedPerCourse"   />                                        
                                        <input type="submit" class="button" value="Candidates who passed" wicket:id="passlist"   />                                        
                                        <input type="submit" class="button" value="Candidates who failed" wicket:id="failedlist"   />                                        
                                    </td>
                                </tr>
                                <tr class="messageCell">
                                    <td style="text-align: left;"><h2>Supplementary Processing</h2></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="submit" class="button" value="Supplementary Register" wicket:id="supplementarySummary"   />
                                        <input type="submit" class="button" value="Candidates who need to supplement" wicket:id="supplementlist"   />
                                        <input type="submit" class="button" value="Candidates who need council Approval to supplement" wicket:id="supplementApprovallist"   />
                                        <input type="submit" class="button" value="Candidates with suppressed results" wicket:id="suppressed"   />                                        
                                    </td>
                                </tr>
                                <tr class="messageCell">
                                    <td style="text-align: left;"><h2>Examination Statistics</h2></td>
                                </tr>
                                <tr>
                                    <td>                                        
                                        <input type="submit" class="button" value="Course Entry List(Total)" wicket:id="courseEntryList"   />                                        
                                        <input type="submit" class="button" value="Paper Entry List(Total)" wicket:id="examEntryListTotal"   />                                                                                
                                        <input type="submit" class="button" value="Institution Paper Entry List(Total)" wicket:id="institutionEntryList"   />                                        
                                    </td>
                                </tr>                                
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

</wicket:extend>

