<wicket:panel>
    <div wicket:id="feedback" id="error"></div>
    <div class="recordsData">
        <br style="clear: both;">  
        <div class="recordsData" id="select_list">
            <div id="select_list_results">
                Select Exam Paper 
                <table border="0" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr id="lists_header">
                            <th>

                                Module Paper</th>      

                            <th>Total Candidates</th>
                            
                            <th></th>

                            <th></th>

                            <th></th>

                        </tr>
                    </thead>
                    <tbody id="lists_body">
                        <tr wicket:id="examList">
                            <td>
                                <span wicket:id="modulePaper"/>
                            </td>
                            <td>
                                <span wicket:id="total"/>
                            </td>                            
                            <td>
                                <a href="#" name="lists_row_link" wicket:id="masterlist"> All Candidates</a>
                            </td>
                            <td>
                                <a href="#" name="lists_row_link" wicket:id="passlist">Pass List</a>
                            </td>
                            <td>
                                <a href="#" name="lists_row_link" wicket:id="failed">Failed</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div style="float:right" class="pager_display" id="select_list_pager_display">
                </div>	

            </div>
        </div>
    </div>
</wicket:panel>