<wicket:extend>
    <h1>View Results By Exam Paper</h1>
    
    <form wicket:id="form">
        <table cellspacing="0" cellpadding="0" border="0" id="report_limits" class="multiFormTable toggable">
            <tr>
                <th colspan="2"><span name="type_name">Select</span></th>
            </tr>
            <tbody>
                <tr>
                    <td>Exam Period</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="examSetting" wicket:id="examSetting"/>                                    
                        </div>
                    </td>
                </tr>
                <tr class="submitCell">
                    <td colspan="2">
                        <div id="button">
                            <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                                <tbody><tr class="messageCell">
                                        <td class="required_field"></td>
                                    </tr>
                                    <tr class="submitCell">
                                        <td>                                     
                                            <input type="submit" class="button" value="Process" />                                   
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

    <span wicket:id="examPanelReportList">Exam Panel List</span>

</wicket:extend>

