<wicket:panel>
    <div style="float:right" class="pager_display" id="select_list_pager_display">
        <h2><div wicket:id="navigator"></div></h2>
    </div>	
    <div class="recordsData" id="select_list">
        <div id="select_list_results">
            <table border="0" cellpadding="0" cellspacing="0">
                <thead>
                    <tr id="lists_header">
                        <th>Candidate Number</th>
                        <th>Course</th>
                        <th>Exam Settings</th>
                        <th>Exam Center</th>
                        <th>Pass Status</th>                        
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="lists_body">
                    <tr wicket:id="examRegistrationsList">
                        <td>                            
                            <span wicket:id="candidateNumber" name="lists_row_name"></span>
                        </td>
                        <td>                            
                            <span wicket:id="registration.course" name="lists_row_name"></span>
                        </td>                        
                        <td>
                            <span wicket:id="examSetting" name="lists_row_name"></span>
                        </td>    
                        <td>
                            <span wicket:id="institution" name="lists_row_name"></span>
                        </td>                      
                        <td>
                            <span wicket:id="passTextStatus" name="lists_row_name"></span>
                        </td>
                        <td>
                            <a href="#" name="lists_row_link" wicket:id="examRegistrationEditPage">
                                Edit
                            </a>
                        </td>
                        <td>
                            <a href="#" name="lists_row_link" wicket:id="examResultPage">
                                View
                            </a>
                        </td>     
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br />
</wicket:panel>
