
<wicket:extend>

    <h1>View <span name="type_name">Exam Settings</span>:
    </h1>

    <div class="recordsData">
        <h3>
            <span name="type_name">Exam Settings</span> Information</h3>

        <div id="list_display" class="recordsData">

            <div class="editRecord">
                <p>Edit This Information</p>
                <ul>
                    <li id="list_edit_link_node">
                        <a name="list_edit_link" href="#" wicket:id="editLink">Update this Information</a>
                    </li>
                    <li id="list_view_link_node">
                        <a name="list_view_link" href="#" wicket:id="returnLink">
                            Select another <span name="type_name">Exam Settings</span>
                        </a>
                    </li>
                </ul>
            </div> <!-- editRecord -->

            <div class="dataTable">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <th colspan="2"><span name="type_name">Exam Settings</span></th>
                        </tr>

                        <tr>
                            <td>
                                <span class="field_head">
                                    <label>Exam Period</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="examPeriod">period</span>
                                </b>
                            </td>
                        </tr>

                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Year</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="examYear">year</span>
                                </b>
                            </td>
                        </tr>

                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Start Date</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span class="form_field" wicket:id="startDate">sample</span>
                                </b>
                            </td>
                        </tr>

                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>End Date</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="endDate" class="form_field"></span>
                                </b>
                            </td>
                        </tr>  

                        <tr class="">
                            <td>
                                <span class="field_head">
                                    <label>Marking Start Date</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="markingStartDate" class="form_field"></span>
                                </b>
                            </td>
                        </tr>

                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Markind End Date</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="markingEndDate" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        
                        <tr class="even">
                            <td>
                                <span class="field_head">
                                    <label>Active Status</label>
                                </span>:
                            </td>
                            <td>
                                <b>
                                    <span wicket:id="activePeriod" class="form_field"></span>
                                </b>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div> <!-- dataTable -->

        </div>

        <br style="clear: both;">
    </div> <!-- recordsData -->

    <span wicket:id="examPanelList">Exam Panel List</span>

</wicket:extend>
