
<wicket:extend>
    <h1 class="header">
        <a wicket:id="administerDatabaseLink" href="#">Administer Database</a>: <span name="type_name">Exam</span>
    </h1>

    <span name="list_is_writable">
        <a href="#" wicket:id="addNewLink" name="add_type" class="add_new_link">
            Add New Exam          
        </a>
    </span>
    <div class="recordsData" id="select_list">
        <div id="select_list_results">
            <table id="tableList" cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr id="lists_header">
                        <th rowspan="3">
                           Module Paper</th>      
                        <th>Exam Date</th>
                        <th>Exam Time</th>
                        <th>Exam Period</th>
                    </tr>
                </thead>
                <tbody id="lists_body">
                    <tr wicket:id="eachItem">
                        <td>
                            <span wicket:id="modulePaper" name="lists_row_name">Name</span>
                        </td>
                        <td>
                            <a href="#" name="lists_row_link" wicket:id="viewLink">
                                <span wicket:id="examDate" name="lists_row_name">Exam Date</span>
                            </a>
                        </td>
                        <td>
                            <span wicket:id="examTime" name="lists_row_name">Period</span>
                        </td>
                        <td>
                            <span wicket:id="examSetting" name="lists_row_name">Period</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="float:right" class="pager_display" id="select_list_pager_display">
            </div>	

        </div>
    </div>
    <br />
    <p>
        <a href="#" wicket:id="returnLink" class="button">return</a>
    </p>
</wicket:extend>
