<wicket:extend>
    <h1>Administrator - Change Exam Settings</h1>
    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">

        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable customReportsTable">
            <tbody>
                <tr>
                    <th colspan="2">
                        Choose, Note Please be Patient, changing this data will take a lot of time.
                    </th>
                </tr>
            </tbody>
        </table>
        <table cellspacing="0" cellpadding="0" border="0" id="report_limits" class="multiFormTable toggable">
            <tbody>                                          
                <tr>
                    <td>Current Exam Setting</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="examSetting" wicket:id="examSetting"/>                                    
                        </div>
                    </td>
                </tr> 
                <tr>
                    <td>New Exam Setting</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="newExamSetting" wicket:id="newExamSetting"/>                                    
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Course</td>
                    <td><div title="Limit this field to be equal to the given value.">
                            <select name="course" wicket:id="course"/>                                    
                        </div></td>
                </tr>      
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td style="text-align: left;"><h2>This will change the exam period of all those in selected course
                                            Please be sure before attempting to do this. Note This will take time please be patient.
                                        </h2></td>
                                </tr>
                                <tr class="submitCell">
                                    <td style="text-align: left;">                                     
                                        <input type="submit" class="button" value="Process" wicket:id="process" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

</wicket:extend>

