<wicket:panel>
    <div class="recordsData">
        <h3>
            <span name="type_name">Exam Papers</span> Information
        </h3>       
        <br style="clear: both;">  

        <div class="recordsData" id="select_list">
            <div id="select_list_results">

                Select <span name="type_name">Exam Settings</span> to edit
                <table border="0" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr id="lists_header">
                            <th>

                                Module Paper</th>      

                            <th>Exam Date</th>

                            <th>Exam Setting</th>

                            <th></th>

                        </tr>
                    </thead>
                    <tbody id="lists_body">


                        <tr wicket:id="examList">

                            <td>
                                <span wicket:id="modulePaper" name="lists_row_name">Name</span>
                            </td>
                            <td>                                
                                <span wicket:id="examDate" name="lists_row_name">Exam Date</span>                
                            </td>
                            <td>
                                <span wicket:id="examSetting" name="lists_row_name">Period</span>

                            </td>
                            <td>
                                <a name="list_edit_link" href="#" wicket:id="viewLink">View</a>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <div style="float:right" class="pager_display" id="select_list_pager_display">
                </div>	

            </div>
        </div>
    </div>
</wicket:panel>
