<wicket:extend>

    <h1>Examinations</h1>

    <div>
        <h2><a href="#" wicket:id="examRegistrationSearchPage">Exam Candidates Search </a></h2>
        <p>Search Individuals to by candidate number, institution, exam setting and exam</p>
        <hr />
    </div>  

    <div>
        <h2><a href="#" wicket:id="examinationConfirmationPage">Exam Confirmation List</a></h2>
        <p>List, view and create examination confirmation lists</p>
        <hr />
    </div>

    <div>
        <h2><a href="#" wicket:id="examinationCardPage">Examination Entry Cards</a></h2>
        <p>List, view and create examination entry cards for institutions and individuals</p>
        <hr />
    </div>    

    <div>
        <h2><a href="#" wicket:id="examinationMarkerPage">Examination Markers List</a></h2>
        <p>List, view and create examination makers list</p>
        <hr />
    </div>

    <div>
        <h2><a href="#" wicket:id="examinationMasterPage">Examination Service</a></h2>
        <p>View Candidate Master List,Supplementary List and Full Exam List</p>
        <hr />
    </div> 

</wicket:extend>
