
<wicket:extend>
    <h1 class="header">
        <a wicket:id="administerDatabaseLink" href="#">Administer Database</a>: <span name="type_name">Exam Settings</span>
    </h1>

    <span name="list_is_writable">
        <a href="#" wicket:id="addNewLink" name="add_type" class="add_new_link">
            Add new 
            <span name="type_name">Exam Settings</span>
        </a>
    </span>

    <div class="recordsData" id="select_list">
        <div id="select_list_results">

            Select <span name="type_name">Exam Settings</span> to edit
            <table border="0" cellpadding="0" cellspacing="0">
                <thead>
                    <tr id="lists_header">
                        <th rowspan="3">

                            Period</th> 

                        <th>Year</th>

                        <th>Start Date</th>

                        <th>End Date</th>

                        <th>Active</th>


                    </tr>
                </thead>
                <tbody id="lists_body">


                    <tr wicket:id="eachItem">

                        <td>
                            <a href="#" name="lists_row_link" wicket:id="viewLink">
                                <span wicket:id="examPeriod" name="lists_row_name">Name</span>
                            </a>
                        </td>

                        <td>
                            <span wicket:id="examYear" name="lists_row_name">Exam Year</span>
                        </td>

                        <td>
                            <span wicket:id="startDate" name="lists_row_name">Start Date</span>
                        </td>
                        <td>

                            <span wicket:id="endDate" name="lists_row_name">End Date</span>

                        </td>

                        <td>
                            <span wicket:id="activePeriod" name="lists_row_name">Active Status</span>
                        </td>
                    </tr>

                </tbody>
            </table>
            <div style="float:right" class="pager_display" id="select_list_pager_display">
            </div>	

        </div>
    </div>
    <br />
    <p>
        <a href="#" wicket:id="returnLink" class="button">return</a>
    </p>
</wicket:extend>
