<wicket:panel>
    <div class="recordsData">
        <h3>
            <span name="type_name">Exam Papers</span> Information
        </h3>       
        <br style="clear: both;">  

        <div class="recordsData" id="select_list">
            <div id="select_list_results">
                <table border="0" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr id="lists_header">
                            <th>Module Paper</th>      
                        </tr>
                    </thead>
                    <tbody id="lists_body">


                        <tr wicket:id="paperList">

                            <td>
                                <span wicket:id="name" name="lists_row_name">Name</span>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <div style="float:right" class="pager_display" id="select_list_pager_display">
                </div>	

            </div>
        </div>
    </div>
</wicket:panel>