<wicket:extend>
    <h1 class="header">
        <span name="type_name">Examination Result - Candidate <span wicket:id="examRegistration.candidateNumber" class="form_field"></span></span>
    </h1>
    <h2> Registrant : <span wicket:id="examRegistration.registration.registrant.fullname" class="form_field"></span></h2>
    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th rowspan="2"><span name="type_name">Exam Result</span></th>         
            </tr>
            <tbody id="list_fields">
                <tr>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="name">Exam</label>
                            </span>
                            <br />                
                            <span class="form_field">
                                <span wicket:id="exam"/>
                            </span>
                        </p>

                        <p>
                            <span class="field_head required_field">
                                <label for="name">Exam Period</label>
                            </span>
                            <br />
                            <span class="form_field">
                                <span wicket:id="examRegistration.examSetting"/>                                
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="mark">Attendance</label>*
                            </span>
                            <br />                       
                            <span class="form_field">
                                <input type="checkbox" wicket:id="examAttendance" name="examAttendance"/>
                            </span>
                        </p>  
                        <p>
                            <span class="field_head required_field">
                                <label for="mark">Mark</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="mark" wicket:id="mark" id="mark" type="text" title="Absolute Numbers only" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="mark">Disqualified</label>*
                            </span>
                            <br />                       
                            <span class="form_field">
                                <input type="checkbox" wicket:id="disqualified" name="examAttendance"/>
                            </span>
                        </p>
                    </td>                    
                </tr>               
            </tbody>
            <tr class="submitCell">
                <td>
                    <div id="button">
                        <table style="width: 100%; border: none; padding: 0px; margin: 0px;">
                            <tr class="messageCell">
                                <td class="required_field">* - Required Field</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" class="button" value="Save" />
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <a id="button_return" wicket:id="returnLink" href="#" name="add_return" class="button">return (do not save changes)</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr class="submitCell">
                <td>
                    <div id="admin_extra"></div>
                </td>
            </tr>
        </table>
    </form>
</wicket:extend>
