
    <wicket:extend>

        <h1>View <span name="type_name">Exam</span>:
        </h1>

        <div class="recordsData">
            <h3>
                <span name="type_name">Exams</span> Information</h3>

            <div id="list_display" class="recordsData">

                <div class="editRecord">
                    <p>Edit This Information</p>
                    <ul>
                        <li id="list_edit_link_node">
                            <a name="list_edit_link" href="#" wicket:id="editLink">Update this Information</a>
                        </li>
                        <li id="list_view_link_node">
                            <a name="list_view_link" href="#" wicket:id="returnLink">
                                Select another <span name="type_name">Exam</span>
                            </a>
                        </li>
                    </ul>
                </div> <!-- editRecord -->

                <div class="dataTable">
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <th colspan="2"><span name="type_name">Exam Settings</span></th>
                            </tr>

                            <tr class="">
                                <td>
                                    <span class="field_head">
                                        <label>Course Module Paper</label>
                                    </span>:
                                </td>
                                <td>
                                    <b>
                                        <span class="form_field" wicket:id="modulePaper">sample</span>
                                    </b>
                                </td>
                            </tr>

                            <tr class="even">
                                <td>
                                    <span class="field_head">
                                        <label>Exam Date</label>
                                    </span>:
                                </td>
                                <td>
                                    <b>
                                        <span wicket:id="examDate" class="form_field"></span>
                                    </b>
                                </td>
                            </tr>
                                          
                            <tr class="">
                                <td>
                                    <span class="field_head">
                                        <label>Exam Setting</label>
                                    </span>:
                                </td>
                                <td>
                                    <b>
                                        <span wicket:id="examSetting" class="form_field"></span>
                                    </b>
                                </td>
                            </tr>
                                                        
                            <tr class="even">
                                <td>
                                    <span class="field_head">
                                        <label>Pass Mark</label>
                                    </span>:
                                </td>
                                <td>
                                    <b>
                                        <span wicket:id="passMark" class="form_field"></span>
                                    </b>
                                </td>
                            </tr>
                            
                            
                        </tbody>
                    </table>
                </div> <!-- dataTable -->

            </div>

            <br style="clear: both;">
        </div> <!-- recordsData -->

    </wicket:extend>
