<wicket:extend>
    <h1>Add/Update Exam Registration Information</h1>
    <h2><span name="type_name">Registrant</span>:<span wicket:id="registration.registrant.fullname" class="form_field"></span></h2>

    <div wicket:id="feedback" id="error"></div>
    <form wicket:id="form">
        <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2"><span name="type_name">Exam Registration</span></th>
            </tr>
            <tbody id="list_fields">
                <tr>                  
                    <td>                        
                        <p>
                            <span class="field_head required_field">
                                <label for="registrationDate">Registration Date</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="registration.registrationDate" wicket:id="registration.registrationDate" id="registrationDate" type="text" />
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="registration.course">Discipline</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <span wicket:id="registration.course"/>                                    
                            </span>
                        </p>                        
                        <p>
                            <span class="field_head required_field">
                                <label for="registration.institution">Training School </label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="registration.institution" wicket:id="registration.institution"/>                                    
                            </span>
                        </p>
                    </td>
                    <td>
                        <p>
                            <span class="field_head required_field">
                                <label for="candidateNumber">Candidate Number</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <input name="candidateNumber" wicket:id="candidateNumber" id="candidateNumber" type="text" />
                            </span>
                        </p>                        
                        <p>
                            <span class="field_head required_field">
                                <label for="institution">Exam Center</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                <select name="institution" wicket:id="institution"/>                                    
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="examSetting">Exam Period</label>*
                            </span>
                            <br />
                            <span class="form_field">
                                 <select name="examSetting" wicket:id="examSetting"/>                                    
                            </span>
                        </p>
                        <p>
                            <span class="field_head required_field">
                                <label for="mark">Suppress</label>*
                            </span>
                            <br />                       
                            <span class="form_field">
                                <input type="checkbox" wicket:id="suppressed" name="suppressed"/>
                            </span>
                        </p> 
                           <p>
                            <span class="field_head required_field">
                                <label for="mark">Reverse Result</label>*
                            </span>
                            <br />                       
                            <span class="form_field">
                                <input type="checkbox" wicket:id="reversedResult" name="reversedResult"/>
                            </span>
                        </p> 
                         <p>
                            <span class="field_head required_field">
                                <label for="mark">Close</label>*
                            </span>
                            <br />                       
                            <span class="form_field">
                                <input type="checkbox" wicket:id="closed" name="closed"/>
                            </span>
                        </p> 
                        <p>
                            <span class="field_head required_field">
                                <label for="mark">Comment</label>*
                            </span>
                            <br />                       
                            <span class="form_field">
                                <input type="text" wicket:id="comment" name="comment"/>
                            </span>
                        </p> 
                    </td> 
                </tr>
            </tbody>
            <tr class="submitCell">
                <td colspan="2">
                    <div id="button">
                        <table cellspacing="0" cellpadding="0" border="0" class="multiFormTable">
                            <tbody><tr class="messageCell">
                                    <td class="required_field">* - Required Field</td>
                                </tr>
                                <tr class="submitCell">
                                    <td>
                                        <a id="button_return" wicket:id="registrantViewPage" href="#" name="add_return" class="button">return (do not save changes)</a>
                                        <input type="submit" class="button" value="Save" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>

</wicket:extend>
