<wicket:extend>    
    <h2>View Registrant - <span wicket:id="registrant.fullname" class="form_field"/>
    <span wicket:id="fullname" class="form_field"/>
    </h2>


    <!-- Registrant Data List Panel -->
    <span wicket:id="examRegistrationDataListPanel">Exam Registrations List</span>
    <!-- End  -->

</wicket:extend>
