<wicket:extend>
    <h1><span wicket:id="registration.registrant.fullname" class="form_field"></span> (Candidate Number <span wicket:id="candidateNumber" class="form_field"></span>  )
        Exam Results 
    </h1>
    <h2>
        <span name="type_name">Exam Period</span> [ <span wicket:id="examSetting" class="form_field"></span> ]
        &nbsp; <span name="type_name">Course </span> [ <span wicket:id="registration.course"></span> ]
    </h2>    

    <div id="error"></div>

    <form wicket:id="form">        
        <button wicket:id="registrantExaminationsPage">Back</button>
        <button wicket:id="examRegistrationCommentPage">Markers Comment</button> 
        <button wicket:id="closeExam">Confirm Final Result</button>  
        <button style="float: right;" wicket:id="examRegistrationSearchPage">Process Another Candidate</button>
    </form>

    <div wicket:id="warningDialog">[warning]</div>    

    <!-- Results List -->
    <span wicket:id="examResultsPanelList">Results</span>
    <!-- End  -->

</wicket:extend>
