<wicket:panel>
    <div class="recordsData">
        <h3>
            <span name="type_name">Exam Status - <span wicket:id="passTextStatus" class="form_field"></span></span>
        </h3>       
        <br style="clear: both;">  

        <div class="recordsData" id="select_list">
            <div id="select_list_results">               
                <table border="0" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr id="lists_header">
                            <th>
                                Module Paper</th>
                            <th>Mark</th>
                            <th>Exam Period</th>
                            <th>Exam Attendance</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="lists_body">
                        <tr wicket:id="examResultsList">
                            <td>
                                <span wicket:id="exam" name="lists_row_name">Name</span>
                            </td>
                            <td>
                                <span wicket:id="mark" name="lists_row_name">Mark</span>
                            </td>
                            <td>
                                <span wicket:id="examinationPeriod" name="lists_row_name">Period</span>
                            </td>
                            <td>
                                <span wicket:id="examAttendanceStatus" name="lists_row_name">ExamAttendanceStatus</span>
                            </td>                            
                            <td>
                                <span wicket:id="status" name="lists_row_name">status</span>
                            </td>                            
                            <td>                               
                                <a href="#" name="lists_row_link" wicket:id="editExamResult">
                                    Set
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h3>
                    <span name="type_name">Exams Committee Comment - <span wicket:id="passComment" class="form_field"></span></span>
                </h3>  
            </div>
        </div>
    </div>
</wicket:panel>